<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-warning">
            <div class="card-header">
              <h3 class="card-title">Update your Agreement statement (terms & conditions)</h3>
            </div>
            <form role="form" @submit.prevent="createAgreement">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>
                        Agreement statment
                        <small
                          style="color: red;"
                        >(This ensures that any personnel that wants to stay in your hotel will have a full statement or your terms and conditions)</small>
                      </label>
                      <wysiwyg v-model="agreement" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Drivers</h3>

              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 350px;">
                  <input
                    type="text"
                    name="table_search"
                    class="form-control float-right"
                    placeholder="Search"
                  />

                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="max-height: 540px;">
              <table class="table table-head-fixed">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(agreement, index) in agreements" :key="agreement.id">
                    <td>{{ index + 1 }}</td>
                    <td>{{ agreement.agreement }}</td>
                    
                    <td>
                      <delete-component
                        :route="'agreement'"
                        :id="agreement.id"
                        :getResult="getDriver"
                      ></delete-component>
                      <edit-roomtype-component
                        :driver="agreements"
                        :id="agreements[index].id"
                        :driverName.sync="agreements[index].agreement"
                      ></edit-roomtype-component>
                      <button
                        class="btn btn-sm btn-icon btn-primary"
                        @click="showEditModal(agreement.id)"
                      >
                        <i class="fas fa-edit"></i>
                      </button>
                      <button
                        class="btn btn-sm btn-icon btn-danger"
                        @click="showDeleteModal(agreement.id)"
                      >
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      agreement: null,
      isLoading: false,
      agreements: {},
      errors: Errors
    };
  },
  mounted() {
    this.getAgreement();
  },
  methods: {
    createAgreement: function() {
      this.isLoading = true;
      const form = {
        agreement: this.agreement
      };
      axios
        .post("/agreement/create", form)
        .then(response => {
          this.isLoading = false;
          this.clearPopulatedData();
          this.alert(response);
          this.getAgreement();
      })
      .catch(error => {
          this.isLoading = false;
          console.log(error.response);
      });
    },
    getDriver() {
      axios
        .get("/tour/agreement/all")
        .then(response => {
          this.agreements = response.data;
        })
        .catch(error => {
          console.log(error.response);
        });
    },
    clearPopulatedData: function() {
      this.agreement = null;
    },
    alert(response) {
      this.$swal.fire({
        title: "Agreement",
        text: response.data.message,
        icon: "success"
      });
    }
  },
  watch: {
    
  }
};
</script>

<style>
</style>