<template>
  <div class="tab-pane" id="three">
    <div class="timePiker"></div>

    <div class="baner-bar cars-bar">
      <div class="row">
        <div class="col-md-6">
          <div class="hotels-block">
            <h4>Car Name</h4>
            <div class="input-style-1">
              <input type="text" placeholder="Car Name" required />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="hotels-block">
            <h4>Pick-up and Drop-off</h4>
            <div class="input-style-1">
              <date-range-picker
                style="width: 100%; border-radius: 0px; background: #fff; height: 40px; border: none;"
                :showWeekNumbers="true"
                v-model="dateRange"
              ></date-range-picker>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 15px;">
        <div class="col-md-8">
          <div class="range-wrapp">
            <h4>Price range</h4>
            <div
              class="slider-range"
              data-counter="$"
              data-position="start"
              data-from="0"
              data-to="5000"
              data-min="0"
              data-max="5000"
            >
              <div class="range"></div>
              <input type="text" class="amount-start" readonly value="$0" />
              <input type="text" class="amount-end" readonly value="$1500" />
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div style="padding-left: 0px; margin-top: 30px;">
            <button
              class="btn btn-block btn-success"
              type="submit"
              style="width: 100%; margin-top: 0px; padding: 10px;"
            >
              search now
              <span class="fa fa-search" style="margin-left: 8px;"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dateRange: {
        startDate: "2019-12-26",
        endDate: "2019-12-28"
      }
    };
  }
};
</script>
