<template>
  <div class="tab-pane active in" id="two">
    <div class="timePiker"></div>
    <div class="baner-bar cars-bar">
      <div class="simple-tab type-2 tab-wrapper">
        <div class="tab-nav-wrapper">
          <div class="nav-tab clearfix">
            <div class="nav-tab-item active">Roundtrip</div>
            <div class="nav-tab-item">One way</div>
          </div>
        </div>
        <div class="divider"></div>
        <div class="tabs-content clearfix">
          <roundtrip></roundtrip>
          <one-way></one-way>
          <multicity></multicity>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>
<style scoped>
.divider {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: 0px;
  border-top: 1px solid #ffffff40;
}
</style>
