<template>
  <div class="tab-pane" id="one">
    <form action="#" class="hotel-filter">
      <div class="baner-bar">
        <div class="row">
          <div class="col-md-4">
            <div class="hotels-block">
              <h4>Hotel</h4>
              <div class="input-style-1">
                <input type="text" placeholder="Enter a hotel name" required />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="hotels-block">
              <h4>Check In - Check Out</h4>
              <div class="input-style-1">
                <date-range-picker
                  style="width: 100%; border-radius: 0px; background: #fff; height: 40px; border: none;"
                  :showWeekNumbers="true"
                  v-model="dateRange"
                ></date-range-picker>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <div class="hotels-block">
              <h4>rooms</h4>
              <select name="rooms" class="form-control" style="height: 40px;">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>
          </div>

          <div class="col-md-2">
            <div class="hotels-block">
              <h4>Adult</h4>

              <select name="adult" class="form-control" style="height: 40px;">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 15px;">
          <div class="col-md-8">
            <div class="range-wrapp">
              <h4>Price range</h4>
              <div
                class="slider-range"
                data-counter="$"
                data-position="start"
                data-from="0"
                data-to="5000"
                data-min="0"
                data-max="5000"
              >
                <div class="range"></div>
                <input type="text" class="amount-start" readonly value="$0" />
                <input type="text" class="amount-end" readonly value="$1500" />
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div style="padding-left: 0px; margin-top: 30px;">
              <button
                class="btn btn-block btn-success"
                type="submit"
                style="width: 100%; margin-top: 0px; padding: 10px;"
              >
                search now
                <span class="fa fa-search" style="margin-left: 8px;"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dateRange: {
        startDate: "2019-12-26",
        endDate: "2019-12-28"
      }
    };
  }
};
</script>
