<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Bookings</h3>

              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 350px;">
                  <input
                    type="text"
                    name="table_search"
                    class="form-control float-right"
                    placeholder="Search"
                  />

                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="max-height: 540px;">
              <table class="table table-head-fixed">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Owner</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(owner, index) in owners" :key="owner.id">
                    <td>{{ index + 1 }}</td>
                    <td v-if="usertype == 'tour'">{{ user.tour_owners.company_name }}</td>
                    <td v-if="usertype == 'car'">{{ user.car_company_owners.company_name }}</td>
                    <td v-if="usertype == 'hotel'">{{ user.hotel_owners.company_name }}</td>
                    <td v-if="usertype == 'home'">{{ user.firstname + ' ' + user.lastname }}</td>
                    <td>
                      <a href="#" class="btn btn-sm btn-icon btn-primary">
                        <i class="fa fa-eye"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: ["usertype"],
  data() {
    return {
      owners: {}
    };
  },
  methods: {
    getOwners: function() {
      axios
        .get("/admin/booking/owners/" + this.usertype)
        .then(response => {
          this.owners = response.data;
        })
        .catch(error => {
          console.log(error.response);
        });
    }
  }
};
</script>

<style>
</style>
