<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">{{ usertype }}</h3>

              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 350px;">
                  <input
                    type="text"
                    name="table_search"
                    class="form-control float-right"
                    placeholder="Search"
                  />

                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="max-height: 540px;">
              <table class="table table-head-fixed" v-if="usertype == 'customers'">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Photo</th>
                    <th>Phone Number</th>
                    <th>Phone Number2</th>
                    <th>Phone Number3</th>
                    <th>Nationality</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(user, index) in users.data" :key="user.id">
                    <td>{{ index + 1 }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                      <img :src="user.photo" style="border-radius: 50%;" height="50" width="50" />
                    </td>
                    <td>{{ user.phone_number }}</td>
                    <td>{{ user.phone2 }}</td>
                    <td>{{ user.phone3 }}</td>
                    <td>{{ user.nationality }}</td>
                    <td>
                      <delete-component :route="'admin/users'" :id="user.id" :getResult="getUsers"></delete-component>
                      <button
                        class="btn btn-sm btn-icon btn-danger"
                        @click="showDeleteModal(amenity.id)"
                      >
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-head-fixed" v-else>
                <thead>
                  <tr>
                    <th>#</th>
                    <th v-if="usertype == 'home'">Name</th>
                    <th v-else>Companyname</th>
                    <th>User Cancellation Time</th>
                    <th>User Reschedule Time</th>
                    <th>User Cancellation Refund amount percentage</th>
                    <th>User Reschedule Refund amount percentage</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(user, index) in users.data" :key="user.id">
                    <td>{{ index + 1 }}</td>
                    <td v-if="usertype == 'tour'">{{ user.tour_owners.company_name }}</td>
                    <td v-if="usertype == 'car'">{{ user.car_company_owners.company_name }}</td>
                    <td v-if="usertype == 'hotel'">{{ user.hotel_owners.company_name }}</td>
                    <td v-if="usertype == 'home'">{{ user.firstname + ' ' + user.lastname }}</td>

                    <td v-if="usertype == 'tour'">{{ user.tour_owners.user_cancellation_time }}</td>
                    <td
                      v-if="usertype == 'car'"
                    >{{ user.car_company_owners.user_cancellation_time }}</td>
                    <td v-if="usertype == 'hotel'">{{ user.hotel_owners.user_cancellation_time }}</td>
                    <td v-if="usertype == 'home'">{{ user.home_owners.user_cancellation_time }}</td>

                    <td v-if="usertype == 'tour'">{{ user.tour_owners.user_reschedule_time }}</td>
                    <td v-if="usertype == 'car'">{{ user.car_company_owners.user_reschedule_time }}</td>
                    <td v-if="usertype == 'hotel'">{{ user.hotel_owners.user_reschedule_time }}</td>
                    <td v-if="usertype == 'home'">{{ user.home_owners.user_reschedule_time }}</td>

                    <td
                      v-if="usertype == 'tour'"
                    >{{ user.tour_owners.user_cancellation_refund_amount }}</td>
                    <td
                      v-if="usertype == 'car'"
                    >{{ user.car_company_owners.user_cancellation_refund_amount }}</td>
                    <td
                      v-if="usertype == 'hotel'"
                    >{{ user.hotel_owners.user_cancellation_refund_amount }}</td>
                    <td
                      v-if="usertype == 'home'"
                    >{{ user.home_owners.user_cancellation_refund_amount }}</td>

                    <td
                      v-if="usertype == 'tour'"
                    >{{ user.tour_owners.user_reschedule_refund_amount }}</td>
                    <td
                      v-if="usertype == 'car'"
                    >{{ user.car_company_owners.user_reschedule_refund_amount }}</td>
                    <td
                      v-if="usertype == 'hotel'"
                    >{{ user.hotel_owners.user_reschedule_refund_amount }}</td>
                    <td
                      v-if="usertype == 'home'"
                    >{{ user.home_owners.user_reschedule_refund_amount }}</td>

                    <td>
                      <delete-component :route="'admin/users'" :id="user.id" :getResult="getUsers"></delete-component>
                      <button
                        class="btn btn-sm btn-icon btn-danger"
                        @click="showDeleteModal(user.id)"
                      >
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination :data="users" @pagination-change-page="getUsers"></pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: ["usertype"],
  data() {
    return {
      users: {}
    };
  },
  mounted() {
    this.getUsers();
  },
  methods: {
    getUsers() {
      axios
        .get("/admin/users/get/" + this.usertype)
        .then(response => {
          this.users = response.data;
        })
        .catch(error => {
          console.log(error.response);
        });
    }
  }
};
</script>

<style>
</style>
