<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <a class="card card-widget widget-user" href="/admin/users/customers">
            <div
              style="position:absolute; top: 0px; left:0px; width: 100%; height: 100%; background: #00000080;"
            ></div>
            <div
              class="widget-user-header text-white"
              style="background: url('/post/dist/img/photo2.png') center center;"
            >
              <h5
                class="widget-user-desc text-right"
                style="z-index: 2; position: absolute; right: 20px;"
              >Customers</h5>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a class="card card-widget widget-user" href="/admin/users/tour">
            <div
              style="position:absolute; top: 0px; left:0px; width: 100%; height: 100%; background: #00000080;"
            ></div>
            <div
              class="widget-user-header text-white"
              style="background: url('/post/dist/img/photo1.png') center center;"
            >
              <h5
                class="widget-user-desc text-right"
                style="z-index: 2; position: absolute; right: 20px;"
              >Tour</h5>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a class="card card-widget widget-user" href="/admin/users/hotel">
            <div
              style="position:absolute; top: 0px; left:0px; width: 100%; height: 100%; background: #00000080;"
            ></div>
            <div
              class="widget-user-header text-white"
              style="background: url('/post/dist/img/photo2.png') center center;"
            >
              <h5
                class="widget-user-desc text-right"
                style="z-index: 2; position: absolute; right: 20px;"
              >Hotel</h5>
            </div>
          </a>
        </div>
        <div class="col-md-6">
          <a class="card card-widget widget-user" href="/admin/users/home">
            <div
              style="position:absolute; top: 0px; left:0px; width: 100%; height: 100%; background: #00000080;"
            ></div>
            <div
              class="widget-user-header text-white"
              style="background: url('/post/dist/img/photo2.png') center center;"
            >
              <h5
                class="widget-user-desc text-right"
                style="z-index: 2; position: absolute; right: 20px;"
              >Home/Property</h5>
            </div>
          </a>
        </div>
        <div class="col-md-6">
          <a class="card card-widget widget-user" href="/admin/users/car">
            <div
              style="position:absolute; top: 0px; left:0px; width: 100%; height: 100%; background: #00000080;"
            ></div>
            <div
              class="widget-user-header text-white"
              style="background: url('/post/dist/img/photo1.png') center center;"
            >
              <h5
                class="widget-user-desc text-right"
                style="z-index: 2; position: absolute; right: 20px;"
              >Car Dealership</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style>
</style>
