<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 mb-4">
          <a class="btn btn-primary" href="/home/property">
            <i class="fas fa-eye"></i> view Property
          </a>
        </div>
        <div class="col-md-12">
          <div class="card card-warning">
            <div class="card-header">
              <h3 class="card-title">Create Property</h3>
            </div>
            <form
              role="form"
              @submit.prevent="createProperty"
              @keydown="errors.clearErr($event.target.name)"
            >
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Property Name</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Property Name"
                        v-model="name"
                        name="name"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Property Type</label>
                      <select
                        class="custom-select"
                        v-model="propertytype"
                        name="propertytype"
                        required
                      >
                        <option value="0" disabled>Select Property Type</option>
                        <option
                          v-for="(type, index) in roomtypez"
                          :value="type.id"
                          :key="index"
                        >{{ type.name }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Property Description</label>
                      <textarea
                        name="description"
                        class="form-control"
                        required
                        placeholder="Property Description"
                        v-model="description"
                        id="description"
                        cols="30"
                        rows="10"
                      ></textarea>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Availability</label>
                      <select
                        class="custom-select"
                        v-model="availability"
                        name="availability"
                        required
                      >
                        <option value="available">Available</option>
                        <option value="not available">Not Available</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Maximum Capacity</label>
                      <input
                        type="number"
                        min="0"
                        class="form-control"
                        placeholder="Maximum Capacity"
                        v-model="maximum_capacity"
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Price per night</label>
                      <input
                        type="number"
                        min="0"
                        class="form-control"
                        placeholder="Price per night"
                        v-model="price"
                        name="price"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Number of Bedroom</label>
                      <input
                        type="number"
                        min="0"
                        class="form-control"
                        placeholder="Number of Bedroom"
                        v-model="bedroom"
                        name="bedroom"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Number of Bathroom</label>
                      <input
                        type="number"
                        min="0"
                        class="form-control"
                        placeholder="Number of Bathroom"
                        v-model="bathroom"
                        name="bathroom"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Square Feet</label>
                      <input
                        type="number"
                        min="0"
                        class="form-control"
                        placeholder="Square Feet"
                        v-model="square_feet"
                        name="square_feet"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Amenities</label>
                      <select
                        class="custom-select"
                        v-model="amenities"
                        name="amenities"
                        required
                        multiple
                      >
                        <option value="0" disabled>Select Amenities</option>
                        <option
                          v-for="(am, index) in amenity"
                          :key="index"
                          :value="am.id"
                        >{{ am.name }}</option>
                      </select>
                      <div
                        v-if="errors.has('amenities')"
                        class="alert alert-danger"
                      >{{ errors.first("amenities") }}</div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Bed Detail</label>
                      <textarea
                        name="bed_detail"
                        class="form-control"
                        required
                        placeholder="Bed Detail"
                        v-model="bed_detail"
                        id="bed_detail"
                        cols="30"
                        rows="10"
                      ></textarea>
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Basic Layout</label>
                      <wysiwyg v-model="basic_layout" name="basic_layout" required />
                      <div
                        v-if="errors.has('basic_layout')"
                        class="alert alert-danger"
                      >{{ errors.first("basic_layout") }}</div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Address</label>
                      <user-map :centerM.sync="map"></user-map>
                      <div
                        v-if="errors.has('map')"
                        class="alert alert-danger"
                      >{{ errors.first("map") }}</div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label style="font-size: 16px;">
                      Property Images
                      <small>(Upload Property Image)</small>
                      <small style="color:red;">Maximum amount allowed is 10 *</small>
                    </label>
                    <vue2Dropzone
                      ref="PropertyImage"
                      id="PropertyImage"
                      :options="PropertyImageOptions"
                      @vdropzone-removed-file="vremoved"
                      @vdropzone-success="vPropertyImagesuccess"
                    ></vue2Dropzone>
                    <div
                      v-if="errors.has('Property')"
                      class="alert alert-danger"
                    >{{ errors.first("Property") }}</div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary" v-if="!isLoading && readyToGo">Submit</button>
                <button
                  type="submit"
                  disabled
                  class="btn btn-primary"
                  v-else-if="!isLoading && !readyToGo"
                >Submit</button>
                <button disabled class="btn btn-primary" v-else>
                  <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Errors from "../../../../../Errors.js";
export default {
  data() {
    return {
      availability: "available",
      errors: Errors,
      propertytype: 0,
      roomtypez: {},
      maximum_capacity: 0,
      map: [],
      name: null,
      description: null,
      price: 0,
      bedroom: 0,
      basic_layout: "",
      bed_detail: null,
      amenities: [],
      bathroom: 0,
      square_feet: 0,
      amenity: {},
      isLoading: false,
      readyToGo: false,
      removedFile: false,
      imageResponse: [],
      PropertyImageOptions: {
        url:
          "https://api.cloudinary.com/v1_1/nfco/image/upload?upload_preset=yt3sx3ha",
        thumbnailWidth: 150,
        maxFilesize: 3.5,
        addRemoveLinks: true,
        maxFiles: 10,
        dictDefaultMessage:
          "<i class='pe-7s-cloud-upload icon-gradient bg-warm-flame' style='font-size:30px;'></i> <p style='font-family:Montserrat, sans-serif;'>Upload Property Image</p>",
        headers: { "X-Requested-With": "XMLHttpRequest" },
        renameFile: function(file) {
          let newName = new Date().getTime() + "_" + file.name;
          return newName;
        }
      }
    };
  },
  mounted() {
    this.getData();
  },
  methods: {
    createProperty: function() {
      this.isLoading = true;
      const form = {
        name: this.name,
        description: this.description,
        address: this.map,
        images: this.imageResponse,
        propertyType: this.propertytype,
        amenity: this.amenities,
        basic_layout: this.basic_layout,
        price: this.price,
        bedroom: this.bedroom,
        maximum_capacity: this.maximum_capacity,
        availability: this.availability,
        square_feet: this.square_feet,
        bathroom: this.bathroom,
        bed_detail: this.bed_detail
      };
      axios
        .post("/home/property", form)
        .then(response => {
          this.isLoading = false;
          this.readyToGo = false;
          this.alert(response);
          this.clearPopulatedData();
        })
        .catch(error => {
          this.isLoading = false;
          console.log(error.response);
          Errors.fill(error.response.data.errors);
          this.validationForDoc();
        });
    },
    clearPopulatedData: function() {
      this.name = null;
      this.description = null;
      this.imageResponse = [];
      this.$refs.PropertyImage.removeAllFiles();
      this.map = [];
      this.roomtype = 0;
      this.amenities = [];
      this.basic_layout = "";
      this.price = 0;
      this.bedroom = 0;
      this.bed_detail = null;
      this.maximum_capacity = 0;
      this.availability = "available";
      this.square_feet = 0;
      this.bathroom = 0;
    },
    alert(response) {
      this.$swal.fire({
        title: "Rooms",
        text: response.data.message,
        icon: "success"
      });
    },
    getData() {
      axios
        .get("/home/property/all")
        .then(response => {
          this.roomtypez = response.data.roomtype;
          this.amenity = response.data.amenity;
        })
        .catch(error => {
          console.log(error.response);
        });
    },
    vremoved(file, error, xhr) {
      this.removedFile = true;
      const filename = file.upload.filename;
      for (var i = this.imageResponse.length - 1; i >= 0; i--) {
        if (this.imageResponse[i].filename === filename) {
          this.imageResponse.splice(i, 1);
        }
      }
    },
    in_array(haystack, needle) {
      var length = haystack.length;
      for (var i = 0; i < length; i++) {
        if (haystack[i].type == needle) return true;
      }
      return false;
    },
    validationForDoc() {
      if (this.imageResponse.length > 0) {
        if (!this.in_array(this.imageResponse, "Property")) {
          Errors.push({
            property_image: ["Property image is required!"]
          });
        }
      } else {
        Errors.push({
          property_image: ["Property image is required!"]
        });
      }
    },

    vPropertyImagesuccess(file, response) {
      this.imageResponse.push({
        filename: file.upload.filename,
        type: "Property",
        signedUrl: response.url
      });
      this.readyToGo = true;
      if (this.in_array(this.imageResponse, "Property")) {
        Errors.clearErr("property_image");
      }
    }
  },
  watch: {
    removedFile() {
      let that = this;
      setTimeout(function() {
        that.removedFile = false;
      }, 2000);
    }
  }
};
</script>

<style>
</style>
