<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 mb-4">
          <a class="btn btn-primary" href="/home/property">
            <i class="fas fa-eye"></i> view Property
          </a>
        </div>
        <div class="col-md-12">
          <div class="card card-warning">
            <div class="card-header">
              <h3 class="card-title">Update Property</h3>
            </div>
            <form
              role="form"
              @submit.prevent="updateProperty"
              @keydown="errors.clearErr($event.target.name)"
            >
              <div class="modal-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Property Name</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Property Name"
                        v-model="name"
                        name="name"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Property Type</label>
                      <select
                        class="custom-select"
                        v-model="propertytype"
                        name="propertytype"
                        required
                      >
                        <option value="0" disabled>Select Property Type</option>
                        <option
                          v-for="(type, index) in roomtypez"
                          :value="type.id"
                          :key="index"
                        >{{ type.name }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Property Description</label>
                      <textarea
                        name="description"
                        class="form-control"
                        required
                        placeholder="Property Description"
                        v-model="description"
                        id="description"
                        cols="30"
                        rows="10"
                      ></textarea>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Availability</label>
                      <select
                        class="custom-select"
                        v-model="availability"
                        name="availability"
                        required
                      >
                        <option value="available">Available</option>
                        <option value="not available">Not Available</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Maximum Capacity</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Maximum Capacity"
                        v-model="maximum_capacity"
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Price per night</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Price per night"
                        v-model="price"
                        name="price"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Number of Bedroom</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Number of Bedroom"
                        v-model="bedroom"
                        name="bedroom"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Number of Bathroom</label>
                      <input
                        type="number"
                        min="0"
                        class="form-control"
                        placeholder="Number of Bathroom"
                        v-model="bathroom"
                        name="bathroom"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Square Feet</label>
                      <input
                        type="number"
                        min="0"
                        class="form-control"
                        placeholder="Square Feet"
                        v-model="square_feet"
                        name="square_feet"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Amenities</label>
                      <select
                        class="custom-select"
                        v-model="amenities"
                        name="amenities"
                        required
                        multiple
                      >
                        <option value="0" disabled>Select Amenities</option>
                        <option
                          v-for="(am, index) in amenity"
                          :key="index"
                          :value="am.id"
                        >{{ am.name }}</option>
                      </select>
                      <div
                        v-if="errors.has('amenities')"
                        class="alert alert-danger"
                      >{{ errors.first("amenities") }}</div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Bed Detail</label>
                      <textarea
                        name="bed_detail"
                        class="form-control"
                        required
                        placeholder="Bed Detail"
                        v-model="bed_detail"
                        id="bed_detail"
                        cols="30"
                        rows="10"
                      ></textarea>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Basic Layout</label>
                      <wysiwyg v-model="basic_layout" name="basic_layout" required />
                      <div
                        v-if="errors.has('basic_layout')"
                        class="alert alert-danger"
                      >{{ errors.first("basic_layout") }}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="submit"
                  v-if="!isLoading"
                  class="btn btn-danger btn-block"
                >Save changes</button>
                <button type="button" disabled v-else class="btn btn-danger btn-block">
                  <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Errors from "../../../../../Errors";
export default {
  props: ["id"],
  data() {
    return {
      roomtypez: {},
      amenity: {},
      properties: {},
      isLoading: false,
      errors: Errors,
      amenities: [],
      room_no1: null,
      property: {}
    };
  },
  mounted() {
    this.getData();
  },
  methods: {
    getData() {
      axios
        .get("/home/property/real/" + this.id)
        .then(response => {
          this.roomtypez = response.data.roomtype;
          this.amenity = response.data.amenity;
          this.property = response.data.property;
          console.log(response.data);
        })
        .catch(error => {
          console.log(error.response);
        });
    },
    updateProperty() {
      this.isLoading = true;
      const form = {
        name: this.name,
        description: this.description,
        propertyType: this.propertytype,
        amenity: this.amenities,
        basic_layout: this.basic_layout,
        price: this.price,
        bedroom: this.bedroom,
        maximum_capacity: this.maximum_capacity,
        availability: this.availability,
        square_feet: this.square_feet,
        bathroom: this.bathroom,
        bed_detail: this.bed_detail
      };
      axios
        .patch("/home/property/edit/" + this.id, form)
        .then(response => {
          this.isLoading = false;
          this.alert(response);
          setTimeout(() => {
            window.location.href = "/home/property";
          }, 2000);
        })
        .catch(error => {
          this.loading = false;
          Errors.fill(error.response.data.errors);
          console.log(error.response);
        });
    },
    alert(response) {
      this.$swal.fire({
        title: "Property",
        text: response.data.message,
        icon: "success"
      });
    }
  },
  computed: {
    name: {
      get() {
        return this.property.name;
      },
      set(value) {
        this.property.name = value;
      }
    },
    description: {
      get() {
        return this.property.description;
      },
      set(value) {
        this.property.description = value;
      }
    },
    propertytype: {
      get() {
        return this.property.property_type;
      },
      set(value) {
        this.property.property_type = value;
      }
    },
    maximum_capacity: {
      get() {
        return this.property.maximum_capacity;
      },
      set(value) {
        this.property.maximum_capacity = value;
      }
    },
    price: {
      get() {
        return this.property.price_per_night;
      },
      set(value) {
        this.property.price_per_night = value;
      }
    },
    bedroom: {
      get() {
        return this.property.bedroom;
      },
      set(value) {
        this.property.bedroom = value;
      }
    },
    bed_detail: {
      get() {
        return this.property.bed_detail;
      },
      set(value) {
        this.property.bed_detail = value;
      }
    },
    basic_layout: {
      get() {
        return this.property.basic_layout;
      },
      set(value) {
        this.property.basic_layout = value;
      }
    },
    availability: {
      get() {
        return this.property.availability;
      },
      set(value) {
        this.property.availability = value;
      }
    },
    square_feet: {
      get() {
        return this.property.square_feet;
      },
      set(value) {
        this.property.square_feet = value;
      }
    },
    bathroom: {
      get() {
        return this.property.bathroom;
      },
      set(value) {
        this.property.bathroom = value;
      }
    }
  }
};
</script>

<style>
</style>
