<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 mb-4">
          <a class="btn btn-primary" href="/home/property/create">
            <i class="fas fa-plus"></i> Add Property
          </a>
        </div>
        <div class="row" v-if="propertiez.length > 0">
          <div class="col-md-4" v-for="(property, index) in propertiez" :key="index">
            <div class="card card-widget">
              <div class="card-header">
                <div class="user-block">
                  <span class="username">
                    <a href="#" v-if="property.address.length < 45">{{ property.address }}</a>
                    <a href="#" v-else>{{ property.address.substring(0, 45) }}..</a>
                  </span>
                  <span class="description">
                    created -
                    <timeago :datetime="property.created_at" :refresh="60" locale="en" tooltip></timeago>
                  </span>
                </div>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>

              <div class="card-body">
                <img
                  v-if="property.images.length > 0"
                  class="img-fluid pad"
                  style="height: 300px; width: 100%; object-fit:cover;"
                  :src="property.images[0].image"
                  :alt="'property Image' + index + 1"
                />
                <img
                  v-else
                  class="img-fluid pad"
                  style="height: 300px; width: 100%; object-fit:cover;"
                  src="/client/img/home_1/main_slide_1.jpg"
                  :alt="'Property Image' + index + 1"
                />
                <a :href="'/home/property/edit/' + property.id" class="btn btn-primary btn-sm mt-4">
                  <i class="fas fa-edit"></i> Edit
                </a>
                <a
                  :href="'/home/property/image/' + property.id"
                  class="btn btn-primary btn-sm mt-4"
                >
                  <i class="fas fa-image"></i> Edit Image
                </a>
                <button type="button" class="btn btn-primary btn-sm mt-4">
                  <i class="fas fa-map-marker"></i> Edit Address
                </button>
              </div>
              <div class="card-footer card-comments">
                <div class="card-comment">
                  <div class="comment-text">
                    <span class="username">${{ property.price_per_night }} per night</span>
                    <div
                      v-if="property.description.length > 100"
                    >{{ property.description.substring(0,100) }}...</div>
                    <div v-else>{{ property.description }}</div>
                  </div>
                </div>
                <ul>
                  <li>Availability status: {{ property.availability }}</li>
                  <li>Maximum capacity: {{ property.maximum_capacity }}</li>
                  <li>Number of bedroom/s: {{ property.bedroom }}</li>
                  <li
                    v-if="property.bed_detail.length > 100"
                  >bed detail: {{ property.bed_detail.substring(0, 100) }}...</li>
                  <li v-else>bed detail: {{ property.bed_detail }}</li>
                  <li>
                    square feet: {{ property.square_feet }}
                    <span
                      style="postition: absolute; top:0; font-size: 10px;"
                    >2</span>
                    FT
                  </li>
                  <li>Bathroom: {{ property.bathroom }}</li>
                </ul>
                <div class="card-comment">
                  <div
                    class="comment-text"
                    v-if="property.basic_layout.length > 200"
                    v-html="property.basic_layout.substring(0, 200)"
                  ></div>
                  <div class="comment-text" v-else v-html="property.basic_layout"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12" v-else>
          <div
            class="card card-widget"
            style="padding: 60px 10px 60px 10px; box-shadow: 0px 10px 10px 5px rgba(0,0,0,0.02);"
          >
            <h1 style="text-align: center;">Sorry! There are no Properties Created!</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data: function() {
    return {
      propertiez: {}
    };
  },
  mounted() {
    this.getRooms();
  },
  methods: {
    getRooms: function() {
      axios
        .get("/home/property/all")
        .then(response => {
          this.propertiez = response.data.properties.data;
        })
        .catch(error => {
          console.log(error.response);
        });
    }
  }
};
</script>

<style>
</style>
