<template>
  <div class="sidebar bg-white clearfix">
    <div class="sidebar-block">
      <h4 class="sidebar-title color-dark-2">search</h4>

      <div class="search-inputs">
        <div class="form-block clearfix">
          <div class="input-style-1 b-50 color-3">
            <img src="/client/img/loc_icon_small_grey.png" alt />

            <input type="text" placeholder="Where do you want to go?" />
          </div>
        </div>

        <div class="form-block clearfix">
          <div class="input-style-1 b-50 color-3">
            <img src="/client/img/calendar_icon_grey.png" alt />

            <input type="text" placeholder="Check In" class="datepicker" />
          </div>
        </div>

        <div class="form-block clearfix">
          <div class="input-style-1 b-50 color-3">
            <img src="/client/img/calendar_icon_grey.png" alt />

            <input type="text" placeholder="Check Out" class="datepicker" />
          </div>
        </div>
      </div>

      <input type="submit" class="c-button b-40 bg-red-3 hv-red-3-o" value="search" />
    </div>

    <div class="sidebar-block">
      <h4 class="sidebar-title color-dark-2">categories</h4>

      <ul class="sidebar-category color-4">
        <li class="active">
          <a class="cat-drop" href="#">
            tours
            <span class="fr">(68)</span>
          </a>

          <ul>
            <li>
              <a href="#">sea tours (785)</a>
            </li>

            <li>
              <a href="#">food tours (85)</a>
            </li>

            <li>
              <a href="#">romantic tours (125)</a>
            </li>

            <li>
              <a href="#">honeymoon tours (70)</a>
            </li>

            <li>
              <a href="#">mountain tours (159)</a>
            </li>
          </ul>
        </li>

        <li>
          <a class="cat-drop" href="#">
            hotels
            <span class="fr">(125)</span>
          </a>

          <ul>
            <li>
              <a href="#">sea tours (785)</a>
            </li>

            <li>
              <a href="#">food tours (85)</a>
            </li>

            <li>
              <a href="#">romantic tours (125)</a>
            </li>

            <li>
              <a href="#">honeymoon tours (70)</a>
            </li>

            <li>
              <a href="#">mountain tours (159)</a>
            </li>
          </ul>
        </li>

        <li>
          <a class="cat-drop" href="#">
            cruises
            <span class="fr">(75)</span>
          </a>

          <ul>
            <li>
              <a href="#">sea tours (785)</a>
            </li>

            <li>
              <a href="#">food tours (85)</a>
            </li>

            <li>
              <a href="#">romantic tours (125)</a>
            </li>

            <li>
              <a href="#">honeymoon tours (70)</a>
            </li>

            <li>
              <a href="#">mountain tours (159)</a>
            </li>
          </ul>
        </li>

        <li>
          <a class="cat-drop" href="#">
            flights
            <span class="fr">(93)</span>
          </a>

          <ul>
            <li>
              <a href="#">sea tours (785)</a>
            </li>

            <li>
              <a href="#">food tours (85)</a>
            </li>

            <li>
              <a href="#">romantic tours (125)</a>
            </li>

            <li>
              <a href="#">honeymoon tours (70)</a>
            </li>

            <li>
              <a href="#">mountain tours (159)</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="sidebar-block">
      <h4 class="sidebar-title color-dark-2">price range</h4>

      <div
        class="slider-range color-4 clearfix"
        data-counter="$"
        data-position="start"
        data-from="0"
        data-to="1500"
        data-min="0"
        data-max="2000"
      >
        <div class="range"></div>

        <input type="text" class="amount-start" readonly value="$0" />

        <input type="text" class="amount-end" readonly value="$1500" />
      </div>

      <input type="submit" class="c-button b-40 bg-red-3 hv-red-3-o" value="search" />
    </div>

    <div class="sidebar-block">
      <h4 class="sidebar-title color-dark-2">flight times</h4>

      <div
        class="slider-range color-4 clearfix"
        data-counter=":00"
        data-position="end"
        data-from="0"
        data-to="1500"
        data-min="0"
        data-max="24"
      >
        <div class="range"></div>

        <input type="text" class="amount-start" readonly value="$0" />

        <input type="text" class="amount-end" readonly value="$1500" />
      </div>

      <input type="submit" class="c-button b-40 bg-red-3 hv-red-3-o" value="search" />
    </div>

    <div class="sidebar-block">
      <h4 class="sidebar-title color-dark-2">airlines</h4>

      <div class="sidebar-rating">
        <div class="input-entry color-7">
          <input
            class="checkbox-form"
            id="text-1"
            type="checkbox"
            name="checkbox"
            value="climat control"
          />

          <label class="clearfix" for="text-1">
            <span class="sp-check">
              <i class="fa fa-check"></i>
            </span>

            <span class="checkbox-text">Air tahiti nui</span>
          </label>
        </div>

        <div class="input-entry color-7">
          <input
            class="checkbox-form"
            id="text-2"
            type="checkbox"
            name="checkbox"
            value="climat control"
          />

          <label class="clearfix" for="text-2">
            <span class="sp-check">
              <i class="fa fa-check"></i>
            </span>

            <span class="checkbox-text">Air France</span>
          </label>
        </div>

        <div class="input-entry color-7">
          <input
            class="checkbox-form"
            id="text-3"
            type="checkbox"
            name="checkbox"
            value="climat control"
          />

          <label class="clearfix" for="text-3">
            <span class="sp-check">
              <i class="fa fa-check"></i>
            </span>

            <span class="checkbox-text">US Airways</span>
          </label>
        </div>

        <div class="input-entry color-7">
          <input
            class="checkbox-form"
            id="text-4"
            type="checkbox"
            name="checkbox"
            value="climat control"
          />

          <label class="clearfix" for="text-4">
            <span class="sp-check">
              <i class="fa fa-check"></i>
            </span>

            <span class="checkbox-text">Alitalia</span>
          </label>
        </div>

        <div class="input-entry color-7">
          <input
            class="checkbox-form"
            id="text-5"
            type="checkbox"
            name="checkbox"
            value="climat control"
          />

          <label class="clearfix" for="text-5">
            <span class="sp-check">
              <i class="fa fa-check"></i>
            </span>

            <span class="checkbox-text">Delta Airlines</span>
          </label>
        </div>

        <div class="input-entry color-7">
          <input
            class="checkbox-form"
            id="text-6"
            type="checkbox"
            name="checkbox"
            value="climat control"
          />

          <label class="clearfix" for="text-6">
            <span class="sp-check">
              <i class="fa fa-check"></i>
            </span>

            <span class="checkbox-text">United Airlines</span>
          </label>
        </div>

        <div class="input-entry color-7">
          <input
            class="checkbox-form"
            id="text-7"
            type="checkbox"
            name="checkbox"
            value="climat control"
          />

          <label class="clearfix" for="text-7">
            <span class="sp-check">
              <i class="fa fa-check"></i>
            </span>

            <span class="checkbox-text">Major Airline</span>
          </label>
        </div>
      </div>
    </div>

    <div class="sidebar-block">
      <h4 class="sidebar-title color-dark-2">Review Score</h4>

      <div class="sidebar-score">
        <div class="input-entry type-2 color-8">
          <input
            class="checkbox-form"
            id="score-5"
            type="checkbox"
            name="checkbox"
            value="climat control"
          />

          <label class="clearfix" for="score-5">
            <span class="checkbox-text">
              5
              <span class="rate">
                <span class="fa fa-star color-yellow"></span>
              </span>
            </span>

            <span class="sp-check">
              <i class="fa fa-check"></i>
            </span>
          </label>
        </div>

        <div class="input-entry type-2 color-8">
          <input
            class="checkbox-form"
            id="score-4"
            type="checkbox"
            name="checkbox"
            value="climat control"
          />

          <label class="clearfix" for="score-4">
            <span class="checkbox-text">
              4
              <span class="rate">
                <span class="fa fa-star color-yellow"></span>
              </span>
            </span>

            <span class="sp-check">
              <i class="fa fa-check"></i>
            </span>
          </label>
        </div>

        <div class="input-entry type-2 color-8">
          <input
            class="checkbox-form"
            id="score-3"
            type="checkbox"
            name="checkbox"
            value="climat control"
          />

          <label class="clearfix" for="score-3">
            <span class="checkbox-text">
              3
              <span class="rate">
                <span class="fa fa-star color-yellow"></span>
              </span>
            </span>

            <span class="sp-check">
              <i class="fa fa-check"></i>
            </span>
          </label>
        </div>

        <div class="input-entry type-2 color-8">
          <input
            class="checkbox-form"
            id="score-2"
            type="checkbox"
            name="checkbox"
            value="climat control"
          />

          <label class="clearfix" for="score-2">
            <span class="checkbox-text">
              2
              <span class="rate">
                <span class="fa fa-star color-yellow"></span>
              </span>
            </span>

            <span class="sp-check">
              <i class="fa fa-check"></i>
            </span>
          </label>
        </div>

        <div class="input-entry type-2 color-8">
          <input
            class="checkbox-form"
            id="score-1"
            type="checkbox"
            name="checkbox"
            value="climat control"
          />

          <label class="clearfix" for="score-1">
            <span class="checkbox-text">
              1
              <span class="rate">
                <span class="fa fa-star color-yellow"></span>
              </span>
            </span>

            <span class="sp-check">
              <i class="fa fa-check"></i>
            </span>
          </label>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>
