<template>
  <div class="list-item-entry">
    <div class="hotel-item style-10 bg-white">
      <div class="table-view">
        <div class="radius-top cell-view">
          <img :src="image" alt />
        </div>

        <div class="title hotel-middle cell-view">
          <h5>
            from
            <strong class="color-red-3">{{price}}</strong>
 / person
          </h5>

          <h6 class="color-grey-3 list-hidden">{{flight_type}} flights</h6>

          <h4>
            <b>Flights to {{flight_location}}</b>
          </h4>

          <p class="list-hidden">
            Book now and
            <span class="color-red-3">save 30%</span>
          </p>

          <div class="fi_block grid-hidden row row10">
            <div class="flight-icon col-xs-6 col10">
              <img class="fi_icon" src="/client/img/tour_list/flight_icon_2.png" alt />

              <div class="fi_content">
                <div class="fi_title color-dark-2">take off</div>

                <div class="fi_text color-grey">{{take_off_date}}</div>
              </div>
            </div>

            <div class="flight-icon col-xs-6 col10">
              <img class="fi_icon" src="/client/img/tour_list/flight_icon_1.png" alt />

              <div class="fi_content">
                <div class="fi_title color-dark-2">landing</div>

                <div class="fi_text color-grey">{{landing_date}}</div>
              </div>
            </div>
          </div>

          <a href="#" class="c-button b-40 bg-red-3 hv-red-3-o">book now</a>

          <a href="#" class="c-button b-40 color-grey-3 hv-o fr">
            <img src="/client/img/flag_icon_grey.png" alt />view more
          </a>
        </div>

        <div class="title hotel-right clearfix cell-view grid-hidden">
          <div class="hotel-right-text color-dark-2">{{flight_type}} Flights</div>

          <div class="hotel-right-text color-dark-2">1 stop</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: [
    "flight_type",
    "flight_location",
    "price",
    "landing_date",
    "take_off_date",
    "image"
  ]
};
</script>
