<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-warning">
            <div class="card-header">
              <h3 class="card-title">Create Driver</h3>
            </div>
            <form role="form" @submit.prevent="createDriver">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Driver Name</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Driver Name"
                        v-model="name"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Driver Description</label>
                      <textarea
                        class="form-control"
                        placeholder="Driver Description"
                        rows="10"
                        v-model="description"
                        required
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" v-if="!isLoading" class="btn btn-primary">Submit</button>
                <button type="submit" v-else disabled class="btn btn-primary">
                  <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </button>
              </div>
            </form>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Drivers</h3>

              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 350px;">
                  <input
                    type="text"
                    name="table_search"
                    class="form-control float-right"
                    placeholder="Search"
                  />

                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="max-height: 540px;">
              <table class="table table-head-fixed">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Driver Name</th>
                    <th>Driver Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(driver, index) in drivers" :key="driver.id">
                    <td>{{ index + 1 }}</td>
                    <td>{{ driver.name }}</td>
                    <td>{{ driver.description }}</td>
                    <td>
                      <delete-component :route="'drivers'" :id="driver.id" :getResult="getDriver"></delete-component>
                      <!-- <edit-roomtype-component
                        :driver="drivers"
                        :id="drivers[index].id"
                        :driverName.sync="drivers[index].name"
                      ></edit-roomtype-component>-->
                      <button
                        class="btn btn-sm btn-icon btn-primary"
                        @click="showEditModal(driver.id)"
                      >
                        <i class="fas fa-edit"></i>
                      </button>
                      <button
                        class="btn btn-sm btn-icon btn-danger"
                        @click="showDeleteModal(driver.id)"
                      >
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Errors from "../../../../../Errors.js";
export default {
  data() {
    return {
      name: null,
      description: null,
      isLoading: false,
      drivers: {},
      errors: Errors
    };
  },
  mounted() {
    this.getDriver();
  },
  methods: {
    createDriver: function() {
      this.isLoading = true;
      const form = {
        name: this.name,
        description: this.description
      };
      axios
        .post("/drivers/create", form)
        .then(response => {
          this.isLoading = false;
          this.clearPopulatedData();
          this.alert(response);
          this.getDriver();
        })
        .catch(error => {
          this.isLoading = false;
          console.log(error.response);
        });
    },
    showDeleteModal(id) {
      this.$modal.show("delete-modal" + id);
    },
    showEditModal(id) {
      this.$modal.show("edit-modal" + id);
    },
    getDriver() {
      axios
        .get("/car/drivers/all")
        .then(response => {
          this.drivers = response.data;
        })
        .catch(error => {
          console.log(error.response);
        });
    },
    clearPopulatedData: function() {
      this.name = null;
      this.description = null;
    },
    alert(response) {
      this.$swal.fire({
        title: "Driver",
        text: response.data.message,
        icon: "success"
      });
    }
  },
  watch: {}
};
</script>

<style>
</style>
