<template>
  <div>
    <div class="error" v-if="Object.keys(errors.all()).length > 0">
      <p
        style="color: #fff; font-size: 16px;"
        v-if="errors.has('nationality')"
      >{{ errors.first('nationality') }}</p>
      <p
        style="color: #fff; font-size: 16px;"
        v-if="errors.has('email')"
      >{{ errors.first('email') }}</p>
      <p
        style="color: #fff; font-size: 16px;"
        v-if="errors.has('password')"
      >{{ errors.first('password') }}</p>
      <p
        style="color: #fff; font-size: 16px;"
        v-if="errors.has('firstname')"
      >{{ errors.first('firstname') }}</p>
      <p
        style="color: #fff; font-size: 16px;"
        v-if="errors.has('lastname')"
      >{{ errors.first('lastname') }}</p>
      <p
        style="color: #fff; font-size: 16px;"
        v-if="errors.has('phone')"
      >{{ errors.first('phone') }}</p>
    </div>
    <div class="tab-info">
      <div class="login-fullpage">
        <div class="row">
          <div class="login-logo">
            <img class="center-image" src="client/img/special/login.jpg" alt />
          </div>

          <div class="col-xs-12 col-sm-7">
            <div class="f-login-content">
              <div class="f-login-header" style="margin-bottom: 0px;">
                <div class="f-login-title color-dr-blue-2">
                  <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-3">
                      <a>
                        <img src="client/img/google.png" />
                      </a>
                    </div>
                    <div class="col-md-2">
                      <a>
                        <img src="client/img/facebook.png" />
                      </a>
                    </div>
                    <div class="col-md-3">
                      <a>
                        <img src="client/img/linkedin.png" />
                      </a>
                    </div>
                    <div class="col-md-2"></div>
                  </div>
                </div>
                <hr />
                <div class="f-login-title" style="font-size: 18px; font-weight: 100;">or</div>
                <hr />
              </div>

              <form
                class="f-login-form"
                @submit.prevent="signupHome"
                @keydown="errors.clearErr($event.target.name)"
              >
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control form-control-lg"
                        placeholder="Firstname"
                        required
                        name="firstname"
                        v-model="firstname"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control form-control-lg"
                        placeholder="Lastname"
                        required
                        name="lastname"
                        v-model="lastname"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <country-select
                      :className="'lg-control'"
                      v-model="nationality"
                      :country="nationality"
                      name="nationality"
                    />
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control form-control-lg"
                        placeholder="Phone Number"
                        required
                        v-model="phone"
                        name="phone"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control form-control-lg"
                        placeholder="Email"
                        required
                        v-model="email"
                        name="email"
                      />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input
                        :type="passwordFieldType"
                        class="form-control form-control-lg"
                        placeholder="Password"
                        required
                        v-model="password"
                        name="password"
                      />
                      <div class="toggle-visible" @click="switchPassVisibility">
                        <i class="fa fa-eye"></i>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="input-entry color-5" style="margin-top: 10px; margin-bottom: 10px;">
                  <input
                    class="checkbox-form"
                    id="termsHome"
                    type="checkbox"
                    name="termsHome"
                    v-model="terms"
                  />

                  <label class="clearfix" for="termsHome">
                    <span class="sp-check">
                      <i class="fa fa-check"></i>
                    </span>

                    <span class="checkbox-text">
                      By joining i accept the
                      <a
                        href="#"
                        target="_blank"
                        style="color: #F96332;"
                      >term and conditions</a>
                    </span>
                  </label>
                </div>

                <button
                  type="submit"
                  class="btn btn-success btn-block"
                  style="font-weight: bold; margin-top:20px;"
                  :disabled="disabled"
                  v-if="!isLoading"
                >
                  <span class="fa fa-key" style="margin-right: 10px;"></span>SIGN UP
                </button>
                <button
                  type="submit"
                  class="btn btn-success btn-block"
                  style="font-weight: bold; margin-top:20px;"
                  v-else
                >
                  <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Errors from "../../../Errors.js";
export default {
  data() {
    return {
      errors: Errors,
      terms: false,
      password: null,
      disabled: true,
      email: null,
      lastname: null,
      firstname: null,
      passwordFieldType: "password",
      isLoading: false,
      nationality: "",
      phone: null
    };
  },
  methods: {
    signupHome() {
      this.isLoading = true;
      const form = {
        email: this.email,
        password: this.password,
        firstname: this.firstname,
        lastname: this.lastname,
        nationality: this.nationality,
        phone: this.phone
      };
      axios
        .post("/auth/sign-up/home", form)
        .then(response => {
          this.isLoading = false;
          this.clearPopulatedData();
          window.location.href = "/dashboard";
        })
        .catch(error => {
          console.log(error);
          Errors.fill(error.response.data.errors);
          this.isLoading = false;
        });
    },
    switchPassVisibility() {
      this.passwordFieldType == "password"
        ? (this.passwordFieldType = "text")
        : (this.passwordFieldType = "password");
    },
    alert(response) {
      this.$swal.fire({
        title: "Signup Failed",
        type: "warning",
        text: response.data.message
      });
    },
    clearPopulatedData() {
      this.password = null;
      this.email = null;
      this.firstname = null;
      this.lastname = null;
      this.phone = null;
      this.nationality = "";
    }
  },
  watch: {
    terms(value) {
      value ? (this.disabled = false) : (this.disabled = true);
    }
  }
};
</script>

<style scoped>
.error {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 30px;
  background: #f96332;
  width: 35%;
  height: auto;
}
.form-control-lg {
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: none;
  border-radius: 0px;
  padding-top: 23px;
  padding-bottom: 23px;
}
.lg-control {
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: none;
  border-radius: 0px;
  padding-top: 13px;
  padding-left: 5px;
  font-size: 14px;
  width: 100%;
  padding-bottom: 13px;
}
.toggle-visible {
  position: absolute;
  right: 15px;
  top: 10px;
  color: white;
  background: #d9d6d645;
  padding: 15px;
  z-index: 10;
  cursor: pointer;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}
@media (min-width: 360px) and (max-width: 800px) {
  .toggle-visible {
    top: 0;
  }
}
</style>
