<template>
  <div class="tab-info active">
    <div class="login-fullpage">
      <div class="row">
        <div class="login-logo">
          <img class="center-image" src="client/img/special/login.jpg" alt />
        </div>

        <div class="col-xs-12 col-sm-7">
          <div class="f-login-content">
            <div class="f-login-header" style="margin-bottom: 0px;">
              <div class="f-login-title color-dr-blue-2">
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-3">
                    <a>
                      <img src="client/img/google.png" />
                    </a>
                  </div>
                  <div class="col-md-2">
                    <a>
                      <img src="client/img/facebook.png" />
                    </a>
                  </div>
                  <div class="col-md-3">
                    <a>
                      <img src="client/img/linkedin.png" />
                    </a>
                  </div>
                  <div class="col-md-2"></div>
                </div>
              </div>
              <hr />
              <div class="f-login-title" style="font-size: 18px; font-weight: 100;">or</div>
              <hr />
              <div class="f-login-title color-dr-blue-2" style="font-weight:100;">Welcome back!</div>
            </div>
            <form class="f-login-form" @submit.prevent="login">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control form-control-lg"
                      placeholder="Email"
                      required
                      v-model="email"
                    />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <input
                      :type="passwordFieldType1"
                      class="form-control form-control-lg"
                      placeholder="Password"
                      required
                      v-model="password"
                    />
                    <div class="toggle-visible" @click="switchPassVisibility">
                      <i class="fa fa-eye"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="input-entry color-5" style="margin-top: 10px; margin-bottom: 10px;">
                <input
                  class="checkbox-form"
                  id="text-2"
                  type="checkbox"
                  name="checkbox1"
                  v-model="remember"
                />

                <label class="clearfix" for="text-2">
                  <span class="sp-check">
                    <i class="fa fa-check"></i>
                  </span>

                  <span class="checkbox-text">Remember me</span>
                </label>
              </div>
              <div class="row" style="margin-top: 20px;">
                <div class="col-md-12">
                  <button
                    type="submit"
                    class="btn btn-success btn-block"
                    style="font-weight: bold;"
                    v-if="!isLoading"
                  >
                    <span class="fa fa-key" style="margin-right: 10px;"></span>LOGIN
                  </button>
                  <button
                    type="submit"
                    disabled
                    class="btn btn-success btn-block"
                    style="font-weight: bold;"
                    v-else
                  >
                    <div class="lds-ellipsis">
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Errors from "../../../Errors.js";
export default {
  data() {
    return {
      email: null,
      password: null,
      errors: Errors,
      isLoading: false,
      remember: false,
      passwordFieldType1: "password"
    };
  },
  methods: {
    login: function() {
      this.isLoading = true;
      const form = {
        password: this.password,
        email: this.email,
        remember: this.remember
      };
      axios
        .post("/auth/login", form)
        .then(response => {
          if (response.data.status == "login_failed") {
            this.isLoading = false;
            this.alert(response);
          } else {
            this.clearPopulatedData();
            this.isLoading = false;
            if (
              response.data.role == 1 ||
              response.data.role == 2 ||
              response.data.role == 3 ||
              response.data.role == 4 ||
              response.data.role == 5
            ) {
              console.log("this is the selected place!");
              window.location.href = "/dashboard";
            } else if (response.data.role == 6) {
              window.location.href = "/";
            }
          }
        })
        .catch(error => {
          this.isLoading = false;
          Errors.fill(error.response.data.errors);
        });
    },
    switchPassVisibility() {
      this.passwordFieldType1 == "password"
        ? (this.passwordFieldType1 = "text")
        : (this.passwordFieldType1 = "password");
    },
    alert(response) {
      this.$swal.fire({
        title: "Login Failed",
        icon: "warning",
        text: response.data.message
      });
    },
    clearPopulatedData() {
      this.password = "";
      this.email = "";
      this.remember = false;
    }
  }
};
</script>

<style scoped>
.form-control-lg {
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: none;
  border-radius: 0px;
  padding-top: 23px;
  padding-bottom: 23px;
}
.toggle-visible {
  position: absolute;
  right: 15px;
  top: 10px;
  color: white;
  background: #d9d6d645;
  padding: 15px;
  z-index: 10;
  cursor: pointer;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}
@media (min-width: 360px) and (max-width: 800px) {
  .toggle-visible {
    top: 0;
  }
}
</style>
