<template>
  <div>
    <div class="error" v-if="Object.keys(errors.all()).length > 0">
      <p
        style="color: #fff; font-size: 16px;"
        v-if="errors.has('email')"
      >{{ errors.first('email') }}</p>
      <p
        style="color: #fff; font-size: 16px;"
        v-if="errors.has('password')"
      >{{ errors.first('password') }}</p>
    </div>
    <div class="tab-info">
      <div class="login-fullpage">
        <div class="row">
          <div class="login-logo">
            <img class="center-image" src="client/img/special/login.jpg" alt />
          </div>

          <div class="col-xs-12 col-sm-7">
            <div class="f-login-content">
              <div class="f-login-header" style="margin-bottom: 0px;">
                <div class="f-login-title" style="font-weight: 100;">Tour manager</div>
              </div>

              <form class="f-login-form" @submit.prevent="signupTour">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control form-control-lg"
                        placeholder="Email"
                        required
                        v-model="email"
                      />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input
                        :type="passwordFieldType"
                        class="form-control form-control-lg"
                        placeholder="Password"
                        required
                        v-model="password"
                      />
                      <div class="toggle-visible" @click="switchPassVisibility">
                        <i class="fa fa-eye"></i>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="input-entry color-5" style="margin-top: 10px; margin-bottom: 10px;">
                  <input
                    class="checkbox-form"
                    id="termcheckTour"
                    type="checkbox"
                    name="termcheckTour"
                    v-model="terms"
                  />

                  <label class="clearfix" for="termcheckTour">
                    <span class="sp-check">
                      <i class="fa fa-check"></i>
                    </span>

                    <span class="checkbox-text">
                      By joining i accept the
                      <a
                        href="#"
                        target="_blank"
                        style="color: #F96332;"
                      >term and conditions</a>
                    </span>
                  </label>
                </div>

                <button
                  type="submit"
                  v-if="!isLoading"
                  class="btn btn-success btn-block"
                  style="font-weight: bold; margin-top:20px;"
                  :disabled="disabled"
                >
                  <span class="fa fa-key" style="margin-right: 10px;"></span>SIGN UP
                </button>
                <button
                  type="submit"
                  v-else
                  class="btn btn-success btn-block"
                  style="font-weight: bold; margin-top:20px;"
                  disabled
                >
                  <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Errors from "../../../Errors";
export default {
  data() {
    return {
      email: null,
      password: null,
      companyname: null,
      terms: false,
      disabled: true,
      isLoading: false,
      passwordFieldType: "password",
      errors: Errors
    };
  },
  methods: {
    signupTour() {
      this.isLoading = true;
      const form = {
        email: this.email,
        companyname: this.companyname,
        password: this.password
      };
      axios
        .post("/auth/sign-up/tour", form)
        .then(repsonse => {
          this.isLoading = false;
          this.clearPopulatedData();
          window.location.href = "/dashboard";
        })
        .catch(error => {
          console.log(error.response);
          Errors.fill(error.response.data.errors);
          this.isLoading = false;
        });
    },
    switchPassVisibility() {
      this.passwordFieldType == "password"
        ? (this.passwordFieldType = "text")
        : (this.passwordFieldType = "password");
    },
    clearPopulatedData() {
      this.password = null;
      this.email = null;
      this.companyname = null;
    }
  },
  watch: {
    terms(value) {
      value ? (this.disabled = false) : (this.disabled = true);
    }
  }
};
</script>

<style scoped>
.error {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 30px;
  background: #f96332;
  width: 35%;
  height: auto;
}
.form-control-lg {
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: none;
  border-radius: 0px;
  padding-top: 23px;
  padding-bottom: 23px;
}
.toggle-visible {
  position: absolute;
  right: 15px;
  top: 10px;
  color: white;
  background: #d9d6d645;
  padding: 15px;
  z-index: 10;
  cursor: pointer;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}
@media (min-width: 360px) and (max-width: 800px) {
  .toggle-visible {
    top: 0;
  }
}
</style>
