<template>
  <div>
    <form-wizard
      :validateOnBack="true"
      color="#000"
      height="auto"
      title
      subtitle
      @on-complete="onComplete"
      @on-loading="setLoading"
      @on-validate="handleValidation"
      @on-error="handleError"
    >
      <tab-content
        title="Profile"
        style="margin-bottom: 50px;"
        height="auto"
        :before-change="validateProfile"
      >
        <form @keydown="errors.clearErr($event.target.name)" @submit.prevent>
          <div class="row" style="max-height: 260px; overflow-y: auto;">
            <div class="col-md-6">
              <vue2Dropzone
                ref="ProfileImage"
                id="ProfileImage"
                :options="ProfileImageOptions"
                @vdropzone-removed-file="vremoved"
                @vdropzone-success="vProfileImagesuccess"
              ></vue2Dropzone>
            </div>
            <div class="col-md-6">
              <vue2Dropzone
                ref="Logo"
                id="Logo"
                :options="LogoOptions"
                @vdropzone-removed-file="vremoved2"
                @vdropzone-success="vLogosuccess"
              ></vue2Dropzone>
              <div v-if="errors.has('logo')" class="alert alert-danger">{{ errors.first('logo') }}</div>
            </div>
          </div>

          <hr />
          <div class="form-group">
            <input
              id="compnay"
              name="companyname"
              v-model="company"
              type="text"
              class="required form-control form-control-lg"
              placeholder="Company Name"
            />
          </div>
          <div
            v-if="errors.has('companyname')"
            class="alert alert-danger"
          >{{ errors.validateWizard('companyname') }}</div>
          <hr />
          <div class="form-group">
            <textarea
              id="compnay"
              name="description"
              v-model="description"
              type="text"
              class="required form-control form-control-lg"
              placeholder="Description about company"
            ></textarea>
          </div>
          <div
            v-if="errors.has('description')"
            class="alert alert-danger"
          >{{ errors.validateWizard('description') }}</div>
        </form>
      </tab-content>

      <tab-content
        title="Profile cont."
        style="margin-bottom: 50px;"
        :before-change="validateProfileCont"
      >
        <div class="form-group">
          <div class="input-group-prepend">
            <div class="input-group-text">+251</div>
          </div>
          <input
            id="phone"
            name="phone1"
            v-model="phone1"
            style="padding-left: 6%;"
            maxlength="9"
            type="text"
            class="required form-control form-control-lg"
            placeholder="Phone Number *"
          />
        </div>
        <div
          v-if="errors.has('phone1')"
          class="alert alert-danger"
        >{{ errors.validateWizard('phone1') }}</div>

        <div class="form-group">
          <div class="input-group-prepend">
            <div class="input-group-text">+251</div>
          </div>
          <input
            id="phone"
            name="phone2"
            v-model="phone2"
            style="padding-left: 6%;"
            maxlength="9"
            type="text"
            class="required form-control form-control-lg"
            placeholder="Phone Number2 (optional)"
          />
        </div>

        <div class="form-group">
          <div class="input-group-prepend">
            <div class="input-group-text">+251</div>
          </div>
          <input
            id="phone"
            name="phone3"
            v-model="phone3"
            style="padding-left: 6%;"
            maxlength="9"
            type="text"
            class="required form-control form-control-lg"
            placeholder="Phone Number3 (optional)"
          />
        </div>
      </tab-content>

      <tab-content title="Address" :before-change="validateAddress" style="margin-bottom: 50px;">
        <user-map :centerM.sync="map"></user-map>
        <div
          v-if="errors.has('addressError')"
          class="alert alert-danger"
        >{{ errors.validateWizard('addressError') }}</div>
      </tab-content>

      <tab-content title="Finish" style="margin-bottom: 50px;" :before-change="validateFinish">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>
                Agreement | terms and conditions
                <small
                  style="color: red;"
                >* (These is a term and condition that you create for the customer/user/client)</small>
              </label>
              <wysiwyg v-model="userAgreement" />
            </div>
            <div
              v-if="errors.has('userAgreement')"
              class="alert alert-danger"
            >{{ errors.validateWizard('userAgreement') }}</div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input
                id="compnay"
                name="user_cancellation_time"
                v-model="user_cancellation_time"
                type="text"
                class="required form-control form-control-lg"
                placeholder="Order Cancellation Time (eg. 48)"
              />
            </div>
            <div
              v-if="errors.has('user_cancellation_time')"
              class="alert alert-danger"
            >{{ errors.validateWizard('user_cancellation_time') }}</div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input
                id="compnay"
                name="user_reschedule_time"
                v-model="user_reschedule_time"
                type="text"
                class="required form-control form-control-lg"
                placeholder="Order Reschedule Time (eg. 48)"
              />
            </div>
            <div
              v-if="errors.has('user_reschedule_time')"
              class="alert alert-danger"
            >{{ errors.validateWizard('user_reschedule_time') }}</div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input
                id="compnay"
                name="user_cancellation_refund_amount"
                v-model="user_cancellation_refund_amount"
                type="text"
                class="required form-control form-control-lg"
                placeholder="Order Cancellation Refund amount Percentage"
              />
            </div>
            <div
              v-if="errors.has('user_cancellation_refund_amount')"
              class="alert alert-danger"
            >{{ errors.validateWizard('user_cancellation_refund_amount') }}</div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input
                id="compnay"
                name="user_reschedule_refund_amount"
                v-model="user_reschedule_refund_amount"
                type="text"
                class="required form-control form-control-lg"
                placeholder="Order Reschedule Refund amount Percentage"
              />
            </div>
            <div
              v-if="errors.has('user_reschedule_refund_amount')"
              class="alert alert-danger"
            >{{ errors.validateWizard('user_reschedule_refund_amount') }}</div>
          </div>
        </div>

        <div class="input-entry color-5" style="margin-top: 10px; margin-bottom: 10px;">
          <input
            id="text-2"
            type="checkbox"
            name="agreement"
            v-model="agreement"
            class="checkbox-form"
          />
          <label for="text-2" class="clearfix">
            <span class="sp-check">
              <i class="fa fa-check"></i>
            </span>
            <span class="checkbox-text">
              I agree with the
              <a
                href="#"
                target="_blank"
                style="color:#17AAA0;"
              >Terms and Conditions</a>
            </span>
          </label>
          <div
            v-if="errors.has('agreement')"
            class="alert alert-danger"
          >{{ errors.validateWizard('agreement') }}</div>
        </div>

        <!-- </div> -->
      </tab-content>

      <div class="lds-ellipsis" style="background: #000;" v-if="loadingWizard">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </form-wizard>
  </div>
</template>

<script>
import Errors from "../../../Errors.js";
export default {
  data() {
    return {
      map: [],
      company: null,
      description: null,
      agreement: false,
      errors: Errors,
      phone1: null,
      loadingWizard: false,
      user_cancellation_time: null,
      user_reschedule_time: null,
      user_cancellation_refund_amount: null,
      user_reschedule_refund_amount: null,
      userAgreement: null,
      phone2: null,
      phone3: null,
      imageResponse: [],
      imageResponse2: [],
      ProfileImageOptions: {
        url:
          "https://api.cloudinary.com/v1_1/nfco/image/upload?upload_preset=yt3sx3ha",
        thumbnailWidth: 150,
        maxFilesize: 3.5,
        addRemoveLinks: true,
        maxFiles: 1,
        dictDefaultMessage:
          "<i class='pe-7s-cloud-upload icon-gradient bg-warm-flame' style='font-size:30px;'></i> <p style='font-family:Montserrat, sans-serif;'>Upload Profile Image</p>",
        headers: { "X-Requested-With": "XMLHttpRequest" },
        renameFile: function(file) {
          let newName = new Date().getTime() + "_" + file.name;
          return newName;
        }
      },
      LogoOptions: {
        url:
          "https://api.cloudinary.com/v1_1/nfco/image/upload?upload_preset=yt3sx3ha",
        thumbnailWidth: 150,
        maxFilesize: 3.5,
        addRemoveLinks: true,
        maxFiles: 1,
        dictDefaultMessage:
          "<i class='pe-7s-cloud-upload icon-gradient bg-warm-flame' style='font-size:30px;'></i> <p style='font-family:Montserrat, sans-serif;'>Upload Logo</p>",
        headers: { "X-Requested-With": "XMLHttpRequest" },
        renameFile: function(file) {
          let newName = new Date().getTime() + "_" + file.name;
          return newName;
        }
      }
    };
  },
  watch: {
    map() {
      Errors.clearErr("addressError");
    },
    agreement() {
      Errors.clearErr("agreement");
    },
    phone1() {
      Errors.clearErr("phone1");
    }
  },
  methods: {
    vremoved(file, error, xhr) {
      this.removedFile = true;
      const filename = file.upload.filename;
      for (var i = this.imageResponse.length - 1; i >= 0; i--) {
        if (this.imageResponse[i].filename === filename) {
          this.imageResponse.splice(i, 1);
        }
      }
    },
    vremoved2(file, error, xhr) {
      this.removedFile = true;
      const filename = file.upload.filename;
      for (var i = this.imageResponse2.length - 1; i >= 0; i--) {
        if (this.imageResponse2[i].filename === filename) {
          this.imageResponse2.splice(i, 1);
        }
      }
    },
    vProfileImagesuccess(file, response) {
      this.imageResponse.push({
        filename: file.upload.filename,
        type: "Profile",
        signedUrl: response.url
      });
    },
    in_array(haystack, needle) {
      var length = haystack.length;
      for (var i = 0; i < length; i++) {
        if (haystack[i].type == needle) return true;
      }
      return false;
    },
    vLogosuccess(file, response) {
      this.imageResponse2.push({
        filename: file.upload.filename,
        type: "logo",
        signedUrl: response.url
      });
      if (this.in_array(this.imageResponse2, "logo")) {
        Errors.clearErr("logo");
      }
    },
    onComplete: function() {
      var photo,
        logo,
        phone_number,
        phone_number2 = this.phone2,
        phone_number3 = this.phone3;

      this.imageResponse.length > 0
        ? (photo = this.imageResponse[0].signedUrl)
        : (photo = null);

      this.imageResponse2.length > 0
        ? (logo = this.imageResponse2[0].signedUrl)
        : (logo = null);

      this.phone2 != null ? "+251" + phone_number2 : phone_number2;
      this.phone3 != null ? "+251" + phone_number3 : phone_number3;

      const form = {
        photo: photo,
        logo: logo,
        company: this.company,
        description: this.description,
        agreement: this.agreement,
        address: this.map,
        phone1: "+251" + this.phone1,
        phone2: phone_number2,
        userAgreement: this.userAgreement,
        phone3: phone_number3,
        user_cancellation_time: this.user_cancellation_time,
        user_reschedule_time: this.user_reschedule_time,
        user_cancellation_refund_amount: this.user_cancellation_refund_amount,
        user_reschedule_refund_amount: this.user_reschedule_refund_amount
      };

      axios
        .post("/wizard", form)
        .then(response => {
          console.log(response);
          response.data.status == "success"
            ? window.location.replace("/dashboard")
            : this.alert(response);
        })
        .catch(error => {
          console.log(error.response);
        });
    },
    alert(response) {
      this.$swal.fire({
        title: "error",
        type: "error",
        text: response.data.message
      });
    },
    setLoading: function(value) {
      this.loadingWizard = value;
    },
    handleValidation: function(isValid, tabIndex) {
      console.log("Tab: " + tabIndex + " valid: " + isValid);
    },
    handleError: function(onError) {
      console.log(onError);
    },
    validateAddress: function() {
      return new Promise((resolve, reject) => {
        this.map.length == 0
          ? reject(Errors.fill({ addressError: "Address is required!" }))
          : resolve(true);
      });
    },
    validateFinish: function() {
      return new Promise((resolve, reject) => {
        this.agreement == false
          ? reject(
              Errors.fill({
                agreement: "You are required to check the agreement!"
              })
            )
          : resolve(true);
        this.userAgreement == null || this.userAgreement == "<br/>"
          ? reject(
              Errors.fill({
                userAgreement: "You are required to create a userAgreement!"
              })
            )
          : resolve(true);
        this.user_reschedule_refund_amount == null
          ? reject(
              Errors.fill({
                user_reschedule_refund_amount: "Refund percentage is required!"
              })
            )
          : resolve(true);
        this.user_cancellation_time == null
          ? reject(
              Errors.fill({
                user_cancellation_time: "Cancellation time is required!"
              })
            )
          : resolve(true);
        this.user_reschedule_time == null
          ? reject(
              Errors.fill({
                user_reschedule_time: "Reschedule time is required!"
              })
            )
          : resolve(true);
        this.user_cancellation_refund_amount == null
          ? reject(
              Errors.fill({
                user_cancellation_refund_amount:
                  "Cancellation percentage is required!"
              })
            )
          : resolve(true);
      });
    },
    validateProfileCont: function() {
      return new Promise((resolve, reject) => {
        this.phone1 == null || this.phone1 == ""
          ? reject(Errors.fill({ phone1: "Phone number is required!" }))
          : resolve(true);
      });
    },
    validateProfile: function() {
      return new Promise((resolve, reject) => {
        if (this.imageResponse2.length > 0) {
          if (!this.in_array(this.imageResponse2, "logo")) {
            reject(Errors.push({ logo: ["logo is required!"] }));
          }
        } else {
          reject(
            Errors.push({
              logo: ["logo is required!"]
            })
          );
        }
        this.company == null || this.company == ""
          ? reject(Errors.fill({ companyname: "Company name is required!" }))
          : resolve(true);

        this.description == null || this.description == ""
          ? reject(Errors.fill({ description: "Description is required!" }))
          : resolve(true);
      });
    }
  }
};
</script>

<style>
.form-control-lg {
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: none;
  border-radius: 0px;
  padding-top: 23px;
  padding-bottom: 23px;
}
.input-group-prepend {
  position: absolute;
  left: 20px;
  background: #0000001a;
  padding: 14px;
}
.input-group-text {
  color: #0000005e;
}
.alert-danger {
  background: red;
}
</style>
