<template>
  <div>
    <div class="row">
      <div class="col-md-10">
        <div class="form-group">
          <gmap-autocomplete
            @place_changed="setPlace"
            style="font-size: 14px;"
            class="form-control form-control-lg mb-2"
          ></gmap-autocomplete>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <button
            class="btn btn-primary btn-block"
            type="button"
            style="margin-top:10px; padding-top:12px; padding-bottom:12px;"
            @click="addMarker"
          >Add Place</button>
        </div>
      </div>
      <div class="col-md-12 table-responsive" style="max-height: 120px; overflow-y: auto;">
        <table class="table">
          <tbody>
            <tr v-for="(place, index) in places" :key="place.id">
              <td>{{ places.indexOf(places[index]) + 1}}</td>
              <td>{{ places[index]['name'] }}, {{ places[index]['formatted_address'] }}</td>
              <td class="text-center">{{ places[index]['geometry'].location.lat() }}</td>
              <td class="text-center">{{ places[index]['geometry'].location.lng() }}</td>
              <td class="text-right">
                <button
                  type="button"
                  @click="removeMarker(places.indexOf(places[index]))"
                  rel="tooltip"
                  class="btn btn-danger btn-icon btn-sm"
                  data-original-title
                  title
                >
                  <i class="fa fa-remove"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <GmapMap :center="center" :zoom="13" map-type-id="terrain" style="width: 100%; height: 300px">
      <GmapMarker
        :key="index"
        v-for="(m, index) in markers"
        :position="m.position"
        :clickable="true"
      />
    </GmapMap>
  </div>
</template>

<script>
export default {
  props: ["centerM"],
  data() {
    return {
      center: { lat: 8.987674899999998, lng: 38.79040669999995 },
      markers: [],
      places: [],
      currentPlace: null
    };
  },
  mounted() {
    this.geolocate();
  },
  methods: {
    setPlace(place) {
      this.currentPlace = place;
    },
    showLocation: function(e) {
      console.log(e);
      const marker = {
        lat: e.latLng.lat(),
        lng: e.latLng.lng()
      };
      this.markers = [{ position: marker }];
      this.center = marker;
    },
    addMarker() {
      if (this.currentPlace) {
        const marker = {
          lat: this.currentPlace.geometry.location.lat(),
          lng: this.currentPlace.geometry.location.lng()
        };
        this.markers.push({ position: marker });
        this.places.push(this.currentPlace);
        this.center = marker;
        this.currentPlace = null;
      }
    },
    removeMarker() {
      this.markers.splice(this.indexAssistant, 1);
      this.places.splice(this.indexAssistant, 1);
    },
    geolocate: function() {
      navigator.geolocation.getCurrentPosition(position => {
        this.center = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
      });
    }
  },
  watch: {
    places(value) {
      this.$emit("update:centerM", value);
    }
  }
};
</script>

<style>
</style>
