<template>
  <div>
    <GmapMap :center="center" :zoom="16" map-type-id="terrain" style="width: 100%; height: 300px">
      <!-- <GmapMarker
        :key="index"
        v-for="(m, index) in markerz"
        :position="m.position"
        :clickable="true"
      />-->
    </GmapMap>
  </div>
</template>

<script>
export default {
  props: ["markers"],
  data() {
    return {
      markerz: []
    };
  },
  mounted() {
    this.getMarkerz();
  },
  methods: {
    getMarkerz() {
      this.markerz = [];
      this.markerz = [
        {
          position: [this.markers[0].latitude, this.markers[0].longitude]
        }
      ];
      console.log(this.markerz);
    }
  },
  computed: {
    center: {
      get() {
        return {
          lat: this.markers[0].latitude,
          lng: this.markers[0].longitude
        };
      },
      set(value) {}
    }
  }
};
</script>

<style>
</style>
