<template>
  <div class="detail-wrapper">
    <div class="container">
      <div class="row padd-90">
        <div class="col-xs-12 col-md-8 detail-content">
          <div class="detail-content-block">
            <h3 class="small-title default-title">Booking Confirmation</h3>
            <div class="confirm-label bg-dr-blue-2 radius-5">
              <img
                class="confirm-img"
                src="https://demo.nrgthemes.com/projects/letstravelwp/wp-content/themes/letstravel/images/thx_icon.png"
                alt="Icon"
              />
              <div class="confirm-title color-white">Thank You. Your Booking Order is Confirmed Now.</div>
              <div
                class="confirm-text color-white-light"
              >A confirmation email has been sent to your provided email address.</div>
              <a
                href="#"
                onclick="PrintBookTable('#book-details')"
                class="confirm-print c-button b-40 bg-white hv-white-o"
              >print details</a>
            </div>
          </div>
          <div class="detail-content-block" id="book-details">
            <h3 class="small-title default-title">Book Information</h3>
            <div class="table-responsive">
              <table class="table style-1 type-2 striped">
                <tbody>
                  <tr>
                    <td class="table-label color-grey">BOOKING NUMBER:</td>
                    <td class="table-label color-dark-2">
                      <strong></strong>
                    </td>
                  </tr>
                  <tr>
                    <td class="table-label color-grey">FIRST NAME:</td>
                    <td class="table-label color-dark-2">
                      <strong></strong>
                    </td>
                  </tr>
                  <tr>
                    <td class="table-label color-grey">LAST NAME:</td>
                    <td class="table-label color-dark-2">
                      <strong></strong>
                    </td>
                  </tr>
                  <tr>
                    <td class="table-label color-grey">E-MAIL ADDRESS:</td>
                    <td class="table-label color-dark-2">
                      <strong></strong>
                    </td>
                  </tr>
                  <tr>
                    <td class="table-label color-grey">PHONE:</td>
                    <td class="table-label color-dark-2">
                      <strong></strong>
                    </td>
                  </tr>
                  <tr>
                    <td class="table-label color-grey">COUNTRY:</td>
                    <td class="table-label color-dark-2">
                      <strong></strong>
                    </td>
                  </tr>
                  <tr>
                    <td class="table-label color-grey">PRICE:</td>
                    <td class="table-label color-dark-2">
                      <strong></strong>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="detail-content-block">
            <div class="simple-text">
              <h3 class="default-title">Payment</h3>
              <p
                class="color-grey"
              >Pellentesque ac turpis egestas, varius justo et, condimentum augue. Praesent aliquam, nisl feugiat vehicula condimentum, justo tellus scelerisque metus. Pellentesque ac turpis egestas, varius justo et, condimentum augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <div class="custom-panel bg-grey-2 radius-4">
                <a
                  class="color-dr-blue-2 link-dark-2"
                  href="#"
                >Payment is made by Credit Card Via Paypal.</a>
              </div>
            </div>
          </div>
          <div class="detail-content-block">
            <div class="simple-text">
              <h3 class="default-title">View Booking Details</h3>
              <p
                class="color-grey"
              >Pellentesque ac turpis egestas, varius justo et, condimentum augue. Praesent aliquam, nisl feugiat vehicula condimentum, justo tellus scelerisque metus. Pellentesque ac turpis egestas, varius justo et, condimentum augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <div class="custom-panel bg-grey-2 radius-4">
                <a
                  class="color-dr-blue-2 link-dark-2"
                  href="https://demo.nrgthemes.com/projects/letstravelwp/?booked=tour&amp;order_number="
                >https://demo.nrgthemes.com/projects/letstravelwp/?booked=tour&amp;order_number=</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="right-sidebar">
            <div class="sidebar-text-label bg-dr-blue-2 color-white">useful information</div>

            <div class="help-contact bg-grey-2">
              <h4 class="color-dark-2">Need Help?</h4>
              <p class="color-grey-2"></p>
              <a class="help-phone color-dark-2 link-dr-blue-2" href="tel:0200059600">
                <img
                  src="https://demo.nrgthemes.com/projects/letstravelwp/wp-content/themes/letstravel/images/phone24-red.png"
                  alt="Icon"
                />020 00 59 600
              </a>
              <a class="help-mail color-dark-2 link-dr-blue-2" href="mailto:let’s_travel@world.com">
                <img
                  src="https://demo.nrgthemes.com/projects/letstravelwp/wp-content/themes/letstravel/images/letter-red.png"
                  alt="Icon"
                />let’s_travel@world.com
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>
