<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 mb-4">
          <a class="btn btn-primary" href="/car/cars/create">
            <i class="fas fa-plus"></i> Add Car
          </a>
        </div>

        <div v-if="cars.length > 0" class="row">
          <div class="col-md-4" v-for="(car, index) in cars" :key="index">
            <div class="card card-widget">
              <div class="card-header">
                <div class="user-block">
                  <span class="username">
                    <a href="#">{{ car.name }}</a>
                  </span>
                  <span class="description">created - {{ car.created_at }}</span>
                </div>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>

              <div class="card-body">
                <img
                  v-if="car.images.length > 0"
                  class="img-fluid pad"
                  :src="car.images[0].image"
                  :alt="'Car Image' + index + 1"
                />
                <img
                  v-else
                  class="img-fluid pad"
                  src="/client/img/cars/gal_1_b.jpg"
                  :alt="'Car Image' + index + 1"
                />
                <button type="button" class="btn btn-primary btn-sm mt-4">
                  <i class="fas fa-edit"></i> Edit
                </button>
                <a href="/car/cars/image" class="btn btn-primary btn-sm mt-4">
                  <i class="fas fa-image"></i>Edit Image
                </a>
              </div>
              <div class="card-footer card-comments">
                <div class="card-comment">
                  <div class="comment-text">
                    <span class="username">Description</span>
                    {{ car.description }}
                  </div>
                </div>
              </div>
              <div class="card-footer card-comments">
                <div class="card-comment">
                  <div class="comment-text">
                    <span class="username">Modle</span>
                    {{ car.model }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12" v-else>
          <div
            class="card card-widget"
            style="padding: 60px 10px 60px 10px; box-shadow: 0px 10px 10px 5px rgba(0,0,0,0.02);"
          >
            <h1 style="text-align: center;">Sorry! There are no Cars Created!</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data: function() {
    return {
      cars: {},
      fullCars: {}
    };
  },
  mounted() {
    this.getCars();
  },
  methods: {
    getCars: function() {
      axios
        .get("/car/cars/all")
        .then(response => {
          // console.log(response.data);
          this.fullCars = response.data.cars;
          this.cars = response.data.cars.data;
        })
        .catch(error => {
          console.log(error.response);
        });
    }
  }
};
</script>

<style>
</style>
