<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 mb-4">
          <a class="btn btn-primary" href="/car/cars">
            <i class="fas fa-plus"></i> Add car
          </a>
        </div>
        <div class="col-md-4" v-for="(image, index) in roomimages" :key="index">
          <delete-component :route="'car/cars/image'" :id="image.id" :getResult="getImages"></delete-component>
          <image-update-component :getResult="getImages" :route="'/car/cars'" :id="image.id"></image-update-component>
          <div class="card card-widget">
            <div class="card-header">
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" @click="showDeleteModal(image.id)">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>

            <div class="card-body" v-if="!isLoading">
              <img class="img-fluid pad" :src="image.image" :alt="'Car Image' + index + 1 " />
              <button
                type="button"
                class="btn btn-primary btn-sm mt-4"
                @click="showImageModal(image.id)"
              >
                <i class="fas fa-edit"></i>
              </button>
            </div>
            <div class="card-body" v-else style="background: #000;">
              <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      carimages: {},
      isLoading: true
    };
  },
  mounted() {
    this.getImages();
  },
  methods: {
    getImages() {
      axios
        .get("/car/cars/images/all")
        .then(response => {
          this.carimages = response.data;
        })
        .catch(error => {
          console.log(error.response);
        });
    },
    showDeleteModal(id) {
      this.$modal.show("delete-modal" + id);
    },
    showImageModal(id) {
      this.$modal.show("image-modal" + id);
    }
  },
  watch: {
    isLoading() {
      setTimeout(() => {
        this.isLoading = false;
      }, 2000);
    }
  }
};
</script>

<style>
</style>