<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 mb-4">
          <a class="btn btn-primary" href="/car/cars">
            <i class="fas fa-eye"></i> view Cars
          </a>
        </div>
        <div class="col-md-12">
          <div class="card card-warning">
            <div class="card-header">
              <h3 class="card-title">Create Car</h3>
            </div>
            <form
              role="form"
              @submit.prevent="createCar"
              @keydown="errors.clearErr($event.target.name)"
            >
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Car Name</label>
                      <input type="text" class="form-control" placeholder="Car Name" v-model="name" />
                      <div
                        v-if="errors.has('name')"
                        class="alert alert-danger"
                      >{{ errors.first("name") }}</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Model</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Model Name"
                        v-model="model"
                      />
                      <div
                        v-if="errors.has('model')"
                        class="alert alert-danger"
                      >{{ errors.first("model") }}</div>
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Availability</label>
                      <select class="custom-select" v-model="availability">
                        <option value="available">Available</option>
                        <option value="not available">Not Available</option>
                      </select>
                      <div
                        v-if="errors.has('availability')"
                        class="alert alert-danger"
                      >{{ errors.first("availability") }}</div>
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Driver</label>
                      <select class="custom-select" v-model="driver_id">
                        <option :value="driver.id" v-for="(driver, index) in drivers" :key="index">{{drivers[index].name}} </option>
                      </select>
                      <!-- <div
                        v-if="errors.has('availability')"
                        class="alert alert-danger"
                      >{{ errors.first("availability") }}</div> -->
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Price per day</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Price per day"
                        v-model="price"
                        name="price"
                        required
                      />
                      <div
                        v-if="errors.has('price')"
                        class="alert alert-danger"
                      >{{ errors.first("price") }}</div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Basic Layout</label>
                      <wysiwyg v-model="description" />
                    </div>
                    <div
                      v-if="errors.has('description')"
                      class="alert alert-danger"
                    >{{ errors.validateWizard("description") }}</div>
                  </div>

                  <div class="col-md-12">
                    <label style="font-size: 16px;">
                      Car Images
                      <small>(Upload Car Image)</small>
                      <small style="color:red;">Maximum amount allowed is 10 *</small>
                    </label>
                    <vue2Dropzone
                      ref="CarImage"
                      id="CarImage"
                      :options="CarImageOptions"
                      @vdropzone-removed-file="vremoved"
                      @vdropzone-success="vCarImagesuccess"
                    ></vue2Dropzone>
                    <div
                      v-if="errors.has('Car')"
                      class="alert alert-danger"
                    >{{ errors.first("Car") }}</div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button
                  type="submit"
                  v-if="!isLoading && readyToGo"
                  class="btn btn-primary"
                  value="save"
                >Submit</button>
                <button
                  type="submit"
                  disabled
                  class="btn btn-primary"
                  v-else-if="!isLoading && !readyToGo"
                >Submit</button>
                <button disabled class="btn btn-primary" v-else>
                  <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Errors from "../../../../../Errors.js";
export default {
  data() {
    return {
      availability: "available",
      errors: Errors,
      name: null,
      model: null,
      price: null,
      drivers: {},
      description: "",
      driver_id: "",
      isLoading: false,
      readyToGo: false,
      removedFile: false,
      imageResponse: [],
      CarImageOptions: {
        url:
          "https://api.cloudinary.com/v1_1/nfco/image/upload?upload_preset=yt3sx3ha",
        thumbnailWidth: 150,
        maxFilesize: 3.5,
        addRemoveLinks: true,
        maxFiles: 10,
        dictDefaultMessage:
          "<i class='pe-7s-cloud-upload icon-gradient bg-warm-flame' style='font-size:30px;'></i> <p style='font-family:Montserrat, sans-serif;'>Upload Car Image</p>",
        headers: { "X-Requested-With": "XMLHttpRequest" },
        renameFile: function(file) {
          let newName = new Date().getTime() + "_" + file.name;
          return newName;
        }
      }
    };
  },
  mounted() {
    this.getData();
  },

  methods: {
    getData() {
      axios
        .get("/car/cars/all")
        .then(response => {
          this.drivers = response.data.drivers;
        })
        .catch(error => {
          console.log(error.response);
        });
    },
    createCar: function() {
      this.isLoading = true;
      const form = {
        description: this.description,
        name: this.name,
        model: this.model,
        price: this.price,
        availability: this.availability,
        images: this.imageResponse,
        driver_id: this.driver_id
      };
      axios
        .post("/car/cars", form)
        .then(response => {
          this.isLoading = false;
          this.readyToGo = false;
          this.clearPopulatedData();
          this.alert(response);
          this.getCars();
        })
        .catch(error => {
          this.isLoading = false;
          console.log(error.response);
          Errors.fill(error.response.data.errors);
          this.validationForDoc();
        });
    },
    clearPopulatedData: function() {
      this.name = null;
      this.model = null;
      this.imageResponse = [];
      this.$refs.CarImage.removeAllFiles();
      this.description = "";
      this.price = 0;
      this.availability = "available";
    },
    alert(response) {
      this.$swal.fire({
        title: "Cars",
        text: response.data.message,
        icon: "success"
      });
    },
    vremoved(file, error, xhr) {
      this.removedFile = true;
      const filename = file.upload.filename;
      for (var i = this.imageResponse.length - 1; i >= 0; i--) {
        if (this.imageResponse[i].filename === filename) {
          this.imageResponse.splice(i, 1);
        }
      }
    },
    in_array(haystack, needle) {
      var length = haystack.length;
      for (var i = 0; i < length; i++) {
        if (haystack[i].type == needle) return true;
      }
      return false;
    },
    validationForDoc() {
      if (this.imageResponse.length > 0) {
        if (!this.in_array(this.imageResponse, "Car")) {
          Errors.push({
            car_image: ["Car image is required!"]
          });
        }
      } else {
        Errors.push({
          car_image: ["Car image is required!"]
        });
      }
    },

    vCarImagesuccess(file, response) {
      this.imageResponse.push({
        filename: file.upload.filename,
        type: "Car",
        signedUrl: response.url
      });
      this.readyToGo = true;
      if (this.in_array(this.imageResponse, "Car")) {
        Errors.clearErr("car_image");
      }
    }
  },
  watch: {
    removedFile() {
      let that = this;
      setTimeout(function() {
        that.removedFile = false;
      }, 2000);
    }
  }
};
</script>

<style>
</style>