<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 mb-4">
          <a class="btn btn-primary" href="/car/cars">
            <i class="fas fa-eye"></i> view car
          </a>
        </div>
        <div class="col-md-12">
          <div class="card card-warning">
            <div class="card-header">
              <h3 class="card-title">Update Car</h3>
            </div>
            <form
              role="form"
              @submit.prevent="updateCar"
              @keydown="errors.clearErr($event.target.name)"
            >
              <div class="modal-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Car Name</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Room Number"
                        v-model="name"
                        required
                        name="room_no"
                      />

                      <div
                        v-if="errors.has('name')"
                        class="alert alert-danger"
                      >{{ errors.first("name") }}</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Model</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Model Number"
                        v-model="model"
                        required
                        name="model"
                      />

                      <div
                        v-if="errors.has('model')"
                        class="alert alert-danger"
                      >{{ errors.first("model") }}</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Driver</label>
                      <select class="custom-select" v-model="driver_id" name="driver_id" required>
                        <option value="0" disabled>Select Driver</option>
                        <option
                          v-for="(driver, index) in drivers"
                          :value="driver.id"
                          :key="index"
                        >{{drivers[index].name}}</option>
                      </select>
                      <div
                        v-if="errors.has('driver')"
                        class="alert alert-danger"
                      >{{ errors.first("driver") }}</div>
                    </div>
                  </div>
                  
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Price Per Day</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Price per night"
                        v-model="price"
                        name="price"
                        required
                      />
                      <div
                        v-if="errors.has('price')"
                        class="alert alert-danger"
                      >{{ errors.first("price") }}</div>
                    </div>
                  </div>
                  
                  
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Basic Layout</label>
                      <wysiwyg v-model="description" name="dsecription" required />
                      <div
                        v-if="errors.has('description')"
                        class="alert alert-danger"
                      >{{ errors.first("description") }}</div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Car availability status</label>
                      <select
                        class="custom-select"
                        v-model="availability"
                        name="availability"
                        required
                      >
                        <option value="available">Available</option>
                        <option value="not available">Not Available</option>
                      </select>
                      <div
                        v-if="errors.has('availability')"
                        class="alert alert-danger"
                      >{{ errors.first("availability") }}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="submit"
                  v-if="!isLoading"
                  class="btn btn-danger btn-block"
                >Save changes</button>
                <button type="button" disabled v-else class="btn btn-danger btn-block">
                  <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Errors from "../../../../../Errors";
export default {
  props: ["id"],
  data() {
    return {
      drivers: {},
      driver: {},
      car: {},
      isLoading: false,
      errors: Errors,
    };
  },
  mounted() {
    this.getData();
  },
  methods: {
    getData() {
      axios
        .get("/car/cars/real/" + this.id)
        .then(response => {
          this.car = response.data.car;
        })
        .catch(error => {
          console.log(error.response);
        });
    },
    updateRoom() {
      this.isLoading = true;
      const form = {
        name: this.name,
        model: this.model,
        description: this.description,
        price: this.price,
        driver_id: this.driver_id,
        availability: this.availability
      };
      axios
        .patch("/car/cars/edit/" + this.id, form)
        .then(response => {
          this.isLoading = false;
          this.alert(response);
          setTimeout(() => {
            window.location.href = "/car/cars";
          }, 2000);
        })
        .catch(error => {
          this.loading = false;
          Errors.fill(error.response.data.errors);
          console.log(error.response);
        });
    },
    alert(response) {
      this.$swal.fire({
        title: "Car",
        text: response.data.message,
        icon: "success"
      });
    }
  },
  computed: {
    name: {
      get() {
        return this.car.name;
      },
      set(value) {
        this.car.name = value;
      }
    },
    model: {
      get() {
        return this.car.model;
      },
      set(value) {
        this.car.model = value;
      }
    },
    driver_id: {
      get() {
        return this.driver.driver_id;
      },
      set(value) {
        this.driver.driver_id = value;
      }
    },
    price: {
      get() {
        return this.car.price;
      },
      set(value) {
        this.car.price = value;
      }
    },
    
    Description: {
      get() {
        return this.car.description;
      },
      set(value) {
        this.car.description = value;
      }
    },
    availability: {
      get() {
        return this.car.availability;
      },
      set(value) {
        this.car.availability = value;
      }
    },
  }
};
</script>

<style>
</style>