<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 mb-4">
          <a class="btn btn-primary" href="/hotel/rooms">
            <i class="fas fa-eye"></i> view room
          </a>
        </div>
        <div class="col-md-12">
          <div class="card card-warning">
            <div class="card-header">
              <h3 class="card-title">Create Room</h3>
            </div>
            <form
              role="form"
              @submit.prevent="createRoom"
              @keydown="errors.clearErr($event.target.name)"
            >
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Room Number</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Room Number"
                        v-model="room_no"
                        required
                        name="room_no"
                      />

                      <div
                        v-if="errors.has('room_no')"
                        class="alert alert-danger"
                      >{{ errors.first("room_no") }}</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Room Type</label>
                      <select class="custom-select" v-model="roomtype" name="roomtype" required>
                        <option value="0" disabled>Select Room Type</option>
                        <option
                          v-for="(type, index) in roomtypez"
                          :value="type.id"
                          :key="index"
                        >{{ type.name }}</option>
                      </select>
                      <div
                        v-if="errors.has('roomtype')"
                        class="alert alert-danger"
                      >{{ errors.first("roomtype") }}</div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Maximum Capacity</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Maximum Capacity"
                        v-model="maximum_capacity"
                        required
                        name="maximum_capacity"
                      />
                      <div
                        v-if="errors.has('maximum_capacity')"
                        class="alert alert-danger"
                      >{{ errors.first("maximum_capacity") }}</div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Price per night</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Price per night"
                        v-model="price"
                        name="price"
                        required
                      />
                      <div
                        v-if="errors.has('price')"
                        class="alert alert-danger"
                      >{{ errors.first("price") }}</div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Number of Bedroom</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Number of Bedroom"
                        v-model="bedroom"
                        name="bedroom"
                        required
                      />
                      <div
                        v-if="errors.has('bedroom')"
                        class="alert alert-danger"
                      >{{ errors.first("bedroom") }}</div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Bed Detail</label>
                      <textarea
                        name="bed_detail"
                        class="form-control"
                        required
                        placeholder="Bed Detail"
                        v-model="bed_detail"
                        id="bed_detail"
                        cols="30"
                        rows="10"
                      ></textarea>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Basic Layout</label>
                      <wysiwyg v-model="basic_layout" name="basic_layout" required />
                      <div
                        v-if="errors.has('basic_layout')"
                        class="alert alert-danger"
                      >{{ errors.first("basic_layout") }}</div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Room availability status</label>
                      <select
                        class="custom-select"
                        v-model="availability"
                        name="availability"
                        required
                      >
                        <option value="available">Available</option>
                        <option value="not available">Not Available</option>
                      </select>
                      <div
                        v-if="errors.has('availability')"
                        class="alert alert-danger"
                      >{{ errors.first("availability") }}</div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Smoking Status</label>
                      <select
                        class="custom-select"
                        v-model="smoking_status"
                        name="smoking_status"
                        required
                      >
                        <option value="allowed">Allowed</option>
                        <option value="not allowed">Not Allowed</option>
                      </select>
                      <div
                        v-if="errors.has('smoking_status')"
                        class="alert alert-danger"
                      >{{ errors.first("smoking_status") }}</div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Amenities</label>
                      <select
                        class="custom-select"
                        v-model="amenities"
                        multiple
                        name="amenities"
                        required
                      >
                        <option value="0" disabled>Select Amenities</option>
                        <option
                          v-for="(am, index) in amenity"
                          :key="index"
                          :value="am.id"
                        >{{ am.name }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Square feet</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Square feet"
                        v-model="square_feet"
                        name="square_feet"
                        required
                      />
                      <div
                        v-if="errors.has('square_feet')"
                        class="alert alert-danger"
                      >{{ errors.first("square_feet") }}</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Bathroom</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Bathroom"
                        v-model="bathroom"
                        name="bathroom"
                      />
                      <div
                        v-if="errors.has('bathroom')"
                        class="alert alert-danger"
                      >{{ errors.first("bathroom") }}</div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <label style="font-size: 16px;">
                      Room Images
                      <small>(Upload Room Image)</small>
                      <small style="color:red;">Maximum amount allowed is 10 *</small>
                    </label>
                    <vue2Dropzone
                      ref="RoomImage"
                      id="RoomImage"
                      :options="RoomImageOptions"
                      @vdropzone-removed-file="vremoved"
                      @vdropzone-success="vRoomImagesuccess"
                    ></vue2Dropzone>
                    <div
                      v-if="errors.has('Room')"
                      class="alert alert-danger"
                    >{{ errors.first("Room") }}</div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary" v-if="!isLoading && readyToGo">Submit</button>
                <button
                  type="submit"
                  disabled
                  class="btn btn-primary"
                  v-else-if="!isLoading && !readyToGo"
                >Submit</button>
                <button disabled class="btn btn-primary" v-else>
                  <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Errors from "../../../../../Errors.js";
export default {
  data() {
    return {
      errors: Errors,
      availability: "available",
      roomtype: 0,
      roomtypez: {},
      room_no: null,
      maximum_capacity: 0,
      price: 0,
      bedroom: 0,
      bathroom: 0,
      square_feet: 0,
      basic_layout: "",
      bed_detail: null,
      smoking_status: "not allowed",
      amenities: [],
      amenity: {},
      isLoading: false,
      readyToGo: false,
      imageResponse: [],
      RoomImageOptions: {
        url:
          "https://api.cloudinary.com/v1_1/nfco/image/upload?upload_preset=yt3sx3ha",
        thumbnailWidth: 150,
        maxFilesize: 3.5,
        addRemoveLinks: true,
        maxFiles: 10,
        dictDefaultMessage:
          "<i class='pe-7s-cloud-upload icon-gradient bg-warm-flame' style='font-size:30px;'></i> <p style='font-family:Montserrat, sans-serif;'>Upload Room Image</p>",
        headers: { "X-Requested-With": "XMLHttpRequest" },
        renameFile: function(file) {
          let newName = new Date().getTime() + "_" + file.name;
          return newName;
        }
      }
    };
  },
  mounted() {
    this.getData();
  },
  methods: {
    getData() {
      axios
        .get("/hotel/rooms/all")
        .then(response => {
          this.roomtypez = response.data.roomtype;
          this.amenity = response.data.amenity;
        })
        .catch(error => {
          console.log(error.response);
        });
    },
    createRoom: function() {
      this.isLoading = true;
      const form = {
        room_no: this.room_no,
        images: this.imageResponse,
        roomtype: this.roomtype,
        amenity: this.amenities,
        basic_layout: this.basic_layout,
        smoking_status: this.smoking_status,
        price: this.price,
        bedroom: this.bedroom,
        maximum_capacity: this.maximum_capacity,
        availability: this.availability,
        square_feet: this.square_feet,
        bathroom: this.bathroom,
        bed_detail: this.bed_detail
      };
      axios
        .post("/hotel/rooms", form)
        .then(response => {
          this.isLoading = false;
          this.readyToGo = false;
          this.alert(response);
          this.clearPopulatedData();
        })
        .catch(error => {
          this.isLoading = false;
          console.log(error.response);
          console.log(error);
          Errors.fill(error.response.data.errors);
          this.validationForDoc();
        });
    },
    clearPopulatedData: function() {
      this.room_no = null;
      this.bed_detail = null;
      this.imageResponse = [];
      this.$refs.RoomImage.removeAllFiles();
      this.roomtype = 0;
      this.amenities = [];
      this.basic_layout = "";
      this.smoking_status = "not allowed";
      this.price = 0;
      this.bedroom = 0;
      this.maximum_capacity = 0;
      this.availability = "available";
      this.square_feet = 0;
      this.bathroom = 0;
    },
    alert(response) {
      this.$swal.fire({
        title: "Rooms",
        text: response.data.message,
        icon: "success"
      });
    },
    vremoved(file, error, xhr) {
      this.removedFile = true;
      const filename = file.upload.filename;
      for (var i = this.imageResponse.length - 1; i >= 0; i--) {
        if (this.imageResponse[i].filename === filename) {
          this.imageResponse.splice(i, 1);
        }
      }
    },
    in_array(haystack, needle) {
      var length = haystack.length;
      for (var i = 0; i < length; i++) {
        if (haystack[i].type == needle) return true;
      }
      return false;
    },
    validationForDoc() {
      if (this.imageResponse.length > 0) {
        if (!this.in_array(this.imageResponse, "Room")) {
          Errors.push({
            room_image: ["Room image is required!"]
          });
        }
      } else {
        Errors.push({
          room_image: ["Room image is required!"]
        });
      }
    },

    vRoomImagesuccess(file, response) {
      this.imageResponse.push({
        filename: file.upload.filename,
        type: "Room",
        signedUrl: response.url
      });
      this.readyToGo = true;
      if (this.in_array(this.imageResponse, "Room")) {
        Errors.clearErr("room_image");
      }
    }
  },
  watch: {
    removedFile() {
      let that = this;
      setTimeout(function() {
        that.removedFile = false;
      }, 2000);
    }
  }
};
</script>

<style>
</style>
