<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 mb-4">
          <a class="btn btn-primary" href="/hotel/rooms">
            <i class="fas fa-eye"></i> view room
          </a>
        </div>
        <div class="col-md-12">
          <div class="card card-warning">
            <div class="card-header">
              <h3 class="card-title">Update Room</h3>
            </div>
            <form
              role="form"
              @submit.prevent="updateRoom"
              @keydown="errors.clearErr($event.target.name)"
            >
              <div class="modal-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Room Number</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Room Number"
                        v-model="room_no"
                        required
                        name="room_no"
                      />

                      <div
                        v-if="errors.has('room_no')"
                        class="alert alert-danger"
                      >{{ errors.first("room_no") }}</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Room Type</label>
                      <select class="custom-select" v-model="roomtype" name="roomtype" required>
                        <option value="0" disabled>Select Room Type</option>
                        <option
                          v-for="(type, index) in roomtypez"
                          :value="type.id"
                          :key="index"
                        >{{ type.name }}</option>
                      </select>
                      <div
                        v-if="errors.has('roomtype')"
                        class="alert alert-danger"
                      >{{ errors.first("roomtype") }}</div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Maximum Capacity</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Maximum Capacity"
                        v-model="maximum_capacity"
                        required
                        name="maximum_capacity"
                      />
                      <div
                        v-if="errors.has('maximum_capacity')"
                        class="alert alert-danger"
                      >{{ errors.first("maximum_capacity") }}</div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Price per night</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Price per night"
                        v-model="price"
                        name="price"
                        required
                      />
                      <div
                        v-if="errors.has('price')"
                        class="alert alert-danger"
                      >{{ errors.first("price") }}</div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Number of Bedroom</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Number of Bedroom"
                        v-model="bedroom"
                        name="bedroom"
                        required
                      />
                      <div
                        v-if="errors.has('bedroom')"
                        class="alert alert-danger"
                      >{{ errors.first("bedroom") }}</div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Bed Detail</label>
                      <textarea
                        name="bed_detail"
                        class="form-control"
                        required
                        placeholder="Bed Detail"
                        v-model="bed_detail"
                        id="bed_detail"
                        cols="30"
                        rows="10"
                      ></textarea>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Basic Layout</label>
                      <wysiwyg v-model="basic_layout" name="basic_layout" required />
                      <div
                        v-if="errors.has('basic_layout')"
                        class="alert alert-danger"
                      >{{ errors.first("basic_layout") }}</div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Room availability status</label>
                      <select
                        class="custom-select"
                        v-model="availability"
                        name="availability"
                        required
                      >
                        <option value="available">Available</option>
                        <option value="not available">Not Available</option>
                      </select>
                      <div
                        v-if="errors.has('availability')"
                        class="alert alert-danger"
                      >{{ errors.first("availability") }}</div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Smoking Status</label>
                      <select
                        class="custom-select"
                        v-model="smoking_status"
                        name="smoking_status"
                        required
                      >
                        <option value="allowed">Allowed</option>
                        <option value="not allowed">Not Allowed</option>
                      </select>
                      <div
                        v-if="errors.has('smoking_status')"
                        class="alert alert-danger"
                      >{{ errors.first("smoking_status") }}</div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Amenities</label>
                      <select
                        class="custom-select"
                        v-model="amenities"
                        multiple
                        name="amenities"
                        required
                      >
                        <option value="0" disabled>Select Amenities</option>
                        <option
                          v-for="(am, index) in amenity"
                          :key="index"
                          :value="am.id"
                        >{{ am.name }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Square feet</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Square feet"
                        v-model="square_feet"
                        name="square_feet"
                        required
                      />
                      <div
                        v-if="errors.has('square_feet')"
                        class="alert alert-danger"
                      >{{ errors.first("square_feet") }}</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Bathroom</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Bathroom"
                        v-model="bathroom"
                        name="bathroom"
                      />
                      <div
                        v-if="errors.has('bathroom')"
                        class="alert alert-danger"
                      >{{ errors.first("bathroom") }}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="submit"
                  v-if="!isLoading"
                  class="btn btn-danger btn-block"
                >Save changes</button>
                <button type="button" disabled v-else class="btn btn-danger btn-block">
                  <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Errors from "../../../../../Errors";
export default {
  props: ["id"],
  data() {
    return {
      roomtypez: {},
      amenity: {},
      room: {},
      isLoading: false,
      errors: Errors,
      amenities: [],
      room_no1: null
    };
  },
  mounted() {
    this.getData();
  },
  methods: {
    getData() {
      axios
        .get("/hotel/rooms/real/" + this.id)
        .then(response => {
          this.roomtypez = response.data.roomtype;
          this.amenity = response.data.amenity;
          this.room = response.data.room;
        })
        .catch(error => {
          console.log(error.response);
        });
    },
    updateRoom() {
      this.isLoading = true;
      const form = {
        room_no: this.room_no,
        roomtype: this.roomtype,
        amenity: this.amenities,
        basic_layout: this.basic_layout,
        smoking_status: this.smoking_status,
        price: this.price,
        bedroom: this.bedroom,
        maximum_capacity: this.maximum_capacity,
        availability: this.availability,
        square_feet: this.square_feet,
        bathroom: this.bathroom,
        bed_detail: this.bed_detail
      };
      axios
        .patch("/hotel/rooms/edit/" + this.id, form)
        .then(response => {
          this.isLoading = false;
          this.alert(response);
          setTimeout(() => {
            window.location.href = "/hotel/rooms";
          }, 2000);
        })
        .catch(error => {
          this.loading = false;
          Errors.fill(error.response.data.errors);
          console.log(error.response);
        });
    },
    alert(response) {
      this.$swal.fire({
        title: "Room",
        text: response.data.message,
        icon: "success"
      });
    }
  },
  computed: {
    room_no: {
      get() {
        return this.room.room_no;
      },
      set(value) {
        this.room.room_no = value;
      }
    },
    roomtype: {
      get() {
        return this.room.room_type_id;
      },
      set(value) {
        this.room.room_type_id = value;
      }
    },
    maximum_capacity: {
      get() {
        return this.room.maximum_capacity;
      },
      set(value) {
        this.room.maximum_capacity = value;
      }
    },
    price: {
      get() {
        return this.room.price_per_night;
      },
      set(value) {
        this.room.price_per_night = value;
      }
    },
    bedroom: {
      get() {
        return this.room.bedroom;
      },
      set(value) {
        this.room.bedroom = value;
      }
    },
    bed_detail: {
      get() {
        return this.room.bed_detail;
      },
      set(value) {
        this.room.bed_detail = value;
      }
    },
    basic_layout: {
      get() {
        return this.room.basic_layout;
      },
      set(value) {
        this.room.basic_layout = value;
      }
    },
    availability: {
      get() {
        return this.room.availability;
      },
      set(value) {
        this.room.availability = value;
      }
    },
    smoking_status: {
      get() {
        return this.room.smoking_status;
      },
      set(value) {
        this.room.smoking_status = value;
      }
    },
    square_feet: {
      get() {
        return this.room.square_feet;
      },
      set(value) {
        this.room.square_feet = value;
      }
    },
    bathroom: {
      get() {
        return this.room.bathroom;
      },
      set(value) {
        this.room.bathroom = value;
      }
    }
  }
};
</script>

<style>
</style>
