<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 mb-4">
          <a class="btn btn-primary" href="/hotel/rooms">
            <i class="fas fa-eye"></i> View room
          </a>
        </div>
        <div class="col-md-4" v-for="(image, index) in roomimages" :key="index">
          <delete-component :route="'hotel/rooms/image'" :id="image.id" :getResult="getImages"></delete-component>
          <image-update-component :getResult="getImages" :route="'/hotel/rooms'" :id="image.id"></image-update-component>
          <div class="card card-widget">
            <div class="card-header">
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" @click="showDeleteModal(image.id)">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>

            <div class="card-body" v-if="!isLoading">
              <img
                class="img-fluid pad"
                :src="image.image"
                style="height: 300px; width: 100%; object-fit: cover;"
                :alt="'Room Image' + index + 1 "
              />
              <button
                type="button"
                class="btn btn-primary btn-sm mt-4"
                @click="showImageModal(image.id)"
              >
                <i class="fas fa-edit"></i>
              </button>
            </div>
            <div class="card-body" v-else style="background: #000;">
              <div class="lds-ellipsis" style="flex: center;">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: ["id"],
  data() {
    return {
      roomimages: {},
      isLoading: true
    };
  },
  mounted() {
    this.getImages();
    this.isLoadingState();
  },
  methods: {
    getImages() {
      console.log(this.id);
      axios
        .get("/hotel/rooms/images/all/" + this.id)
        .then(response => {
          this.roomimages = response.data;
        })
        .catch(error => {
          console.log(error.response);
        });
    },
    showDeleteModal(id) {
      this.$modal.show("delete-modal" + id);
    },
    showImageModal(id) {
      this.$modal.show("image-modal" + id);
    },
    isLoadingState() {
      setTimeout(() => {
        this.isLoading = false;
      }, 3000);
    }
  }
};
</script>

<style>
</style>
