<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 mb-4">
          <a class="btn btn-primary" href="/hotel/rooms/create">
            <i class="fas fa-plus"></i> Add room
          </a>
        </div>
        <div v-if="roomz.data.length > 0" class="row">
          <div class="col-md-4" v-for="(room, index) in roomz.data" :key="index">
            <delete-component :route="'hotel/rooms'" :id="room.id" :getResult="getRooms"></delete-component>
            <div class="card card-widget">
              <div class="card-header">
                <div class="user-block">
                  <span class="username">
                    <a href="#">{{ room.room_no }}</a>
                  </span>
                  <span class="description">
                    created -
                    <timeago :datetime="room.created_at" :refresh="60" locale="en" tooltip></timeago>
                  </span>
                </div>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" @click="showDeleteModal(room.id)">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>

              <div class="card-body">
                <img
                  v-if="room.images.length > 0"
                  class="img-fluid pad"
                  style="height: 300px; width: 100%; object-fit:cover;"
                  :src="room.images[0].image"
                  :alt="'Room Image' + index + 1"
                />
                <img
                  v-else
                  class="img-fluid pad"
                  style="height: 300px; width: 100%; object-fit:cover;"
                  src="/client/img/home_1/main_slide_1.jpg"
                  :alt="'Room Image' + index + 1"
                />
                <a :href="'/hotel/rooms/edit/' + room.id" class="btn btn-primary btn-sm mt-4">
                  <i class="fas fa-edit"></i>
                </a>
                <a :href="'/hotel/rooms/image/' + room.id" class="btn btn-primary btn-sm mt-4">
                  <i class="fas fa-image"></i>
                </a>
              </div>
              <div class="card-footer card-comments">
                <div class="card-comment" style="margin-bottom: 20px;">
                  <div class="comment-text">
                    <span class="username">${{ room.price_per_night }} per night</span>
                  </div>
                </div>
                <ul>
                  <li>Availability status: {{ room.availability }}</li>
                  <li>Maximum capacity: {{ room.maximum_capacity }}</li>
                  <li>Number of bedroom/s: {{ room.bedroom }}</li>
                  <li
                    v-if="room.bed_detail.length > 100"
                  >bed detail: {{ room.bed_detail.substring(0, 100) }} ...</li>
                  <li v-else>bed detail: {{ room.bed_detail.length }}</li>
                  <li>
                    square feet: {{ room.square_feet }}
                    <span
                      style="postition: absolute; top: 0px; font-size: 10px;"
                    >2</span>
                    FT
                  </li>
                  <li>Bathroom: {{ room.bathroom }}</li>
                </ul>
                <div class="card-comment">
                  <div
                    class="comment-text"
                    v-if="room.basic_layout.length > 200"
                    v-html="room.basic_layout.substring(0, 200)"
                  >...</div>
                  <div class="comment-text" v-else v-html="room.basic_layout"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12" v-else>
          <div
            class="card card-widget"
            style="padding: 60px 10px 60px 10px; box-shadow: 0px 10px 10px 5px rgba(0,0,0,0.02);"
          >
            <h1 style="text-align: center;">Sorry! There are no Cars Created!</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data: function() {
    return {
      roomz: {}
    };
  },
  mounted() {
    this.getRooms();
  },
  methods: {
    getRooms: function() {
      axios
        .get("/hotel/rooms/all")
        .then(response => {
          this.roomz = response.data.room;
        })
        .catch(error => {
          console.log(error.response);
        });
    },
    showDeleteModal(id) {
      this.$modal.show("delete-modal" + id);
    },
    showEditModal(id) {
      this.$modal.show("edit-modal" + id);
    }
  }
};
</script>

<style>
</style>
