<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-warning">
            <div class="card-header">
              <h3 class="card-title">Create Amenity</h3>
            </div>
            <form role="form" @submit.prevent="createAmenity">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Name</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Amenity Name"
                        v-model="name"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Amenity Type</label>
                      <select class="custom-select" v-model="type" required>
                        <option value="hotel">Hotel</option>
                        <option value="home">Home</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" v-if="!isLoading" class="btn btn-primary">Submit</button>
                <button type="submit" v-else disabled class="btn btn-primary">
                  <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </button>
              </div>
            </form>
          </div>

          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Amenities</h3>

              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 350px;">
                  <input
                    type="text"
                    name="table_search"
                    class="form-control float-right"
                    placeholder="Search"
                  />

                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="max-height: 540px;">
              <table class="table table-head-fixed">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Amenity Name</th>
                    <th>Type</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(amenity, index) in amenities.data" :key="amenity.id">
                    <td>{{ index + 1 }}</td>
                    <td>{{ amenity.name }}</td>
                    <td>{{ amenity.type }}</td>
                    <td>
                      <delete-component
                        :route="'admin/amenity'"
                        :id="amenity.id"
                        :getResult="getAmenities"
                      ></delete-component>
                      <edit-amenity-component
                        :amenity="amenities"
                        :id="amenities.data[index].id"
                        :amenityName.sync="amenities.data[index].name"
                        :amenityType.sync="amenities.data[index].type"
                      ></edit-amenity-component>
                      <button
                        class="btn btn-sm btn-icon btn-primary"
                        @click="showEditModal(amenity.id)"
                      >
                        <i class="fas fa-edit"></i>
                      </button>
                      <button
                        class="btn btn-sm btn-icon btn-danger"
                        @click="showDeleteModal(amenity.id)"
                      >
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination :data="amenities" @pagination-change-page="getAmenities"></pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      icon: 0,
      name: null,
      isLoading: false,
      type: "hotel",
      amenities: {}
    };
  },
  mounted() {
    this.getAmenities();
  },
  methods: {
    showDeleteModal(id) {
      this.$modal.show("delete-modal" + id);
    },
    showEditModal(id) {
      this.$modal.show("edit-modal" + id);
    },
    getAmenities() {
      axios
        .get("/admin/amenity/all")
        .then(response => {
          this.amenities = response.data;
        })
        .catch(error => {
          console.log(error.response);
        });
    },
    createAmenity() {
      this.isLoading = true;
      const form = {
        amenityName: this.name,
        amenityType: this.type
      };
      axios
        .post("/admin/amenity", form)
        .then(response => {
          this.isLoading = false;
          this.clearPopulatedData();
          this.alert(response);
          this.getAmenities();
        })
        .catch(error => {
          this.isloading = false;
          console.log(error.response);
        });
    },
    clearPopulatedData: function() {
      this.name = null;
      this.type = "hotel";
    },
    alert(response) {
      this.$swal.fire({
        title: "Amenity",
        text: response.data.message,
        icon: "success"
      });
    }
  }
};
</script>

<style>
</style>
