<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-warning">
            <div class="card-header">
              <h3 class="card-title">Agreements</h3>
            </div>
            <form role="form" @submit.prevent="updateAgreement">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Agreement for Hotels</label>
                      <wysiwyg v-model="hotel" />
                    </div>
                    <div
                      v-if="errors.has('hotel')"
                      class="alert alert-danger"
                    >{{ errors.validateWizard("hotel") }}</div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Agreement for Tours</label>
                      <wysiwyg v-model="tour" />
                    </div>
                    <div
                      v-if="errors.has('tour')"
                      class="alert alert-danger"
                    >{{ errors.validateWizard("tour") }}</div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>Agreement for Car Dealers</label>
                      <wysiwyg v-model="car" />
                    </div>
                    <div
                      v-if="errors.has('car')"
                      class="alert alert-danger"
                    >{{ errors.validateWizard("car") }}</div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Agreement for Customers</label>
                      <wysiwyg v-model="customer" />
                    </div>
                    <div
                      v-if="errors.has('customer')"
                      class="alert alert-danger"
                    >{{ errors.validateWizard("customer") }}</div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Agreement for Home/Property Managers</label>
                      <wysiwyg v-model="home" />
                      <div
                        v-if="errors.has('home')"
                        class="alert alert-danger"
                      >{{ errors.validateWizard("home") }}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" v-if="!isLoading" class="btn btn-primary">Submit</button>
                <button type="submit" v-else disabled class="btn btn-primary">
                  <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Errors from "../../../../../Errors";
export default {
  data() {
    return {
      isLoading: false,
      agreements: {},
      errors: Errors
    };
  },
  mounted() {
    this.getAgreements();
  },
  methods: {
    getAgreements() {
      axios
        .get("/admin/agreement/all")
        .then(response => {
          this.agreements = response.data;
        })
        .catch(error => {
          console.log(error.response);
        });
    },
    updateAgreement() {
      if (this.hotel == "<br>") {
        return Errors.fill({
          hotel: "Hotel Agreement is required!"
        });
      }
      if (this.tour == "<br>") {
        return Errors.fill({
          tour: "Tour Agreement is required!"
        });
      }
      if (this.car == "<br>") {
        return Errors.fill({
          car: "Car Agreement is required!"
        });
      }
      if (this.customer == "<br>") {
        return Errors.fill({
          customer: "Customer Agreement is required!"
        });
      }
      if (this.home == "<br>") {
        return Errors.fill({
          home: "Home/Property Owner Agreement is required!"
        });
      }
      this.isLoading = true;
      const form = {
        hotel: this.hotel,
        home: this.home,
        tour: this.tour,
        car: this.car,
        customer: this.customer
      };
      axios
        .patch("/admin/agreement", form)
        .then(response => {
          this.isLoading = false;
          this.alert(response);
        })
        .catch(error => {
          this.isLoading = false;
          console.log(error.response);
        });
    },
    alert(response) {
      this.$swal.fire({
        title: "Agreement",
        text: response.data.message,
        icon: "success"
      });
    }
  },
  computed: {
    hotel: {
      get() {
        return this.agreements.hotel_agreement;
      },
      set(value) {
        this.agreements.hotel_agreement = value;
      }
    },
    home: {
      get() {
        return this.agreements.home_agreement;
      },
      set(value) {
        this.agreements.home_agreement = value;
      }
    },
    car: {
      get() {
        return this.agreements.car_agreement;
      },
      set(value) {
        this.agreements.car_agreement = value;
      }
    },
    tour: {
      get() {
        return this.agreements.tour_agreement;
      },
      set(value) {
        this.agreements.tour_agreement = value;
      }
    },
    customer: {
      get() {
        return this.agreements.customer_agreement;
      },
      set(value) {
        this.agreements.customer_agreement = value;
      }
    }
  },
  watch: {
    hotel() {
      Errors.clearErr("hotel");
    },
    tour() {
      Errors.clearErr("tour");
    },
    car() {
      Errors.clearErr("car");
    },
    customer() {
      Errors.clearErr("customer");
    },
    home() {
      Errors.clearErr("home");
    }
  }
};
</script>

<style>
</style>
