<template>
  <modal :name="'hello-world'+id" height="auto">
    <div class="modal-header">
      <h6 class="modal-title" id="modal-title-default">Agreement contract from owner</h6>
    </div>
    <div class="modal-body">
      <p v-html="agreement.terms_and_conditions"></p>
      <div class="input-entry color-5" style="margin-top: 20px; margin-bottom: 10px;">
        <input class="checkbox-form" id="text-2" type="checkbox" name="checkbox" v-model="terms" />
        <label class="clearfix" for="text-2">
          <span class="sp-check">
            <i class="fa fa-check"></i>
          </span>
          <span class="checkbox-text">I accept the term and conditions</span>
        </label>
      </div>
    </div>
    <div class="modal-footer">
      <form @submit.prevent="agreed">
        <button
          v-if="!isLoading"
          type="submit"
          class="btn btn-primary"
          :disabled="disabled"
        >Continue on Booking</button>
        <button v-else disabled class="btn btn-primary">
          <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </button>
      </form>
    </div>
  </modal>
</template>

<script>
export default {
  props: ["agreement", "id", "type"],
  data() {
    return {
      disabled: true,
      terms: false,
      isLoading: false
    };
  },
  methods: {
    agreed: function() {
      this.isLoading = true;
      const form = {
        agreement_id: this.agreement.id
      };
      axios
        .post("/agree", form)
        .then(response => {
          this.isLoading = false;
          if (response.data.status == "success") {
            window.location.href = "/book/" + this.id + "/" + this.type;
          }
        })
        .catch(error => {
          this.isLoading = false;
          console.log(error.response);
        });
    }
  },
  watch: {
    terms() {
      if (this.terms == true) {
        this.disabled = false;
      } else {
        this.disabled = true;
      }
    }
  }
};
</script>

<style>
</style>
