<template>
  <div class="inner-banner">
    <div class="video-overlay"></div>

    <img class="center-image" :src="image" alt />

    <div class="vertical-align">
      <div class="container">
        <ul class="banner-breadcrumb color-white clearfix">
          <li>
            <a class="link-blue-2" href="/">Home</a> /
          </li>

          <li style="cursor: default;">{{name}}</li>
        </ul>

        <h1 class="color-white">{{name}}</h1>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["name", "name_count", "image"]
};
</script>
