<template>
	
	<div class="list-header clearfix">

		<select class="form-control drop-wrap drop-wrap-s-4 color-4 list-sort" style="padding: 0px; padding-left: 15px; ">

			<option disabled="" selected="">Sort by Price</option>

			<option>ASC</option>

			<option>DESC</option>

		</select>

		<select class="form-control drop-wrap drop-wrap-s-4 color-4 list-sort" style="padding: 0px; padding-left: 15px; ">

			<option disabled="" selected="">Sort by ranking</option>

			<option>ASC</option>

			<option>DESC</option>

		</select>

		<div class="list-view-change">

			<div class="change-grid color-2 fr active"><i class="fa fa-th"></i></div>

			<div class="change-list color-2 fr"><i class="fa fa-bars"></i></div>

			<div class="change-to-label fr color-grey-8">View:</div>

		</div>

	</div>

</template>

<script>
	
	export default {

		
		
	}

</script>