<template>
  <modal :name="'edit-modal'+this.id" :height="'auto'">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button type="button" class="close" @click="hideModal">
          <i class="now-ui-icons ui-1_simple-remove"></i>
        </button>
        <h4 class="title title-up">Edit Roomtype</h4>
      </div>
      <form @submit.prevent="updateRoomtype">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Name</label>
                <input
                  type="text"
                  class="form-control"
                  required
                  placeholder="Roomtype Name"
                  v-model="name"
                />
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label>Roomtype Description</label>
                <wysiwyg v-model="description" />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" v-if="!isLoading" class="btn btn-danger btn-block">Save changes</button>
          <button type="button" disabled v-else class="btn btn-danger btn-block">
            <div class="lds-ellipsis">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </button>
        </div>
      </form>
    </div>
  </modal>
</template>

<script>
export default {
  props: ["id", "roomtypeName", "roomtypeDescription", "roomtype"],
  data() {
    return {
      isLoading: false
    };
  },
  methods: {
    alert(response) {
      this.$swal.fire({
        title: "Roomtype",
        text: response.data.message,
        icon: "info"
      });
    },
    hideModal() {
      this.$modal.hide("edit-modal" + this.id);
    },
    updateRoomtype() {
      this.isLoading = true;
      const form = {
        name: this.name,
        description: this.description
      };
      axios
        .patch("/admin/roomtype/edit/" + this.id, form)
        .then(response => {
          this.isLoading = false;
          this.hideModal();
          this.alert(response);
        })
        .catch(error => {
          this.loading = false;
          console.log(error.response);
        });
    }
  },
  computed: {
    name: {
      get() {
        return this.roomtypeName;
      },
      set(value) {
        this.$emit("update:roomtypeName", value);
      }
    },
    description: {
      get() {
        return this.roomtypeDescription;
      },
      set(value) {
        this.$emit("update:roomtypeDescription", value);
      }
    }
  }
};
</script>

<style></style>
