<template>
  <footer class="main-footer">
    <strong>Copyright &copy; {{ this.date }} Discover Ethiopia.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0.0
    </div>
  </footer>
</template>

<script>
export default {
  data() {
    return {
      date: new Date().getFullYear()
    };
  }
};
</script>

<style>
</style>
