<template>
  <modal :name="'delete-modal'+this.id" :height="'auto'">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button type="button" class="close" @click="hideModal">
          <i class="now-ui-icons ui-1_simple-remove"></i>
        </button>
        <h4 class="title title-up">Delete</h4>
      </div>
      <div class="modal-body">
        <div class="py-3 text-center">
          <i class="ni ni-fat-remove ni-3x"></i>
          <h2 class="mt-4" style="text-transform:uppercase; font-weight:700;">Are you sure?</h2>
        </div>
      </div>
      <form @submit.prevent="destroy">
        <div class="modal-footer">
          <button
            type="submit"
            v-if="!loading"
            class="btn btn-danger btn-block"
          >Yes, I want to delete</button>
          <button type="button" disabled v-else class="btn btn-danger btn-block">
            <div class="lds-ellipsis">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </button>
        </div>
      </form>
    </div>
  </modal>
</template>

<script>
export default {
  props: ["id", "route", "getResult"],
  data() {
    return {
      loading: false
    };
  },
  methods: {
    alert(response) {
      this.$swal({
        title: "Delete success",
        text: response.data.message,
        icon: "info"
      });
    },
    destroy: function() {
      this.loading = true;
      axios
        .delete("/" + this.route + "/destroy/" + this.id)
        .then(async response => {
          await this.getResult();
          this.loading = false;
          this.hideModal();
          this.alert(response);
        })
        .catch(error => {
          this.loading = false;
          console.log(error.response);
        });
    },
    hideModal() {
      this.$modal.hide("delete-modal" + this.id);
    }
  }
};
</script>

<style></style>
