<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 mb-4">
          <a class="btn btn-primary" href="/tour/tours">
            <i class="fas fa-eye"></i> view Cars
          </a>
        </div>
        <div class="col-md-12">
          <div class="card card-warning">
            <div class="card-header">
              <h3 class="card-title">Create Tour</h3>
            </div>
            <form
              role="form"
              @submit.prevent="createTour"
              @keydown="errors.clearErr($event.target.name)"
            >
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Tour Name</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Tour Name"
                        v-model="name"
                      />
                      <div
                        v-if="errors.has('name')"
                        class="alert alert-danger"
                      >{{ errors.first("name") }}</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="hotels-block">
                      <h4>TourDate</h4>
                      <div class="input-style-1">
                        <input
                          type="date"
                          placeholder="mm/dd/yy"
                          class="datepicker form-control"
                          v-model="tour_date"
                          required
                        />
                        <div
                          v-if="errors.has('tour_date')"
                          class="alert alert-danger"
                        >{{ errors.first("tour_date") }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="hotels-block">
                      <h4>Departs From</h4>
                      <user-map :centerM.sync="map1"></user-map>
                      <div
                        v-if="errors.has('departs_from')"
                        class="alert alert-danger"
                      >{{ errors.first("departs_from") }}</div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="hotels-block">
                      <h4>Arrives At</h4>
                      <user-map :centerM.sync="map2"></user-map>
                      <div
                        v-if="errors.has('departs_from')"
                        class="alert alert-danger"
                      >{{ errors.first("departs_from") }}</div>
                    </div>
                  </div>
                  

                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Price per Person</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Price per day"
                        v-model="price_per_person"
                        name="price_per_person"
                        required
                      />
                      <div
                        v-if="errors.has('price_per_person')"
                        class="alert alert-danger"
                      >{{ errors.first("price_per_person") }}</div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Basic Layout</label>
                      <wysiwyg v-model="description" />
                    </div>
                    <div
                      v-if="errors.has('description')"
                      class="alert alert-danger"
                    >{{ errors.validateWizard("description") }}</div>
                  </div>

                  <div class="col-md-12">
                    <label style="font-size: 16px;">
                      Tour Images
                      <small>(Upload Tour Image)</small>
                      <small style="color:red;">Maximum amount allowed is 10 *</small>
                    </label>
                    <vue2Dropzone
                      ref="TourImage"
                      id="TourImage"
                      :options="TourImageOptions"
                      @vdropzone-removed-file="vremoved"
                      @vdropzone-success="vTourImagesuccess"
                    ></vue2Dropzone>
                    <div
                      v-if="errors.has('Tour')"
                      class="alert alert-danger"
                    >{{ errors.first("Tour") }}</div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button
                  type="submit"
                  v-if="!isLoading && readyToGo"
                  class="btn btn-primary"
                  value="save"
                >Submit</button>
                <button
                  disabled
                  class="btn btn-primary"
                  v-else-if="!isLoading && !readyToGo"
                >Submit</button>
                <button disabled class="btn btn-primary" v-else>
                  <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Errors from "../../../../../Errors.js";
export default {
  data() {
    return {
      tour_owner_id: null,
      errors: Errors,
      name: null,
      map1: [],
      map2: [],
      tour_date: null,
      price_per_person: 0,
      description: "",
      isLoading: false,
      readyToGo: false,
      removedFile: false,
      imageResponse: [],
      TourImageOptions: {
        url:
          "https://api.cloudinary.com/v1_1/nfco/image/upload?upload_preset=yt3sx3ha",
        thumbnailWidth: 150,
        maxFilesize: 3.5,
        addRemoveLinks: true,
        maxFiles: 10,
        dictDefaultMessage:
          "<i class='pe-7s-cloud-upload icon-gradient bg-warm-flame' style='font-size:30px;'></i> <p style='font-family:Montserrat, sans-serif;'>Upload Tour Image</p>",
        headers: { "X-Requested-With": "XMLHttpRequest" },
        renameFile: function(file) {
          let newName = new Date().getTime() + "_" + file.name;
          return newName;
        }
      }
    };
  },

  methods: {
    createTour: function() {
      this.isLoading = true;
      const form = {
        description: this.description,
        name: this.name,
        tour_date: this.tour_date,
        departs_from: this.map1,
        arrives_at: this.map2,
        price_per_person: this.price_per_person,
        images: this.imageResponse,
        tour_owner_id: this.tour_owner_id
      };
      axios
        .post("/tour/tours", form)
        .then(response => {
          this.isLoading = false;
          this.readyToGo = false;
          this.clearPopulatedData();
          this.alert(response);
          this.getTours();
        })
        .catch(error => {
          this.isLoading = false;
          console.log(error.response);
          Errors.fill(error.response.data.errors);
          this.validationForDoc();
        });
    },
    clearPopulatedData: function() {
      this.name = null;
      this.tour_date = null;
      this.imageResponse = [];
      this.$refs.TourImage.removeAllFiles();
      this.description = "";
      this.price_per_person = 0;
      this.departs_from = null;
      this.arrives_at = null;
    },
    alert(response) {
      this.$swal.fire({
        title: "Tours",
        text: response.data.message,
        icon: "success"
      });
    },
    vremoved(file, error, xhr) {
      this.removedFile = true;
      const filename = file.upload.filename;
      for (var i = this.imageResponse.length - 1; i >= 0; i--) {
        if (this.imageResponse[i].filename === filename) {
          this.imageResponse.splice(i, 1);
        }
      }
    },
    in_array(haystack, needle) {
      var length = haystack.length;
      for (var i = 0; i < length; i++) {
        if (haystack[i].type == needle) return true;
      }
      return false;
    },
    validationForDoc() {
      if (this.imageResponse.length > 0) {
        if (!this.in_array(this.imageResponse, "Tour")) {
          Errors.push({
            tour_image: ["Tour image is required!"]
          });
        }
      } else {
        Errors.push({
          tour_image: ["Tour image is required!"]
        });
      }
    },

    vTourImagesuccess(file, response) {
      this.imageResponse.push({
        filename: file.upload.filename,
        type: "Tour",
        signedUrl: response.url
      });
      this.readyToGo = true;
      if (this.in_array(this.imageResponse, "Tour")) {
        Errors.clearErr("tour_image");
      }
    }
  },
  watch: {
    removedFile() {
      let that = this;
      setTimeout(function() {
        that.removedFile = false;
      }, 2000);
    }
  }
};
</script>

<style>
</style>