<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 mb-4">
          <a class="btn btn-primary" href="/tour/tours">
            <i class="fas fa-eye"></i> view Tour
          </a>
        </div>
        <div class="col-md-12">
          <div class="card card-warning">
            <div class="card-header">
              <h3 class="card-title">Update Tour</h3>
            </div>
            <form
              role="form"
              @submit.prevent="updateTour"
              @keydown="errors.clearErr($event.target.name)"
            >
              <div class="modal-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Tour Name</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Tour Name"
                        v-model="name"
                        name="name"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="hotels-block">
                      <h4>TourDate</h4>
                      <div class="input-style-1">
                        <input
                          type="date"
                          placeholder="mm/dd/yy"
                          class="datepicker form-control"
                          v-model="tour_date"
                          required
                        />
                        <div
                          v-if="errors.has('tour_date')"
                          class="alert alert-danger"
                        >{{ errors.first("tour_date") }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="hotels-block">
                      <h4>Departs From</h4>
                      <user-map :centerM.sync="map1"></user-map>
                      <div
                        v-if="errors.has('departs_from')"
                        class="alert alert-danger"
                      >{{ errors.first("departs_from") }}</div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="hotels-block">
                      <h4>Arrives At</h4>
                      <user-map :centerM.sync="map2"></user-map>
                      <div
                        v-if="errors.has('departs_from')"
                        class="alert alert-danger"
                      >{{ errors.first("departs_from") }}</div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Price per Person</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Price per Person"
                        v-model="price_per_person"
                        name="price_per_person"
                        required
                      />
                      <div
                        v-if="errors.has('price_per_person')"
                        class="alert alert-danger"
                      >{{ errors.first("price_per_person") }}</div>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Basic Layout</label>
                      <wysiwyg v-model="description" />
                    </div>
                    <div
                      v-if="errors.has('description')"
                      class="alert alert-danger"
                    >{{ errors.validateWizard("description") }}</div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="submit"
                  v-if="!isLoading"
                  class="btn btn-danger btn-block"
                >Save changes</button>
                <button type="button" disabled v-else class="btn btn-danger btn-block">
                  <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Errors from "../../../../../Errors";
export default {
  props: ["id"],
  data() {
    return {
      isLoading: false,
      errors: Errors,
      tour: {}
    };
  },
  mounted() {
    this.getData();
  },
  methods: {
    getData() {
      axios
        .get("/tour/tours/real/" + this.id)
        .then(response => {
          this.tour = response.data.tour;
          console.log(response.data);
        })
        .catch(error => {
          console.log(error.response);
        });
    },
    updateProperty() {
      this.isLoading = true;
      const form = {
        name: this.name,
        tour_date: this.tour_date,
        departs_from: this.departs_from,
        arrives_at: this.arrives_at,
        price_per_person: this.price_per_person,
        description: this.description
      };
      axios
        .patch("/tour/tours/edit/" + this.id, form)
        .then(response => {
          this.isLoading = false;
          this.alert(response);
          setTimeout(() => {
            window.location.href = "/tour/tours";
          }, 2000);
        })
        .catch(error => {
          this.loading = false;
          Errors.fill(error.response.data.errors);
          console.log(error.response);
        });
    },
    alert(response) {
      this.$swal.fire({
        title: "Tour",
        text: response.data.message,
        icon: "success"
      });
    }
  },
  computed: {
    name: {
      get() {
        return this.tour.name;
      },
      set(value) {
        this.tour.name = value;
      }
    },
    tour_date: {
      get() {
        return this.tour.tour_date;
      },
      set(value) {
        this.tour.tour_date = value;
      }
    },
    departs_from: {
      get() {
        return this.tour.departs_from;
      },
      set(value) {
        this.tour.departs_from = value;
      }
    },
    arrives_at: {
      get() {
        return this.arrives_at.arrives_at;
      },
      set(value) {
        this.tour.arrives_at = value;
      }
    },
    price_per_person: {
      get() {
        return this.tour.price_per_person;
      },
      set(value) {
        this.tour.price_per_person = value;
      }
    },
    description: {
      get() {
        return this.tour.description;
      },
      set(value) {
        this.tour.description = value;
      }
    }
  }
};
</script>

<style>
</style>