<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 mb-4">
          <a class="btn btn-primary" href="/tour/tours/create">
            <i class="fas fa-plus"></i> Add Tour
          </a>
        </div>
        <div v-if="tours.length > 0" class="row">
          <div class="col-md-4" v-for="(tour, index) in tours" :key="index">
          <div class="card card-widget">
            <div class="card-header">
              <div class="user-block">
                <span class="username">
                  <a href="#">{{ tour.name }}</a>
                </span>
                <span class="description">{{ tour.date }}</span><br>
                <span class="description">From - {{ tour.departs_from }}</span><br>
                <span class="description">To - {{ tour.arrives_at }}</span><br>
                <span class="description">{{ tour.price_per_person }}</span>
              </div>
              
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>

            <div class="card-body">
              <img
                  v-if="tour.images.length > 0"
                  class="img-fluid pad"
                  style="width: 100%; height: 300px; object-fit: cover;"
                  :src="tour.images[0].image"
                  :alt="'Tour Image' + index + 1"
              />
              <img
                  v-else
                  style="width: 100%; height: 300px; object-fit: cover;"
                  class="img-fluid pad"
                  src="/client/img/cars/gal_1_b.jpg"
                  :alt="'Tour Image' + index + 1"
                />
                <a :href="'/tour/tours/edit/'+tour.id" class="btn btn-primary btn-sm mt-4">
                  <i class="fas fa-edit"></i> Edit
                </a>
              <button type="button" class="btn btn-primary btn-sm mt-4">
                <i class="fas fa-image"></i> Edit Image
              </button>
            </div>
            <div class="card-footer card-comments">
              <div class="card-comment">
                <div class="comment-text">
                  <span class="username">Maria Gonzales</span>
                  {{ tour.description }}
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div v-else class="col-md-12">
          <div class="card" style="padding: 50px 10px 50px 10px;">
            <h2 style="text-align: center;">Sorry! There are no tours here!</h2>
          </div>
        </div>
        
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data: function() {
    return{
      tours: {},
      fulltours: {}
    };
  },
  mounted() {
    this.getTours();

  },
  methods: {
    getTours: function() {
      axios
       .get("/tour/tours/all")
       .then(response => {
          this.fulltours = response.data.tours;
          this.tours = response.data.tours.data;
       })
       .catch(error => {
          console.log(error.response);
       });
    }
  }
};
</script>

<style>
</style>