<template>
  <!-- DETAIL WRAPPER -->
  <div class="detail-wrapper">
    <div class="container">
      <div class="detail-header">
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <div class="detail-category color-grey-3">{{ address.address }}</div>
            <h2 class="detail-title color-dark-2">{{ owner.company_name }}</h2>
            <div class="detail-rate rate-wrap clearfix">
              <div class="rate" v-if="calculatedRating == 5">
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star color-yellow"></span>
              </div>
              <div class="rate" v-if="calculatedRating == 4">
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star color-dark"></span>
              </div>
              <div class="rate" v-if="calculatedRating == 3">
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star color-dark"></span>
                <span class="fa fa-star color-dark"></span>
              </div>
              <div class="rate" v-if="calculatedRating == 2">
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star color-dark"></span>
                <span class="fa fa-star color-dark"></span>
                <span class="fa fa-star color-dark"></span>
              </div>
              <div class="rate" v-if="calculatedRating == 1">
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star color-dark"></span>
                <span class="fa fa-star color-dark"></span>
                <span class="fa fa-star color-dark"></span>
                <span class="fa fa-star color-dark"></span>
              </div>
              <i>{{ reviewz }} Review/s</i>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="detail-price color-dark-2">
              <div>
                <button
                  class="btn"
                  style="border: 1px solid #e8e8e8; background: #fff; box-shadow:0px 10px 20px rgba(0,0,0,0.12);"
                >View on Map</button>
              </div>
              <div style="margin-top: 30px;">
                price from
                <span class="color-dr-blue">${{ price }}</span>
                /person
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="may-interested padd-90">
        <div class="row" v-if="rooms.length > 0">
          <div
            class="col-mob-12 col-xs-6 col-sm-6 col-md-3"
            v-for="(room, index) in rooms"
            :key="index"
          >
            <div class="hotel-item">
              <div class="radius-top">
                <img
                  v-if="room.images.length > 0"
                  style="height: 200px; object-fit: cover;"
                  :src="room.images[0].image"
                  alt
                />
                <img
                  v-else
                  style="height: 200px; object-fit: cover;"
                  src="/client/img/home_6/slide_8.jpg"
                  alt
                />
                <div class="price price-s-1">${{ room.price_per_night }}</div>
              </div>
              <div class="title clearfix">
                <h4>
                  <b>{{ room.room_type.name }}</b>
                </h4>
                <div class="rate-wrap">
                  <!-- <div class="rate" v-if="getRatingForEachRoom(room.id) == 1">
                    <span class="fa fa-star color-yellow"></span>
                    <span class="fa fa-star color-dark"></span>
                    <span class="fa fa-star color-dark"></span>
                    <span class="fa fa-star color-dark"></span>
                    <span class="fa fa-star color-dark"></span>
                  </div>
                  <div class="rate" v-if="getRatingForEachRoom(room.id) == 2">
                    <span class="fa fa-star color-yellow"></span>
                    <span class="fa fa-star color-yellow"></span>
                    <span class="fa fa-star color-dark"></span>
                    <span class="fa fa-star color-dark"></span>
                    <span class="fa fa-star color-dark"></span>
                  </div>
                  <div class="rate" v-if="getRatingForEachRoom(room.id) == 3">
                    <span class="fa fa-star color-yellow"></span>
                    <span class="fa fa-star color-yellow"></span>
                    <span class="fa fa-star color-yellow"></span>
                    <span class="fa fa-star color-dark"></span>
                    <span class="fa fa-star color-dark"></span>
                  </div>
                  <div class="rate" v-if="getRatingForEachRoom(room.id) == 4">
                    <span class="fa fa-star color-yellow"></span>
                    <span class="fa fa-star color-yellow"></span>
                    <span class="fa fa-star color-yellow"></span>
                    <span class="fa fa-star color-yellow"></span>
                    <span class="fa fa-star color-dark"></span>
                  </div>
                  <div class="rate" v-if="getRatingForEachRoom(room.id) == 5">
                    <span class="fa fa-star color-yellow"></span>
                    <span class="fa fa-star color-yellow"></span>
                    <span class="fa fa-star color-yellow"></span>
                    <span class="fa fa-star color-yellow"></span>
                    <span class="fa fa-star color-yellow"></span>
                  </div>-->
                  <i>{{ room.reviews.length }} review/s</i>
                </div>
                <span class="f-14 color-dark-2">{{ room.room_no }}</span>
                <p
                  class="f-14"
                  v-if="room.basic_layout.length > 100"
                  v-html="room.basic_layout.substring(0, 100)"
                ></p>
                <p class="f-14" v-else v-html="room.basic_layout"></p>
                <agreement-component :agreement="agreement" :id="room.id"></agreement-component>
                <button
                  v-if="!isLoading('loading'+rooms[index].id, false)"
                  @click="checkAgreement(room.id)"
                  class="btn btn-success"
                  style="width: 100%;"
                >
                  <i class="fa fa-money"></i> Book
                </button>
                <button v-else class="btn btn-success" disabled style="width: 100%;">
                  <div class="lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </button>
                <a
                  :href="'/hotels/show/room/' + room.id"
                  class="btn btn-primary"
                  style="width: 100%; margin-top:10px;"
                >
                  <i class="fa fa-eye"></i> View More
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row" v-else>
          <div class="col-md-12">
            <div
              class="card"
              style="box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.04); border: 1px solid #e8e8e8;"
            >
              <p
                style="text-align: center; padding: 50px; font-weight: 100; font-size: 32px;"
              >Sorry! There are no rooms!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["id"],
  data() {
    return {
      rooms: {},
      owner: {},
      address: {},
      price: null,
      agreement: {},
      calculatedRating: 0,
      reviewz: {}
    };
  },
  mounted() {
    this.getData();
  },
  methods: {
    isLoading(isLoad, state) {
      isLoad = state;
      console.log(isLoad);
      return isLoad == state ? false : true;
    },
    checkAgreement: function(id) {
      this.isLoading("loading" + id, true);
      axios
        .get("/agree/check/" + this.agreement.id)
        .then(response => {
          this.isLoading("loading" + id, false);
          if (response.data.status == "auth") {
            if (response.data.exist) {
              window.location.href = "/book/" + id;
            } else if (!response.data.exist)
              this.$modal.show("hello-world" + id);
          } else if (response.data.status == "notAuth") {
            this.$swal.fire({
              icon: "error",
              text: "Sorry! you are required to Login!"
            });
          }
        })
        .catch(error => {
          this.isLoading("loading" + id, false);
          console.log(error.response);
        });
    },
    getRatingForEachRoom: function(roomId) {
      axios
        .get("/hotels/" + roomId + "/get/rating/" + this.owner.id)
        .then(response => {
          console.log(response.data);
        })
        .catch(error => {
          console.log(error.response);
        });
    },
    getData() {
      axios
        .get("/hotels/" + this.id + "/get")
        .then(response => {
          this.rooms = response.data.owner.rooms;
          this.owner = response.data.owner;
          this.address = response.data.owner.user.addresses[0];
          this.price = response.data.price;
          this.agreement = response.data.owner.agreement;
          this.reviewz = response.data.totalCountOfReview;
          this.calculatedRating = response.data.calculatedRating;
        })
        .catch(error => {
          console.log(error.response);
        });
    }
  }
};
</script>

<style>
</style>
