<template>
  <div>
    <div class="row" v-if="hotels.length == 0">
      <div
        class="col-md-12"
        style="margin: 20px; box-shadow: 0px 6px 10px 5px rgba(0,0,0,0.02); padding:100px 5px 100px 5px; border-radius: 5px; background: #fff;"
      >
        <h2 style="text-align: center;">Sorry! No hotels are found!</h2>
      </div>
    </div>
    <div class="list-item-entry" v-for="(hotel, index) in hotels" :key="index">
      <div class="hotel-item style-8 bg-white">
        <div class="table-view">
          <div class="radius-top cell-view" v-if="hotels[index].user.photo != null">
            <img :src="hotels[index].user.photo" alt style="height: 200px; object-fit: cover;" />
            <div class="price price-s-3 red tt">hot price</div>
          </div>
          <div class="radius-top cell-view" v-else>
            <img
              src="/client/img/home_1/main_slide_1.jpg"
              alt
              style="height: 200px; object-fit: cover;"
            />
            <div class="price price-s-3 red tt">hot price</div>
          </div>

          <div class="title hotel-middle clearfix cell-view">
            <div class="hotel-person color-dark-2 list-hidden">
              from
              <span>${{ price }}</span>
            </div>

            <div class="rate-wrap">
              <div class="rate">
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star" style="color: #e8e8e8;"></span>
              </div>
              <i>0 rewies</i>
            </div>
            <h4>
              <b>{{ hotel.company_name }}</b>
            </h4>
            <span class="f-14 color-dark-2 grid-hidden">{{ hotel.user.addresses[0].address }}</span>
            <p class="f-14">{{ hotel.description }}</p>
            <div class="hotel-icons-block grid-hidden">
              <img class="hotel-icon" src="/client/img/tour_list/hotel_icon_1.png" alt />
              <img class="hotel-icon" src="/client/img/tour_list/hotel_icon_2.png" alt />
              <img class="hotel-icon" src="/client/img/tour_list/hotel_icon_3.png" alt />
              <img class="hotel-icon" src="/client/img/tour_list/hotel_icon_4.png" alt />
              <img class="hotel-icon" src="/client/img/tour_list/hotel_icon_5.png" alt />
            </div>
            <div style="margin-top: 10px;">
              <a
                :href="'/hotels/' + hotel.user.id"
                class="btn btn-primary btn-block"
                style="font-size: 16px;"
              >
                View More
                <i class="fa fa-eye"></i>
              </a>
            </div>
          </div>

          <div class="title hotel-right bg-dr-blue clearfix cell-view">
            <div class="hotel-person color-white">
              from
              <span>${{ price }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      hotels: {},
      price: null
    };
  },
  mounted() {
    this.getHotels();
  },
  methods: {
    getHotels() {
      axios
        .get("/hotels/vue")
        .then(response => {
          this.hotels = response.data.hotel;
          this.price = response.data.price;
          console.log(this.hotels);
        })
        .catch(error => {
          console.log(error.response);
        });
    }
  }
};
</script>
