<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-warning">
            <div class="card-header">
              <h3 class="card-title">Update your Agreement statement (terms & conditions)</h3>
            </div>
            <form role="form" @submit.prevent="updateAgreement">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>
                        Agreement statment
                        <small
                          style="color: red;"
                        >(This ensures that any personnel that wants to stay in your hotel will have a full statement or your terms and conditions)</small>
                      </label>
                      <wysiwyg v-model="agreement" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary" v-if="!isLoading">Submit</button>
                <button type="submit" disabled class="btn btn-primary" v-else>
                  <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      agreementData: {},
      isLoading: false
    };
  },
  mounted() {
    this.getAgreement();
  },
  methods: {
    getAgreement() {
      axios
        .get("/hotel/agreement/get")
        .then(response => {
          this.agreementData = response.data;
        })
        .catch(error => {
          console.log(error.response);
        });
    },
    updateAgreement: function() {
      this.isLoading = true;
      const form = {
        agreement: this.agreement
      };
      axios
        .patch("/hotel/agreement/update/" + this.agreementData.id, form)
        .then(response => {
          this.alert(response);
          this.isLoading = false;
        })
        .catch(error => {
          this.isLoading = false;
          console.log(error.response);
        });
    },
    alert(response) {
      this.$swal.fire({
        title: "Hotel Agreement | Terms and Condition",
        text: response.data.message,
        icon: "success"
      });
    }
  },
  computed: {
    agreement: {
      get() {
        return this.agreementData.terms_and_conditions;
      },
      set(value) {
        this.agreementData.terms_and_conditions = value;
      }
    }
  }
};
</script>

<style>
</style>
