<template>
  <div>
    <div class="row" v-if="tours.length == 0">
      <div
        class="col-md-12"
        style="margin: 20px; box-shadow: 0px 6px 10px 5px rgba(0,0,0,0.02); padding:100px 5px 100px 5px; border-radius: 5px; background: #fff;"
      >
        <h2 style="text-align: center;">Sorry! No Tours are found!</h2>
      </div>
    </div>
    <div class="list-item-entry" v-for="(tour, index) in tours" :key="index">
      <div class="hotel-item style-8 bg-white">
        <div class="table-view">
          <div class="radius-top cell-view" v-if="tours[index].images.length > 0">
            <img :src="tours[index].images[0].image" alt style="height: 200px; object-fit: cover;" />
            <div class="price price-s-3 red tt">hot price</div>
          </div>
          <div class="radius-top cell-view" v-else>
            <img
              src="/client/img/home_1/main_slide_1.jpg"
              alt
              style="height: 200px; object-fit: cover;"
            />
            <div class="price price-s-3 red tt">hot price</div>
          </div>

          <div class="title hotel-middle clearfix cell-view">
            <div class="hotel-person color-dark-2 list-hidden">
              <span>${{ tours[index].price_per_person }}</span>
            </div>

            <div class="rate-wrap">
              <div class="rate" v-if="tour.reviews.length == 0">
                <span class="fa fa-star" style="color: #e8e8e8;"></span>
                <span class="fa fa-star" style="color: #e8e8e8;"></span>
                <span class="fa fa-star" style="color: #e8e8e8;"></span>
                <span class="fa fa-star" style="color: #e8e8e8;"></span>
                <span class="fa fa-star" style="color: #e8e8e8;"></span>
              </div>
              <div class="rate" v-else>
                <div v-if="calculatedRating == 1">
                  <span class="fa fa-star color-yellow"></span>
                  <span class="fa fa-star color-dark"></span>
                  <span class="fa fa-star color-dark"></span>
                  <span class="fa fa-star color-dark"></span>
                  <span class="fa fa-star color-dark"></span>
                </div>
                <div v-if="calculatedRating == 2">
                  <span class="fa fa-star color-yellow"></span>
                  <span class="fa fa-star color-yellow"></span>
                  <span class="fa fa-star color-dark"></span>
                  <span class="fa fa-star color-dark"></span>
                  <span class="fa fa-star color-dark"></span>
                </div>
                <div v-if="calculatedRating == 3">
                  <span class="fa fa-star color-yellow"></span>
                  <span class="fa fa-star color-yellow"></span>
                  <span class="fa fa-star color-yellow"></span>
                  <span class="fa fa-star color-dark"></span>
                  <span class="fa fa-star color-dark"></span>
                </div>
                <div v-if="calculatedRating == 4">
                  <span class="fa fa-star color-yellow"></span>
                  <span class="fa fa-star color-yellow"></span>
                  <span class="fa fa-star color-yellow"></span>
                  <span class="fa fa-star color-yellow"></span>
                  <span class="fa fa-star color-dark"></span>
                </div>
                <div v-if="calculatedRating == 5">
                  <span class="fa fa-star color-yellow"></span>
                  <span class="fa fa-star color-yellow"></span>
                  <span class="fa fa-star color-yellow"></span>
                  <span class="fa fa-star color-yellow"></span>
                  <span class="fa fa-star color-yellow"></span>
                </div>
              </div>
              <i>{{ tour.reviews.length }} reviews</i>
            </div>
            <h4>
              <b>{{ tour.tours_owner.company_name }}</b>
            </h4>
            <span
              class="f-14 color-dark-2 grid-hidden"
            >{{ tour.departs_from }} | {{ tour.arrives_at }}</span>
            <p
              class="f-14"
              v-if="tour.description.length > 100"
            >{{ tour.description.substring(0,100) }}...</p>
            <p class="f-14" v-else>{{ tour.description }}</p>
            <div class="hotel-icons-block grid-hidden">
              <img class="hotel-icon" src="/client/img/tour_list/hotel_icon_1.png" alt />
              <img class="hotel-icon" src="/client/img/tour_list/hotel_icon_2.png" alt />
              <img class="hotel-icon" src="/client/img/tour_list/hotel_icon_3.png" alt />
              <img class="hotel-icon" src="/client/img/tour_list/hotel_icon_4.png" alt />
              <img class="hotel-icon" src="/client/img/tour_list/hotel_icon_5.png" alt />
            </div>
            <agreement-component :agreement="tour.tours_owner.agreement" :id="tour.id"></agreement-component>
            <button
              v-if="!isLoading('loading'+tours[index].id, false)"
              @click="checkAgreement(tour.id, tour.tours_owner.agreement.id)"
              class="btn btn-success"
              style="width: 100%;"
            >
              <i class="fa fa-money"></i> Book
            </button>
            <button v-else class="btn btn-success" disabled style="width: 100%;">
              <div class="lds-ring">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </button>
            <div style="margin-top: 10px;">
              <a
                :href="'/tour/guest/' + tour.id"
                class="btn btn-primary btn-block"
                style="font-size: 16px;"
              >
                View More
                <i class="fa fa-eye"></i>
              </a>
            </div>
          </div>

          <div class="title hotel-right bg-dr-blue clearfix cell-view">
            <div class="hotel-person color-white">
              <span>${{ tour.price_per_person }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tours: {},
      calculatedRating: null,
      reviews: []
    };
  },
  mounted() {
    this.gettours();
    // this.calculateRating();
  },
  methods: {
    calculateRating() {
      const countOfPeopleWhoRated5 = this.reviews.find(value => {
        return value.rating == 5;
      });
      const countOfPeopleWhoRated4 = this.reviews.find(value => {
        return value.rating == 4;
      });
      const countOfPeopleWhoRated3 = this.reviews.find(value => {
        return value.rating == 3;
      });
      const countOfPeopleWhoRated2 = this.reviews.find(value => {
        return value.rating == 2;
      });
      const countOfPeopleWhoRated1 = this.reviews.find(value => {
        return value.rating == 1;
      });
      console.log(countOfPeopleWhoRated5);
      //   if()
      //   this.calculatedRating =
      //     (countOfPeopleWhoRated5.length * 5 +
      //       countOfPeopleWhoRated4.length * 4 +
      //       countOfPeopleWhoRated3.length * 3 +
      //       countOfPeopleWhoRated2.length * 2 +
      //       countOfPeopleWhoRated1 * 1) /
      //       $countOfPeopleWhoRated5.length +
      //     $countOfPeopleWhoRated4.length +
      //     $countOfPeopleWhoRated3.length +
      //     $countOfPeopleWhoRated2.length +
      //     $countOfPeopleWhoRated1.length;
      //   return Math.round(this.calculatedRating);
    },
    isLoading(isLoad, state) {
      isLoad = state;
      console.log(isLoad);
      return isLoad == state ? false : true;
    },
    checkAgreement(id, agreement_id) {
      this.isLoading("loading" + id, true);
      axios
        .get("/agree/check/" + agreement_id)
        .then(response => {
          this.isLoading("loading" + id, false);
          if (response.data.status == "auth") {
            if (response.data.exist) {
              window.location.href = "/book/" + id;
            } else if (!response.data.exist)
              this.$modal.show("hello-world" + id);
          } else if (response.data.status == "notAuth") {
            this.$swal.fire({
              icon: "error",
              text: "Sorry! you are required to Login!"
            });
          }
        })
        .catch(error => {
          this.isLoading("loading" + id, false);
          console.log(error.response);
        });
    },
    getRating() {},
    gettours() {
      axios
        .get("/tour/guest/vue")
        .then(response => {
          this.tours = response.data.tour;
          this.reviews = response.data.tour.reviews;
          this.calculatedRating = response.data.calculatedRating;
          console.log(this.tours);
        })
        .catch(error => {
          console.log(error.response);
        });
    }
  }
};
</script>
