<template>
  <!-- DETAIL WRAPPER -->
  <div class="detail-wrapper">
    <div class="container">
      <div class="detail-header">
        <div
          class="row"
          style="box-shadow: 0px 6px 10px 5px rgba(0,0,0,0.02); padding:20px 5px 10px 5px; border-radius: 5px; background: #fff;"
        >
          <div class="col-xs-12 col-sm-8">
            <div
              class="detail-category"
              style="color: #000;"
            ></div>
            <div class="detail-rate rate-wrap clearfix" v-if="calculatedRating != 0">
              <div class="rate" v-if="calculatedRating == 5">
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star color-yellow"></span>
              </div>
              <div class="rate" v-if="calculatedRating == 4">
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star color-dark"></span>
              </div>
              <div class="rate" v-if="calculatedRating == 3">
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star color-dark"></span>
                <span class="fa fa-star color-dark"></span>
              </div>
              <div class="rate" v-if="calculatedRating == 2">
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star color-dark"></span>
                <span class="fa fa-star color-dark"></span>
                <span class="fa fa-star color-dark"></span>
              </div>
              <div class="rate" v-if="calculatedRating == 1">
                <span class="fa fa-star color-yellow"></span>
                <span class="fa fa-star color-dark"></span>
                <span class="fa fa-star color-dark"></span>
                <span class="fa fa-star color-dark"></span>
                <span class="fa fa-star color-dark"></span>
              </div>
              <i>{{ tourReviews.length }} Reviews</i>
            </div>
            <div class="detail-rate rate-wrap clearfix" v-else>
              <div class="rate">
                <span class="fa fa-star" style="color: #e8e8e8;"></span>
                <span class="fa fa-star" style="color: #e8e8e8;"></span>
                <span class="fa fa-star" style="color: #e8e8e8;"></span>
                <span class="fa fa-star" style="color: #e8e8e8;"></span>
                <span class="fa fa-star" style="color: #e8e8e8;"></span>
              </div>
              <i>{{ tourReviews.length }} Reviews</i>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="detail-price" style="color: #000;">
              <div>
                <span>${{ tour.price_per_person }}</span>
                /person
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row padd-90">
        <div class="col-xs-12 col-md-8">
          <div class="detail-content color-1">
            <div class="detail-top">
              <swiper :options="swiperOptionTop" class="gallery-top" ref="swiperTop">
                <swiper-slide v-for="(image, index) in tour.images" :key="index">
                  <img style="object-fit: cover;" :src="image.image" />
                </swiper-slide>
                <div class="swiper-button-next swiper-button-white" slot="button-next"></div>
                <div class="swiper-button-prev swiper-button-white" slot="button-prev"></div>
              </swiper>

              <swiper :options="swiperOptionThumbs" class="gallery-thumbs" ref="swiperThumbs">
                <swiper-slide v-for="(image, index) in tour.images" :key="index">
                  <img style="object-fit: cover;" :src="image.image" />
                </swiper-slide>
              </swiper>
            </div>
          </div>
          <div class="col-md-12">
            <vue-tabs type="pills">
              <v-tab title="Details">
                <div class="detail-content-block">
                  <hr />
                  <h3>Description</h3>
                  <hr />
                  <p style="color: #000;" v-html="tour.description"></p>
                </div>
                <div class="detail-content-block">
                  <hr />
                  <h3>Basic Layout</h3>
                  <hr />
                  <p style="color: #000;" v-html="tour.basic_layout"></p>
                </div>
                
              </v-tab>

              <v-tab title="Minor Details">
                <hr />
                <h3>location</h3>
                <hr />
                <p class="color-grey-9">
                  <span class="color-dark">{{ tourAddress.departs_from }}</span>
                </p>
                <hr>
                <p class="color-grey-9">
                  <span class="color-dark">{{ tourAddress.arrives_at }}</span>
                </p>
                <show-map-component
                  :markers="[{latitude: tourAddress.latitude, longitude: tourAddress.longitude}]"
                ></show-map-component>
                <hr />
                <h3>Cancellation Policy</h3>
                <hr />

                
                
                <hr />
                <h3>Reschedule Policy</h3>
                <hr />

                
                
              </v-tab>

            

              <v-tab title="Reviews">
                <hr />
                <h3>All Reviews</h3>
                <hr />
                <div class="row" v-if="tourReviews.length > 0">
                  <div
                    class="col-md-12"
                    v-for="(review, index) in tourReviews"
                    :key="index"
                    style="box-shadow: 0px 6px 10px 5px rgba(0,0,0,0.02); padding:20px 5px 20px 20px; border-radius: 5px; background: #fff;"
                  >
                    <h4>{{ review.reviewer.firstname + " " + review.reviewer.lastname }}</h4>
                    <p style="padding: 10px 0px 10px 0px;">{{ review.review }}</p>
                    <div v-if="review.rating == 1">
                      <span class="fa fa-star color-yellow"></span>
                      <span class="fa fa-star color-dark"></span>
                      <span class="fa fa-star color-dark"></span>
                      <span class="fa fa-star color-dark"></span>
                      <span class="fa fa-star color-dark"></span>
                    </div>
                    <div v-if="review.rating == 2">
                      <span class="fa fa-star color-yellow"></span>
                      <span class="fa fa-star color-yellow"></span>
                      <span class="fa fa-star color-dark"></span>
                      <span class="fa fa-star color-dark"></span>
                      <span class="fa fa-star color-dark"></span>
                    </div>
                    <div v-if="review.rating == 3">
                      <span class="fa fa-star color-yellow"></span>
                      <span class="fa fa-star color-yellow"></span>
                      <span class="fa fa-star color-yellow"></span>
                      <span class="fa fa-star color-dark"></span>
                      <span class="fa fa-star color-dark"></span>
                    </div>
                    <div v-if="review.rating == 4">
                      <span class="fa fa-star color-yellow"></span>
                      <span class="fa fa-star color-yellow"></span>
                      <span class="fa fa-star color-yellow"></span>
                      <span class="fa fa-star color-yellow"></span>
                      <span class="fa fa-star color-dark"></span>
                    </div>
                    <div v-if="review.rating == 5">
                      <span class="fa fa-star color-yellow"></span>
                      <span class="fa fa-star color-yellow"></span>
                      <span class="fa fa-star color-yellow"></span>
                      <span class="fa fa-star color-yellow"></span>
                      <span class="fa fa-star color-yellow"></span>
                    </div>
                  </div>
                </div>
                <div class="row" v-else>
                  <div
                    class="col-md-12"
                    style="box-shadow: 0px 6px 10px 5px rgba(0,0,0,0.02); padding:20px 5px 20px 20px; border-radius: 5px; background: #fff;"
                  >
                    <h3 style="text-align: center; font-weight: 100;">Sorry! There are no reviews!</h3>
                  </div>
                </div>
              </v-tab>

              <v-tab title="Review and Rate" v-if="authStatus != null">
                <hr />
                <h3>My Review and Rating</h3>
                <hr />
                <p v-if="myReview != null">{{ myReview.review }}</p>
                <div v-if="myReview != null">
                  <div v-if="myReview!=null && myReview.rating == 1">
                    <span class="fa fa-star color-yellow"></span>
                    <span class="fa fa-star color-dark"></span>
                    <span class="fa fa-star color-dark"></span>
                    <span class="fa fa-star color-dark"></span>
                    <span class="fa fa-star color-dark"></span>
                  </div>
                  <div v-if="myReview!=null && myReview.rating == 2">
                    <span class="fa fa-star color-yellow"></span>
                    <span class="fa fa-star color-yellow"></span>
                    <span class="fa fa-star color-dark"></span>
                    <span class="fa fa-star color-dark"></span>
                    <span class="fa fa-star color-dark"></span>
                  </div>
                  <div v-if="myReview!=null && myReview.rating == 3">
                    <span class="fa fa-star color-yellow"></span>
                    <span class="fa fa-star color-yellow"></span>
                    <span class="fa fa-star color-yellow"></span>
                    <span class="fa fa-star color-dark"></span>
                    <span class="fa fa-star color-dark"></span>
                  </div>
                  <div v-if="myReview!=null && myReview.rating == 4">
                    <span class="fa fa-star color-yellow"></span>
                    <span class="fa fa-star color-yellow"></span>
                    <span class="fa fa-star color-yellow"></span>
                    <span class="fa fa-star color-yellow"></span>
                    <span class="fa fa-star color-dark"></span>
                  </div>
                  <div v-if="myReview!=null && myReview.rating == 5">
                    <span class="fa fa-star color-yellow"></span>
                    <span class="fa fa-star color-yellow"></span>
                    <span class="fa fa-star color-yellow"></span>
                    <span class="fa fa-star color-yellow"></span>
                    <span class="fa fa-star color-yellow"></span>
                  </div>
                </div>
                <div class="row" v-else>
                  <div
                    class="col-md-12"
                    style="box-shadow: 0px 6px 10px 5px rgba(0,0,0,0.02); padding:20px 5px 20px 20px; border-radius: 5px; background: #fff;"
                  >
                    <h3
                      style="text-align: center; font-weight: 100;"
                    >Sorry! There are no reviews or Rating!</h3>
                  </div>
                </div>

                <hr />
                <h3>Review and Rating</h3>
                <hr />
                <form @submit.prevent="saveReviewAndRating">
                  <div class="form-group">
                    <label style="margin-bottom: 10px;">Write you review *</label>
                    <textarea
                      class="form-control"
                      rows="8"
                      placeholder="Please write your review *"
                      style="border-radius: 5px; border: 1px solid #e8e8e860; box-shadow: 0px 6px 10px 5px rgba(0,0,0,0.02);"
                      v-model="review"
                    ></textarea>
                  </div>
                  <star-rating v-model="rating" :show-rating="false" :rating="3"></star-rating>
                  <button
                    v-if="!reviewIsLoading"
                    type="submit"
                    class="btn btn-primary"
                    style="margin-top: 10px;"
                  >Submit</button>
                  <button v-else disabled class="btn btn-primary" style="margin-top: 10px;">
                    <div class="lds-ellipsis">
                      <div></div>
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                  </button>
                </form>

                <hr />
              </v-tab>
            </vue-tabs>
          </div>
        </div>

        <div class="col-xs-12 col-md-4">
          <div class="right-sidebar">
            <div
              class="detail-block bg-dr-blue"
              style="box-shadow: 0px 6px 10px 5px rgba(0,0,0,0.02);
              padding:10px 10px 20px 20px; border-radius: 5px; background: #fff;"
            >
              <h4 class="color-dark">details</h4>
              <div class="details-desc">
                <p class="color-grey-9">
                  Tour Type:
                  <span class="color-dark">{{ tour.name }}</span>
                </p>
                <p class="color-grey-9">
                  price:
                  <span class="color-dark">${{ tour.price_per_person }} / person</span>
                </p>

                <p class="color-grey-9">
                  From:
                  <span class="color-dark">{{ tour.departs_from }}</span>
                </p>
                <p class="color-grey-9">
                  To:
                  <span class="color-dark">{{ tour.arrives_at }}</span>
                </p>

                <hr />
                
              </div>
              <div class="details-btn">
                <agreement-component :agreement="agreement" :id="tour.id"></agreement-component>
                <button
                  v-if="!isLoading"
                  @click="checkAgreement(tour.id)"
                  class="btn btn-success b-40 btn-block"
                >
                  <span>book now</span>
                </button>
                <button v-else disabled class="btn btn-success b-40 btn-block">
                  <div class="lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </button>
              </div>
            </div>

            <div class="help-contact bg-grey-2">
              <h4 class="color-dark-2">Need Help?</h4>
              <p class="color-grey">Please contact us at anytime.</p>
              <a class="help-phone color-dark-2 link-dr-blue" :href="'tel:'+user_ac.phone_number">
                <img src="/client/img/detail/phone24-dark.png" alt />
                {{ user_ac.phone_number }}
              </a>
              <a
                v-if="user_ac.phone2 != null"
                class="help-phone color-dark-2 link-dr-blue"
                :href="'tel:'"
              >
                <img src="/client/img/detail/phone24-dark.png" alt />
                {{ user_ac.phone2 }}
              </a>
              <a
                v-if="user_ac.phone3 != null"
                class="help-phone color-dark-2 link-dr-blue"
                :href="'tel:'"
              >
                <img src="/client/img/detail/phone24-dark.png" alt />
                {{ user_ac.phone3 }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["id"],
  data() {
    return {
      tourResponse: {},
      
      myReview: {},
      tourAddress: {},
      calculatedRating: 0,
      tourReviews: {},
      tour: {},
      user_ac: {},
      authStatus: {},
      agreement: {},
      isLoading: false,
      reviewIsLoading: false,
      swiperOptionTop: {
        spaceBetween: 10,
        loop: true,
        loopedSlides: 5, //looped slides should be the same
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        }
      },
      swiperOptionThumbs: {
        spaceBetween: 10,
        centeredSlides: true,
        slidesPerView: "auto",
        touchRatio: 0.2,
        slideToClickedSlide: true
      }
    };
  },
  mounted() {
    this.getData();
    this.$nextTick(() => {
      const swiperTop = this.$refs.swiperTop.swiper;
      const swiperThumbs = this.$refs.swiperThumbs.swiper;
      swiperTop.controller.control = swiperThumbs;
      swiperThumbs.controller.control = swiperTop;
    });
  },
  methods: {
    saveReviewAndRating() {
      this.reviewIsLoading = true;
      const form = {
        rating: this.rating,
        review: this.review,
        reviewee: this.user_ac.id,
        tourId: this.tour.id
      };
      axios
        .post("/review/tour/store", form)
        .then(response => {
          this.getData();
          this.reviewIsLoading = false;
          console.log(response.data);
          if (response.data.exist == 1) {
            this.$swal.fire({
              text: response.data.message,
              icon: "success"
            });
          } else if (response.data.exist == 0) {
            this.$swal.fire({
              text: response.data.message,
              icon: "success"
            });
          }
        })
        .catch(error => {
          this.reviewIsLoading = false;
          console.log(error.response);
        });
    },
    checkAgreement(id) {
      this.isLoading = true;
      axios
        .get("/agree/check/" + this.agreement.id)
        .then(response => {
          this.isLoading = false;
          if (response.data.status == "auth") {
            if (response.data.exist) {
              window.location.href = "/book/" + id;
            } else if (!response.data.exist)
              this.$modal.show("hello-world" + id);
          } else if (response.data.status == "notAuth") {
            this.$swal.fire({
              icon: "error",
              text: "Sorry! you are required to Login!"
            });
          }
        })
        .catch(error => {
          this.isLoading = false;
          console.log(error.response);
        });
    },
    getData() {
      axios
        .get("/tour/guest/" + this.id + "/get")
        .then(response => {
          this.tour = response.data.tour;
          this.tourReviews = response.data.tour.reviews;
          this.toursOwner = response.data.tour.tour_owner;
          this.user_ac = response.data.property.tour_owner.user;
          this.tourAddress =
            response.data.tour.tour_owner.user.addresses[0];
          this.agreement = response.data.tour.tour_owner.agreement;
          this.myReview = response.data.myReview;
          this.authStatus = response.data.state;
          this.calculatedRating = response.data.calculatedRating;
        })
        .catch(error => {
          console.log(error.response);
        });
    }
  },
  computed: {
    review: {
      get() {
        return this.myReview != null ? this.myReview.review : "";
      },
      set(value) {
        if (this.myReview != null) {
          this.myReview.review = value;
        }
      }
    },
    rating: {
      get() {
        return this.myReview != null ? this.myReview.rating : 3;
      },
      set(value) {
        if (this.myReview != null) {
          this.myReview.rating = value;
        }
      }
    }
  }
};
</script>

<style>
.swiper-container {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.01);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.gallery-top {
  height: 400px !important;
  object-fit: cover;
  width: 100%;
}
.gallery-thumbs {
  height: 20% !important;
  object-fit: cover;
  background-size: cover;
  box-sizing: border-box;
  padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
  opacity: 1;
}
.vue-tabs .nav-pills > li.active > a,
.vue-tabs .nav-pills > li.active > a:hover,
.vue-tabs .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #000000;
}
.title {
  padding: 0px 0px;
}
</style>