<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Bookings</h3>

              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 350px;">
                  <input
                    type="text"
                    name="table_search"
                    class="form-control float-right"
                    placeholder="Search"
                  />

                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="max-height: 540px;">
              <table class="table table-head-fixed">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>User</th>
                    <th>name</th>
                    <th>model</th>
                    <th>Description</th>
                    <th>driver</th>
                    <th>Payment State</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(car, index) in carUsers" :key="index">
                    <td>{{ index + 1 }}</td>
                    <td>{{ car.user.firstname + ' ' + car.user.lastname }}</td>
                    <td>{{ car.model }}</td>
                    <td>{{ car.description }}</td>
                    <td>{{ car.driver }}</td>
                    <td>{{ tour.price }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      carUsers: {}
    };
  },
  methods: {
    getcarUsers() {
      axios
        .get("/car/booking/all")
        .then(response => {
          this.carUsers = response.data;
        })
        .catch(error => {
          console.log(error.response);
        });
    }
  }
};
</script>

<style>
</style>