<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-warning">
            <div class="card-header">
              <h3 class="card-title">Update your Agreement statement (terms & conditions)</h3>
            </div>
            <form role="form" @submit.prevent="createAgreement">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>
                        Agreement statment
                        <small
                          style="color: red;"
                        >(This ensures that any personnel that wants to stay in your hotel will have a full statement or your terms and conditions)</small>
                      </label>
                      <wysiwyg v-model="agreement" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      agreement: ""
    };
  },
  methods: {
    createAgreement: function() {}
  }
};
</script>

<style>
</style>