<template>
  <modal :name="'edit-modal'+this.id" :height="'auto'">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button type="button" class="close" @click="hideModal">
          <i class="now-ui-icons ui-1_simple-remove"></i>
        </button>
        <h4 class="title title-up">Edit Amenity</h4>
      </div>
      <form @submit.prevent="updateAmenity">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Name</label>
                <input
                  type="text"
                  class="form-control"
                  required
                  placeholder="Amenity Name"
                  v-model="name"
                />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Amenity Type</label>
                <select class="custom-select" v-model="type" required>
                  <option value="hotel">Hotel</option>
                  <option value="home">Home</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" v-if="!isLoading" class="btn btn-danger btn-block">Save changes</button>
          <button type="button" disabled v-else class="btn btn-danger btn-block">
            <div class="lds-ellipsis">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </button>
        </div>
      </form>
    </div>
  </modal>
</template>

<script>
export default {
  props: ["id", "amenityName", "amenityType", "amenity"],
  data() {
    return {
      isLoading: false
    };
  },
  methods: {
    alert(response) {
      this.$swal.fire({
        title: "Amenity",
        text: response.data.message,
        icon: "info"
      });
    },
    hideModal() {
      this.$modal.hide("edit-modal" + this.id);
    },
    updateAmenity() {
      this.isLoading = true;
      const form = {
        amenityName: this.name,
        amenityType: this.type
      };
      axios
        .patch("/admin/amenity/edit/" + this.id, form)
        .then(response => {
          this.isLoading = false;
          this.hideModal();
          this.alert(response);
        })
        .catch(error => {
          this.loading = false;
          console.log(error.response);
        });
    }
  },
  computed: {
    name: {
      get() {
        return this.amenityName;
      },
      set(value) {
        this.$emit("update:amenityName", value);
      }
    },
    type: {
      get() {
        return this.amenityType;
      },
      set(value) {
        this.$emit("update:amenityType", value);
      }
    }
  }
};
</script>

<style></style>
