<template>
	
	<div class="style-page2">

	    <a href="/auth">

	      <div class="conf-button-left">

	          <span class="fa fa-lock"></span>

	          <h6> login & signup</h6>

	      </div>
	      
	    </a> 

	</div>

</template>


<script>
	
	export default {



	}

</script>