<template>
  <div class="sidebar bg-white clearfix">
    <div class="sidebar-block">
      <h4 class="sidebar-title color-dark-2">Guest Houses</h4>

      <ul
        class="sidebar-category color-1"
        style="overflow-y: auto; height: auto; max-height: 200px;"
      >
        <li>
          <a href="#">property1</a>
        </li>
      </ul>
    </div>

    <div class="sidebar-block">
      <h4 class="sidebar-title color-dark-2">Property Type</h4>

      <ul
        class="sidebar-category color-1"
        style="overflow-y: auto; height: auto; max-height: 200px;"
      >
        <li>
          <a href="#">property type1</a>
        </li>
      </ul>
    </div>

    <div class="sidebar-block">
      <h4 class="sidebar-title color-dark-2">price range</h4>

      <div
        class="slider-range color-1 clearfix"
        data-counter="$"
        data-position="start"
        data-from="0"
        data-to="5000"
        data-min="0"
        data-max="5000"
      >
        <div class="range"></div>
        <input type="text" v-model="min_price_range" class="amount-start" readonly value="$0" />
        <input type="text" v-model="max_price_range" class="amount-end" readonly value="$5000" />
      </div>
    </div>

    <div class="sidebar-block">
      <h4 class="sidebar-title color-dark-2">star rating</h4>

      <div class="sidebar-rating">
        <div class="input-entry color-1">
          <input class="checkbox-form" id="star5" type="checkbox" v-model="hotelstar" value="5" />

          <label class="clearfix" for="star5">
            <span class="sp-check">
              <i class="fa fa-check"></i>
            </span>

            <span class="rate">
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
            </span>
          </label>
        </div>

        <div class="input-entry color-1">
          <input class="checkbox-form" id="star4" type="checkbox" v-model="hotelstar" value="4" />

          <label class="clearfix" for="star4">
            <span class="sp-check">
              <i class="fa fa-check"></i>
            </span>

            <span class="rate">
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star" style="color: #e8e8e8;"></span>
            </span>
          </label>
        </div>

        <div class="input-entry color-1">
          <input class="checkbox-form" id="star3" type="checkbox" v-model="hotelstar" value="3" />

          <label class="clearfix" for="star3">
            <span class="sp-check">
              <i class="fa fa-check"></i>
            </span>

            <span class="rate">
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star" style="color: #e8e8e8;"></span>
              <span class="fa fa-star" style="color: #e8e8e8;"></span>
            </span>
          </label>
        </div>

        <div class="input-entry color-1">
          <input class="checkbox-form" id="star2" type="checkbox" v-model="hotelstar" value="2" />

          <label class="clearfix" for="star2">
            <span class="sp-check">
              <i class="fa fa-check"></i>
            </span>

            <span class="rate">
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star" style="color: #e8e8e8;"></span>
              <span class="fa fa-star" style="color: #e8e8e8;"></span>
              <span class="fa fa-star" style="color: #e8e8e8;"></span>
            </span>
          </label>
        </div>

        <div class="input-entry color-1">
          <input class="checkbox-form" id="star1" type="checkbox" v-model="hotelstar" value="1" />
          <label class="clearfix" for="star1">
            <span class="sp-check">
              <i class="fa fa-check"></i>
            </span>

            <span class="rate">
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star" style="color: #e8e8e8;"></span>
              <span class="fa fa-star" style="color: #e8e8e8;"></span>
              <span class="fa fa-star" style="color: #e8e8e8;"></span>
              <span class="fa fa-star" style="color: #e8e8e8;"></span>
            </span>
          </label>
        </div>
      </div>
    </div>

    <div class="sidebar-block">
      <h4 class="sidebar-title color-dark-2">Amenity</h4>

      <div class="sidebar-rating">
        <div class="input-entry color-1">
          <input class="checkbox-form" id="text-1" type="checkbox" value="climat control" />

          <label class="clearfix" for="text-1">
            <span class="sp-check">
              <i class="fa fa-check"></i>
            </span>

            <span class="checkbox-text">Pet allowed</span>
          </label>
        </div>
      </div>
    </div>

    <div class="sidebar-block">
      <h4 class="sidebar-title color-dark-2">Review Score</h4>

      <div class="sidebar-score">
        <star-rating v-model="rating" :show-rating="false"></star-rating>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      rating: 0,
      hotelstar: [],
      checkedNames: []
    };
  },
  mounted() {
    this.aquireFacts();
  },
  methods: {
    aquireFacts() {
      /**
       * - property types
       * - property
       * - amenity
       */
    }
  }
};
</script>
