<template>
  <div>
    <div class="row" v-if="homes.length == 0">
      <div
        class="col-md-12"
        style="margin: 20px; box-shadow: 0px 6px 10px 5px rgba(0,0,0,0.02); padding:100px 5px 100px 5px; border-radius: 5px; background: #fff;"
      >
        <h2 style="text-align: center;">Sorry! No Guest Houses are found!</h2>
      </div>
    </div>
    <div class="list-item-entry" v-for="(home, index) in homes" :key="index">
      <div class="hotel-item style-8 bg-white">
        <div class="table-view">
          <div class="radius-top cell-view" v-if="homes[index].images.length > 0">
            <img :src="homes[index].images[0].image" alt style="height: 200px; object-fit: cover;" />
            <div class="price price-s-3 red tt">hot price</div>
          </div>
          <div class="radius-top cell-view" v-else>
            <img
              src="/client/img/home_1/main_slide_1.jpg"
              alt
              style="height: 200px; object-fit: cover;"
            />
            <div class="price price-s-3 red tt">hot price</div>
          </div>

          <div class="title hotel-middle clearfix cell-view">
            <div class="hotel-person color-dark-2 list-hidden">
              <span>${{ homes[index].price_per_night }}</span>
            </div>

            <div class="rate-wrap">
              <div class="rate" v-if="home.reviews.length == 0">
                <span class="fa fa-star" style="color: #e8e8e8;"></span>
                <span class="fa fa-star" style="color: #e8e8e8;"></span>
                <span class="fa fa-star" style="color: #e8e8e8;"></span>
                <span class="fa fa-star" style="color: #e8e8e8;"></span>
                <span class="fa fa-star" style="color: #e8e8e8;"></span>
              </div>
              <div class="rate" v-else>
                <div v-if="calculatedRating == 1">
                  <span class="fa fa-star color-yellow"></span>
                  <span class="fa fa-star color-dark"></span>
                  <span class="fa fa-star color-dark"></span>
                  <span class="fa fa-star color-dark"></span>
                  <span class="fa fa-star color-dark"></span>
                </div>
                <div v-if="calculatedRating == 2">
                  <span class="fa fa-star color-yellow"></span>
                  <span class="fa fa-star color-yellow"></span>
                  <span class="fa fa-star color-dark"></span>
                  <span class="fa fa-star color-dark"></span>
                  <span class="fa fa-star color-dark"></span>
                </div>
                <div v-if="calculatedRating == 3">
                  <span class="fa fa-star color-yellow"></span>
                  <span class="fa fa-star color-yellow"></span>
                  <span class="fa fa-star color-yellow"></span>
                  <span class="fa fa-star color-dark"></span>
                  <span class="fa fa-star color-dark"></span>
                </div>
                <div v-if="calculatedRating == 4">
                  <span class="fa fa-star color-yellow"></span>
                  <span class="fa fa-star color-yellow"></span>
                  <span class="fa fa-star color-yellow"></span>
                  <span class="fa fa-star color-yellow"></span>
                  <span class="fa fa-star color-dark"></span>
                </div>
                <div v-if="calculatedRating == 5">
                  <span class="fa fa-star color-yellow"></span>
                  <span class="fa fa-star color-yellow"></span>
                  <span class="fa fa-star color-yellow"></span>
                  <span class="fa fa-star color-yellow"></span>
                  <span class="fa fa-star color-yellow"></span>
                </div>
              </div>
              <i>{{ home.reviews.length }} reviews</i>
            </div>
            <h4>
              <b>{{ home.home_owner.company_name }}</b>
            </h4>
            <span class="f-14 color-dark-2 grid-hidden">{{ home.address }}</span>
            <p
              class="f-14"
              v-if="home.description.length > 100"
            >{{ home.description.substring(0,100) }}...</p>
            <p class="f-14" v-else>{{ home.description }}</p>
            <div class="hotel-icons-block grid-hidden">
              <img class="hotel-icon" src="/client/img/tour_list/hotel_icon_1.png" alt />
              <img class="hotel-icon" src="/client/img/tour_list/hotel_icon_2.png" alt />
              <img class="hotel-icon" src="/client/img/tour_list/hotel_icon_3.png" alt />
              <img class="hotel-icon" src="/client/img/tour_list/hotel_icon_4.png" alt />
              <img class="hotel-icon" src="/client/img/tour_list/hotel_icon_5.png" alt />
            </div>
            <div style="margin-top: 10px;">
              <a
                :href="'/house/guest/' + home.id"
                class="btn btn-primary btn-block"
                style="font-size: 16px;"
              >
                View More
                <i class="fa fa-eye"></i>
              </a>
            </div>
          </div>

          <div class="title hotel-right bg-dr-blue clearfix cell-view">
            <div class="hotel-person color-white">
              <span>${{ home.price_per_night }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      homes: {},
      price: null,
      calculatedRating: null,
      reviews: []
    };
  },
  mounted() {
    this.gethomes();
    // this.calculateRating();
  },
  methods: {
    calculateRating() {
      const countOfPeopleWhoRated5 = this.reviews.find(value => {
        return value.rating == 5;
      });
      const countOfPeopleWhoRated4 = this.reviews.find(value => {
        return value.rating == 4;
      });
      const countOfPeopleWhoRated3 = this.reviews.find(value => {
        return value.rating == 3;
      });
      const countOfPeopleWhoRated2 = this.reviews.find(value => {
        return value.rating == 2;
      });
      const countOfPeopleWhoRated1 = this.reviews.find(value => {
        return value.rating == 1;
      });
      console.log(countOfPeopleWhoRated5);
      //   if()
      //   this.calculatedRating =
      //     (countOfPeopleWhoRated5.length * 5 +
      //       countOfPeopleWhoRated4.length * 4 +
      //       countOfPeopleWhoRated3.length * 3 +
      //       countOfPeopleWhoRated2.length * 2 +
      //       countOfPeopleWhoRated1 * 1) /
      //       $countOfPeopleWhoRated5.length +
      //     $countOfPeopleWhoRated4.length +
      //     $countOfPeopleWhoRated3.length +
      //     $countOfPeopleWhoRated2.length +
      //     $countOfPeopleWhoRated1.length;
      //   return Math.round(this.calculatedRating);
    },
    isLoading(isLoad, state) {
      isLoad = state;
      console.log(isLoad);
      return isLoad == state ? false : true;
    },

    getRating() {},
    gethomes() {
      axios
        .get("/house/guest/vue")
        .then(response => {
          this.homes = response.data.house;
          this.reviews = response.data.house.reviews;
          this.calculatedRating = response.data.calculatedRating;
          console.log(this.homes);
        })
        .catch(error => {
          console.log(error.response);
        });
    }
  }
};
</script>
