<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-warning">
            <div class="card-header">
              <h3 class="card-title">Create RoomType</h3>
            </div>
            <form role="form" @submit.prevent="createRoomtype">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Roomtype Name</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="RoomType Name"
                        v-model="name"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Roomtype Type</label>
                      <select name="type" v-model="type" class="form-control">
                        <option value="property">Property</option>
                        <option value="room">Room</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label>Roomtype Description</label>
                      <wysiwyg v-model="description" />
                    </div>
                    <div
                      v-if="errors.has('description')"
                      class="alert alert-danger"
                    >{{ errors.validateWizard("description") }}</div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" v-if="!isLoading" class="btn btn-primary">Submit</button>
                <button type="submit" v-else disabled class="btn btn-primary">
                  <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </button>
              </div>
            </form>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Amenities</h3>

              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 350px;">
                  <input
                    type="text"
                    name="table_search"
                    class="form-control float-right"
                    placeholder="Search"
                  />

                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="max-height: 540px;">
              <table class="table table-head-fixed">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Roomtype Name</th>
                    <th>Rommtype Description</th>
                    <th>Rommtype Type</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(roomtype, index) in roomtypez.data" :key="roomtype.id">
                    <td>{{ index + 1 }}</td>
                    <td>{{ roomtype.name }}</td>
                    <td v-html="roomtype.description"></td>
                    <td>{{ roomtype.type }}</td>
                    <td>
                      <delete-component
                        :route="'admin/roomtype'"
                        :id="roomtype.id"
                        :getResult="getRoomtype"
                      ></delete-component>
                      <edit-roomtype-component
                        :roomtype="roomtypez"
                        :id="roomtypez.data[index].id"
                        :roomtypeName.sync="roomtypez.data[index].name"
                        :roomtypeDescription.sync="roomtypez.data[index].description"
                      ></edit-roomtype-component>
                      <button
                        class="btn btn-sm btn-icon btn-primary"
                        @click="showEditModal(roomtype.id)"
                      >
                        <i class="fas fa-edit"></i>
                      </button>
                      <button
                        class="btn btn-sm btn-icon btn-danger"
                        @click="showDeleteModal(roomtype.id)"
                      >
                        <i class="fas fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Errors from "../../../../../Errors.js";
export default {
  data() {
    return {
      description: null,
      name: null,
      isLoading: false,
      roomtypez: {},
      type: "room",
      errors: Errors
    };
  },
  mounted() {
    this.getRoomtype();
  },
  methods: {
    createRoomtype: function() {
      if (this.description == null || this.description == "<br>") {
        return Errors.fill({
          description: "Roomtype description is required!"
        });
      }
      this.isLoading = true;
      const form = {
        description: this.description,
        name: this.name,
        type: this.type
      };
      axios
        .post("/admin/roomtype", form)
        .then(response => {
          this.isLoading = false;
          this.clearPopulatedData();
          this.alert(response);
          this.getRoomtype();
        })
        .catch(error => {
          this.isLoading = false;
          console.log(error.response);
        });
    },
    showDeleteModal(id) {
      this.$modal.show("delete-modal" + id);
    },
    showEditModal(id) {
      this.$modal.show("edit-modal" + id);
    },
    getRoomtype() {
      axios
        .get("/admin/roomtype/all")
        .then(response => {
          this.roomtypez = response.data;
        })
        .catch(error => {
          console.log(error.response);
        });
    },
    clearPopulatedData: function() {
      this.name = null;
      this.description = null;
    },
    alert(response) {
      this.$swal.fire({
        title: "Roomtype",
        text: response.data.message,
        icon: "success"
      });
    }
  },
  watch: {
    description() {
      Errors.clearErr("description");
    }
  }
};
</script>

<style>
</style>
