<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Bookings</h3>

              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 350px;">
                  <input
                    type="text"
                    name="table_search"
                    class="form-control float-right"
                    placeholder="Search"
                  />

                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="max-height: 540px;">
              <table class="table table-head-fixed">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>User</th>
                    <th>name</th>
                    <th>Date</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Payment State</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(tour, index) in tourUsers" :key="index">
                    <td>{{ index + 1 }}</td>
                    <td>{{ tour.user.firstname + ' ' + tour.user.lastname }}</td>
                    <td>{{ tour.tour_date }}</td>
                    <td>{{ tour.depart_from}}</td>
                    <td>{{ tour.arrive_at }}</td>
                    <td>{{ tour.price_per_person }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      tourUsers: {}
    };
  },
  methods: {
    gettourUsers() {
      axios
        .get("/tour/booking/all")
        .then(response => {
          this.tourUsers = response.data;
        })
        .catch(error => {
          console.log(error.response);
        });
    }
  }
};
</script>

<style>
</style>