<template>
  <div class="tab-info">
    <div class="row">
      <div class="col-md-12">
        <div class="hotels-block">
          <h4>Flying From</h4>

          <div class="input-style-1">
            <img src="/client/img/loc_icon_small_grey.png" alt />

            <input type="text" placeholder="Destination; City or Airport" required />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="hotels-block">
          <h4>To</h4>

          <div class="input-style-1">
            <img src="/client/img/loc_icon_small_grey.png" alt />

            <input type="text" placeholder="Destination; Zip Code" required />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <div class="hotels-block">
          <h4>Check in</h4>

          <div class="input-style-1">
            <img src="/client/img/calendar_icon_grey.png" alt />

            <input type="text" placeholder class="datepicker" required />
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="hotels-block">
          <h4>Time</h4>

          <div class="time-input">
            <img src="/client/img/clock.png" alt />

            <input type="text" data-field="time" readonly />
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="hotels-block">
          <h4>Check in</h4>

          <div class="input-style-1">
            <img src="/client/img/calendar_icon_grey.png" alt />

            <input type="text" placeholder class="datepicker" required />
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="hotels-block">
          <h4>Time</h4>

          <div class="time-input">
            <img src="/client/img/clock.png" alt />

            <input type="text" data-field="time" readonly />
          </div>
        </div>
      </div>

      <div class="col-md-2 col-md-offset-2">
        <div class="submit">
          <input class="c-button b-60 bg-white hv-orange" type="submit" value="search now" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="range-wrapp">
          <h4>Price range</h4>

          <div
            class="slider-range"
            data-counter="$"
            data-position="start"
            data-from="0"
            data-to="5000"
            data-min="0"
            data-max="5000"
          >
            <div class="range"></div>

            <input type="text" class="amount-start" readonly value="$0" />

            <input type="text" class="amount-end" readonly value="$1500" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>
