<template>
  <div class="tab-info">
    <div class="row">
      <div class="col-md-6">
        <div class="hotels-block">
          <h4>Flying From</h4>

          <div class="input-style-1">
            <input type="text" placeholder="Destination; City or Airport" required />
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="hotels-block">
          <h4>Flying To</h4>

          <div class="input-style-1">
            <input type="text" placeholder="Destination; City or Airport" required />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="hotels-block">
          <h4>Departing</h4>

          <div class="input-style-1">
            <input type="text" placeholder="mm/dd/yy" class="datepicker" required />
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div style="padding-left: 0px; margin-top: 30px;">
          <button
            class="btn btn-block btn-success"
            type="submit"
            style="width: 100%; margin-top: 0px; padding: 10px;"
          >
            search now
            <span class="fa fa-search" style="margin-left: 8px;"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>
