<template>
  <div class="detail-wrapper">
    <div class="container">
      <div class="row padd-90">
        <div class="col-xs-12 col-md-8">
          <form
            class="simple-from"
            @submit.prevent="inscribe"
            ref="inscribe"
            @keydown="errors.clearErr($event.target.name)"
          >
            <div class="simple-group">
              <h3 class="small-title">Your Personal Information</h3>
              <hr />
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <div class="form-block type-2 clearfix">
                    <div class="form-label color-dark-2">First Name</div>
                    <div class="input-style-1 b-50 brd-0 type-2 color-3">
                      <input
                        type="text"
                        placeholder="Enter your first name"
                        v-model="firstname"
                        name="fname"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-block type-2 clearfix">
                    <div class="form-label color-dark-2">Last Name</div>
                    <div class="input-style-1 b-50 brd-0 type-2 color-3">
                      <input
                        type="text"
                        placeholder="Enter your last name"
                        v-model="lastname"
                        name="lname"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-block type-2 clearfix">
                    <div class="form-label color-dark-2">E-mail Adress</div>
                    <div class="input-style-1 b-50 brd-0 type-2 color-3">
                      <input
                        type="text"
                        placeholder="Enter your e-mail adress"
                        name="email"
                        v-model="email"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-block type-2 clearfix">
                    <div class="form-label color-dark-2">Verify E-mail Address</div>
                    <div class="input-style-1 b-50 brd-0 type-2 color-3">
                      <input
                        type="text"
                        v-model="verify_email"
                        placeholder="Enter your e-mail adress for verify"
                        required
                      />
                    </div>
                    <div
                      class="alert alert-danger"
                      v-if="errors.has('verifyError')"
                    >{{ errors.first('verifyError') }}</div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-block type-2 clearfix">
                    <div class="form-label color-dark-2">Phone Number</div>
                    <div class="input-style-1 b-50 brd-0 type-2 color-3">
                      <input
                        type="text"
                        placeholder="Enter your phone number"
                        name="phone"
                        required
                        v-model="phone_number"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-block type-2 clearfix">
                    <div
                      class="form-label color-dark-2"
                      v-if="type == 'room' || type == 'property'"
                    >CheckIn and CheckOut</div>
                    <div
                      class="form-label color-dark-2"
                      v-else-if="type == 'car'"
                    >Pick-up and Drop-off</div>
                    <div
                      class="input-style-1 b-50 brd-0 type-2 color-3"
                      v-if="type == 'room' || type == 'property' || type == 'car'"
                    >
                      <date-range-picker
                        style="width: 100%; border-radius: 0px; background: #F8F8F8; height: 45px; border: none;"
                        :showWeekNumbers="true"
                        v-model="dateRange"
                      ></date-range-picker>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="sample-group" v-if="type == 'room' || type == 'property'">
              <h3 class="small-title">Mini Detail</h3>
              <hr />
              <div class="row">
                <div class="col-xs-4 col-sm-4">
                  <div class="form-label color-dark-2">Other Adults</div>
                  <div class="input-style-1 b-50 brd-0 type-2 color-3">
                    <input
                      type="number"
                      v-model.number="adults"
                      :max="data.maximum_capacity - currentCapacity"
                      min="0"
                      minlength="1"
                      v-if="currentCapacity == data.maximum_capacity"
                    />
                    <input
                      type="number"
                      v-model.number="adults"
                      :max="data.maximum_capacity"
                      min="0"
                      minlength="1"
                      v-else
                    />
                  </div>
                </div>
                <div class="col-xs-4 col-sm-4">
                  <div class="form-label color-dark-2">Children</div>
                  <div class="input-style-1 b-50 brd-0 type-2 color-3">
                    <input
                      type="number"
                      v-model.number="children"
                      :max="data.maximum_capacity - currentCapacity"
                      min="0"
                      minlength="1"
                      v-if="currentCapacity == data.maximum_capacity"
                    />
                    <input
                      type="number"
                      v-model.number="children"
                      :max="data.maximum_capacity"
                      min="0"
                      minlength="1"
                      v-else
                    />
                  </div>
                </div>
                <div class="col-xs-4 col-sm-4">
                  <div class="form-label color-dark-2">Infant</div>
                  <div class="input-style-1 b-50 brd-0 type-2 color-3">
                    <input
                      type="number"
                      v-model.number="infant"
                      :max="data.maximum_capacity - currentCapacity"
                      min="0"
                      minlength="1"
                      v-if="currentCapacity == data.maximum_capacity"
                    />
                    <input
                      type="number"
                      v-model.number="infant"
                      :max="data.maximum_capacity"
                      min="0"
                      minlength="1"
                      v-else
                    />
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="sample-group">
              <h3 class="small-title">Payment Information</h3>
              <hr />
              <div class="row">
                <div class="col-md-12">
                  <div ref="element_of_card" id="element_of_card"></div>
                </div>
                <div class="col-md-12">
                  <div
                    role="alert"
                    class="alert alert-danger"
                    v-if="errors.has('card_errors')"
                  >{{ errors.validateWizard('card_errors') }}</div>
                </div>
              </div>
            </div>
            <hr />
            <div class="simple-group">
              <h3 class="small-title">Your Extra Information</h3>
              <hr />
              <div class="row">
                <div class="col-xs-12 col-sm-12">
                  <div class="input-style-1 b-50 brd-0 type-2 color-3">
                    <textarea
                      name="extra_info"
                      class="area-style-1 color-3"
                      placeholder="Extra information"
                      v-model="extra_info"
                    ></textarea>
                  </div>
                </div>
              </div>
              <br />
              <div class="confirm-terms">
                <div class="input-entry color-3">
                  <input
                    class="checkbox-form"
                    id="text-id-2"
                    type="checkbox"
                    name="checkbox"
                    value="climat control"
                    required
                    v-model="agreement"
                  />
                  <label class="clearfix" for="text-id-2">
                    <span class="sp-check">
                      <i class="fa fa-check"></i>
                    </span>
                    <span class="checkbox-text">
                      By continuing, you agree to the
                      <a
                        class="color-dr-blue-2 link-dark-2"
                        href="#"
                      >Terms and Conditions</a>.
                    </span>
                  </label>
                </div>
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-block btn-success"
              :disabled="disabled"
              v-if="!isLoading"
            >confirm booking</button>
            <button type="submit" class="btn btn-block btn-success" disabled v-else>
              <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </button>
          </form>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="right-sidebar">
            <div class="popular-tours bg-grey-2">
              <h4 class="color-dark-2">RESERVATION DETAILS</h4>
              <div>
                <ul v-if="type == 'flight'">
                  <li>Flight: Savannah</li>
                  <li>Take off: 2015/JULY/19TH</li>
                  <li>Landing: 2015/JULY/26TH</li>
                  <li>Price: $620</li>
                </ul>
                <ul v-if="type == 'room'">
                  <li>Hotel: {{ data.hotel_owner.company_name }}</li>
                  <li>Room number: {{ data.room_no }}</li>
                  <li>Room Type: {{ data.room_type.name }}</li>
                  <li>Check In: {{ JSON.stringify(dateRange.startDate).slice(1, 11) }}</li>
                  <li>Check Out: {{ JSON.stringify(dateRange.endDate).slice(1, 11) }}</li>
                  <li>Price: ${{ data.price_per_night }}</li>
                  <li>Maximum Capacity: {{ data.maximum_capacity }} number of people</li>
                  <hr />
                  <li style="font-weight: 700;">Number of people staying: {{ currentCapacity }}</li>
                  <li style="font-weight: 700;">Total days staying: {{ getTotalDays() }} Days</li>
                  <li style="font-weight: 700;">Total Price: ${{ getTotalPrice() }}</li>
                  <hr />
                  <li
                    class="available"
                    v-if="data.availability == 'available'"
                  >{{ data.availability }}</li>
                  <li
                    class="unavailable"
                    v-else-if="data.availability == 'unavailable'"
                  >{{ data.availability }}</li>
                </ul>
                <ul v-if="type == 'property'">
                  <li>Property: {{ data.name }}</li>
                  <li>Property Type: {{ data.property_type.name }}</li>
                  <li>Check In: {{ JSON.stringify(dateRange.startDate).slice(1, 11) }}</li>
                  <li>Check Out: {{ JSON.stringify(dateRange.endDate).slice(1, 11) }}</li>
                  <li>Price: ${{ data.price_per_night }}</li>
                  <li>Maximum Capacity: {{ data.maximum_capacity }} number of people</li>
                  <hr />
                  <li style="font-weight: 700;">Number of people staying: {{ currentCapacity }}</li>
                  <li style="font-weight: 700;">Total days staying: {{ getTotalDays() }} Days</li>
                  <li style="font-weight: 700;">Total Price: ${{ getTotalPrice() }}</li>
                  <hr />
                  <li
                    class="available"
                    v-if="data.availability == 'available'"
                  >{{ data.availability }}</li>
                  <li
                    class="unavailable"
                    v-else-if="data.availability == 'unavailable'"
                  >{{ data.availability }}</li>
                </ul>
                <ul v-if="type == 'car'">
                  <li>Car Name: {{ data.name }}</li>
                  <li>Car Model: {{ data.model }}</li>
                  <li>Driver: {{ data.driver.name }}</li>
                  <li>Booked From: {{ JSON.stringify(dateRange.startDate).slice(1, 11) }}</li>
                  <li>Booked until: {{ JSON.stringify(dateRange.endDate).slice(1, 11) }}</li>
                  <li>Price: ${{ data.price }}</li>
                  <hr />
                  <li style="font-weight: 700;">Total days staying: {{ getTotalDays() }} Days</li>
                  <li style="font-weight: 700;">Total Price: ${{ getTotalPrice() }}</li>
                  <hr />
                  <li
                    class="available"
                    v-if="data.availability == 'available'"
                  >{{ data.availability }}</li>
                  <li
                    class="unavailable"
                    v-else-if="data.availability == 'unavailable'"
                  >{{ data.availability }}</li>
                </ul>
                <ul v-if="type == 'tour'">
                  <li>Tour Name: {{ data.name }}</li>
                  <li>Tour Date: {{ data.tour_date }}</li>
                  <li>Driver: {{ data.driver.name }}</li>
                  <li>Check In: {{ JSON.stringify(dateRange.startDate).slice(1, 11) }}</li>
                  <li>Check Out: {{ JSON.stringify(dateRange.endDate).slice(1, 11) }}</li>
                  <li>Price: ${{ data.price_per_person }}</li>
                  <hr />
                  <li style="font-weight: 700;">Total days staying: {{ getTotalDays() }} Days</li>
                  <li style="font-weight: 700;">Total Price: ${{ getTotalPrice() }}</li>
                  <hr />
                  <li
                    class="available"
                    v-if="data.availability == 'available'"
                  >{{ data.availability }}</li>
                  <li
                    class="unavailable"
                    v-else-if="data.availability == 'unavailable'"
                  >{{ data.availability }}</li>
                </ul>
              </div>
            </div>

            <div
              class="sidebar-text-label bg-dr-blue-2"
              style="background: #fff; box-shadow: 0px 10px 10px 5px rgba(0,0,0,0.03);"
            >useful information</div>

            <div class="help-contact bg-grey-2">
              <h4 class="color-dark-2">Need Help?</h4>
              <p class="color-grey-2"></p>
              <a
                class="help-phone color-dark-2 link-dr-blue-2"
                :href="'tel:' + possessor.phone_number"
              >
                <i class="fa fa-phone"></i>
                {{ possessor.phone_number }}
              </a>
              <a class="help-mail color-dark-2 link-dr-blue-2" :href="'mailto:' + possessor.email">
                <i class="fa fa-envelope"></i>
                {{ possessor.email }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Errors from "../../../../Errors";
let stripe = Stripe(`pk_test_EUdV6nD5yMf6GnsDoiEWR4Md00QbK4tTGd`),
  elements = stripe.elements(),
  card = undefined;

export default {
  /**
   * Type - its the type of the data - property, room, car, tour, etc.
   * Data - Its the data itself which will be divided by the type if statement
   * add dateRange
   */
  props: ["type", "id"],
  data() {
    return {
      agreement: false,
      disabled: true,
      userFact: {},
      possessor: {},
      data: {},
      books: {},
      extra_info: null,
      errors: Errors,
      isLoading: false,
      adults: 0,
      children: 0,
      stripeToken: null,
      infant: 0,
      dateRange: {
        startDate: new Date(),
        endDate: new Date()
      }
    };
  },
  mounted: function() {
    this.recoupData();
    this.stripeSetup();
  },
  methods: {
    stripeTokenHandler: function(token) {
      return new Promise((resolve, reject) => {
        var form = this.$refs.inscribe;
        var hiddenInput = document.createElement("input");
        hiddenInput.setAttribute("type", "hidden");
        hiddenInput.setAttribute("v-model", "stripeToken");
        form.appendChild(hiddenInput);
        this.stripeToken = token.id;
        if (this.stripeToken == token.id) {
          resolve(this.stripeToken);
        } else {
          this.stripeToken = token.id;
          resolve(this.stripeToken);
        }
      });
    },
    stripeSetup() {
      let style = {
        base: {
          color: "#32325d",
          fontFamily: "'Montserrat', sans-serif",
          fontSmoothing: "antialiased",
          background: "#e8e8e8",
          padding: "20px",
          fontSize: "14px",
          "::placeholder": {
            color: "#aab7c4"
          }
        },
        invalid: {
          color: "#fa755a",
          iconColor: "#fa755a"
        }
      };
      card = elements.create("card", { style: style });
      if (this.$refs.element_of_card != undefined) {
        card.mount(this.$refs.element_of_card);
      } else {
        setTimeout((refs = this.$refs) => {
          card.mount(refs.element_of_card);
        }, 2000);
      }
    },
    recoupData() {
      var url = "/book/" + parseInt(this.id) + "/all/data/" + this.type;
      axios
        .get(url)
        .then(response => {
          this.userFact = response.data.userFact;
          this.data = response.data.data;
          this.books = response.data.books;
          if (this.type == "room") {
            this.possessor = response.data.data.hotel_owner.user;
          }
          if (this.type == "property") {
            this.possessor = response.data.data.home_owner.user;
          }
          if (this.type == "tour") {
            this.possessor = response.data.data.tour_owner.user;
          }
          if (this.type == "car") {
            this.possessor = response.data.data.car_owner.user;
          }
        })
        .catch(error => {
          console.log(error.response);
        });
    },
    inscribe() {
      this.isLoading = true;
      const config = {
        data: this.data
      };

      if (this.conformVerification()) {
        this.isLoading = false;
        Errors.fill([{ verifyError: "Email Verification Does not match!" }]);
      } else {
        let self = this;
        stripe.createToken(card, config).then(async result => {
          if (result.error) {
            self.hasCardErrors = true;
            self.$forceUpdate();
            self.isLoading = false;
            Errors.fill([{ card_errors: result.error }]);
            return;
          } else {
            Errors.clearErr("verifyError");
            Errors.clearErr("card_errors");
            await self.stripeTokenHandler(result.token);
            var configuration = {};
            if (self.type != "flight") {
              configuration = {
                data: self.data,
                firstname: self.firstname,
                lastname: self.lastname,
                email: self.email,
                phone_number: self.phone_number,
                extraInfo: self.extra_info,
                checkin: self.dateRange.startDate,
                checkout: self.dateRange.endDate,
                totalPrice: self.getTotalPrice(),
                adults: self.adults,
                children: self.children,
                infant: self.infant,
                stkn: self.stripeToken
              };
            } else {
              configuration = {
                flightname: self.flightname
              };
            }
            axios
              .post(
                "/book/" + parseInt(self.id) + "/" + self.type,
                configuration
              )
              .then(response => {
                self.isLoading = false;
                self.alert(response);
                self.clearPopulatedData();
                console.log(response);
              })
              .catch(error => {
                self.isLoading = false;
                console.log(error);
              });
          }
        });
      }
    },
    alert(response) {
      if (response.data.status == 1) {
        this.recoupData();
        this.$swal.fire({
          title: "Booking",
          text: response.data.message,
          icon: "success"
        });
      } else if (response.data.status == 0) {
        this.$swal.fire({
          title: "Booking",
          text: response.data.message,
          icon: "error"
        });
      }
    },
    clearPopulatedData() {
      this.extra_info = null;
      this.dateRange.startDate = new Date();
      this.dateRange.endDate = new Date();
      this.getTotalPrice();
      elements.clear();
      this.adults = 0;
      this.children = 0;
      this.infant = 0;
      this.stripeToken = null;
    },
    conformVerification() {
      this.email.length != this.verify_email.length &&
      this.email != this.verify_email
        ? true
        : false;
    },
    getTotalDays() {
      var totalDays =
        (new Date(this.dateRange.endDate).getTime() -
          new Date(this.dateRange.startDate).getTime()) /
          (1000 * 3600 * 24) +
        1;
      return totalDays;
    },
    getTotalPrice: function() {
      var totalPrice = null;
      if (this.type == "tour") {
        totalPrice = this.getTotalDays() * this.data.price_per_person;
      } else if (this.type == "car") {
        totalPrice = this.getTotalDays() * this.data.price;
      } else {
        totalPrice =
          this.getTotalDays() *
          this.data.price_per_night *
          this.currentCapacity;
      }

      return totalPrice;
    },
    purchase: function() {
      let self = this;
      stripe.createToken(card).then(function(result) {
        if (result.error) {
          self.hasCardErrors = true;
          self.$forceUpdate(); // Forcing the DOM to update so the Stripe Element can update.
          return;
        }
      });
    }
  },
  computed: {
    firstname: {
      get() {
        return this.userFact.firstname;
      },
      set(value) {
        this.userFact.firstname = value;
      }
    },
    lastname: {
      get() {
        return this.userFact.lastname;
      },
      set(value) {
        this.userFact.lastname = value;
      }
    },
    email: {
      get() {
        return this.userFact.email;
      },
      set(value) {
        this.userFact.email = value;
      }
    },
    verify_email: {
      get() {
        return this.userFact.email;
      },
      set(value) {
        this.userFact.email = value;
      }
    },
    phone_number: {
      get() {
        return this.userFact.phone_number;
      },
      set(value) {
        this.userFact.phone_number = value;
      }
    },
    currentCapacity: {
      get() {
        var cal =
          parseInt(this.adults) +
          parseInt(this.children) +
          parseInt(this.infant) +
          1;
        return cal;
      }
    }
  },
  watch: {
    agreement() {
      this.agreement == false
        ? (this.disabled = true)
        : (this.disabled = false);
    },
    verify_email() {
      this.email.length != this.verify_email.length &&
      this.email != this.verify_email
        ? Errors.fill([{ verifyError: "Email Verification Does not match!" }])
        : Errors.clearErr("verifyError");
    }
  }
};
</script>

<style>
.StripeElement {
  border: 0.01px solid #00000010 !important;
  padding: 20px !important;
}
.reportrange-text {
  background: #f8f8f8 !important;
  border: none !important;
  padding-top: 12px !important;
  color: #00000050 !important;
}
.available {
  background: rgb(23, 165, 23);
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}
.unavailable {
  background: rgb(153, 41, 41);
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
</style>
