<template>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Bookings</h3>

              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 350px;">
                  <input
                    type="text"
                    name="table_search"
                    class="form-control float-right"
                    placeholder="Search"
                  />

                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="max-height: 540px;">
              <table class="table table-head-fixed">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>User</th>
                    <th>Room number</th>
                    <th>Check In</th>
                    <th>Check Out</th>
                    <th>Adults</th>
                    <th>Children</th>
                    <th>Infant</th>
                    <th>Payment State</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(book, index) in bookedUsers" :key="index">
                    <td>{{ index + 1 }}</td>
                    <td>{{ book.user.firstname + ' ' + book.user.lastname }}</td>
                    <td>{{ book.property.name }}</td>
                    <td>{{ book.checkin }}</td>
                    <td>{{ book.checkout }}</td>
                    <td>{{ book.adults }}</td>
                    <td>{{ book.children }}</td>
                    <td>{{ book.infant }}</td>
                    <td>{{ book.payment_status }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      bookedUsers: {}
    };
  },
  methods: {
    getBookedUsers() {
      axios
        .get("/home/booking/all")
        .then(response => {
          this.bookedUsers = response.data;
        })
        .catch(error => {
          console.log(error.response);
        });
    }
  }
};
</script>

<style>
</style>
