<template>
  <ul>
    <li class="type-1 active">
      <a href="/">home</a>
    </li>

    <li class="type-1">
      <a href="/hotels">Hotels</a>
    </li>

    <li class="type-1">
      <a href="/house/guest">Guest House</a>
    </li>

    <li class="type-1">
      <a href="/flights">Flights</a>
    </li>

    <li class="type-1">
      <a href="/car/guest">Cars</a>
    </li>

    <li class="type-1">
      <a href="/tour/guest">Tours</a>
    </li>
  </ul>
</template>

<script>
export default {};
</script>
